[2022-03-04 12:37] nadezhday commented on #635
@ianlethic FYI

[2022-03-04 13:03] myrix commented on #635
Fixed, now finishes ok.

[2022-03-04 13:03] #635 closed, assigned to nobody

[2022-03-04 13:05] nadezhday commented on #618
![image](https://user-images.githubusercontent.com/59951991/156768533-891d34f0-ca10-480e-a6d5-366ef5118444.png)

Add buttons are missing in Russian version

[2022-03-04 13:49] jandrew44 commented on #529
Added scroll into view when element is not visible.

[2022-03-04 13:49] #529 closed, assigned to jandrew44

[2022-03-04 13:51] jandrew44 commented on #512
Duplicate of #531.

[2022-03-04 13:51] #512 closed, assigned to Dina936

[2022-03-05 04:56] nadezhday commented on #635
Test PASSed.

[2022-03-05 05:48] nadezhday commented on #632
However, Converted successfully.

Click txt link

Error message is reported:
Could not get tasks

![image](https://user-images.githubusercontent.com/59951991/156869908-00a63174-13ba-40ee-be55-979ff6be5787.png)

![image](https://user-images.githubusercontent.com/59951991/156869850-01fc310c-4549-45c0-8330-6ad9c6a24668.png)
Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/

[2022-03-05 05:50] nadezhday opened #636 "Docx->eaf: clicking the converted file Error 'could not get tasks' appears"
The problem found during verification of https://github.com/ispras/lingvodoc-react/issues/632

/docx2eaf
check All options ('All tables', 'No header' and 'No parsing' flags, select the file)
Result: converts successfully.

Click the link.
![image](https://user-images.githubusercontent.com/59951991/156870078-6cc66b41-d835-45d4-9ad7-3cccdec86c3f.png)

Problem: After clicking the file link we can see

[2022-03-05 05:52] nadezhday commented on #632
Files are generated. Case is verified. Covered in tests\test_docx2eaf.py

[2022-03-05 06:16] nadezhday commented on #636
Cannot reproduce any more. Closing.

[2022-03-05 06:16] #636 closed, assigned to nobody

[2022-03-05 06:16] nadezhday commented on #636
Cannot reproduce any more. Closing.

[2022-03-05 06:38] nadezhday commented on #629
Realization of Add organization dialog and its localization will be done here: https://github.com/ispras/lingvodoc-react/issues/618 [Create organization dialog and its localization](https://github.com/ispras/lingvodoc-react/issues/618#)

[2022-03-05 06:52] nadezhday commented on #618
Add organization dialog:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=1927%3A7720

Do not forget to localize it.

[2022-03-05 06:55] nadezhday opened #637 "Possibility to delete a member from Organization"
https://github.com/ispras/lingvodoc-react/issues/629 Page with organizations]

http://83.149.198.62/organizations

If we can add a member to an organization then it should be possible to remove this member.

![image](https://user-images.githubusercontent.com/59951991/156872239-2b980b9a-6b9e-4cde-bf9b-3db876703dab.png)

@al-indigo what do you think?

[2022-03-05 07:02] nadezhday opened #638 "Ordering in Organization table"
https://github.com/ispras/lingvodoc-react/issues/629 Page with organizations

http://83.149.198.62/organizations
Should we have a fixed ordering in Organization table?

![image](https://user-images.githubusercontent.com/59951991/156872411-9d635768-22d0-416f-b689-3b6cc0c946ba.png)

Problem: after Accepting requests (Become an admin) the organization ordering is changed.

![image](https://user-image

[2022-03-05 07:02] nadezhday commented on #629
![image](https://user-images.githubusercontent.com/59951991/156871768-9de71176-58ad-4787-8319-60f7be2573b8.png)

@nataliauvarova  @al-indigo, FYI
Should we add a possibility to delete a member from Organization.
https://github.com/ispras/lingvodoc-react/issues/637 Possibility to delete a member from Organization

Should we have a fixed order in the Organization table?
https://github.com/ispras/lin

[2022-03-05 07:15] nadezhday commented on #617
Verified
![image](https://user-images.githubusercontent.com/59951991/156872846-7324995d-a556-4878-95b2-28fef696d6f4.png)

[2022-03-05 07:28] nadezhday commented on #484
Verified: http://83.149.198.62/import_dialeqt

Verified: http://83.149.198.62/import

Verified: http://83.149.198.62/dashboard/create_corpus

Verified: http://83.149.198.62/dashboard/create_dictionary

[2022-03-05 07:31] nadezhday commented on #543
Verified: http://lingvodoc.ispras.ru/toolsRoute

[2022-03-05 08:29] nadezhday commented on #531
Verified

![image](https://user-images.githubusercontent.com/59951991/156875319-4f92fc7e-2564-44e6-a2c3-4a775b51e1c9.png)

[2022-03-05 09:34] nadezhday commented on #512
Verified in #531

[2022-03-09 06:05] nadezhday opened #639 "Markup: variant selection by pressing a number key (if more then 9 variants available)"
Follow the steps from https://github.com/ispras/lingvodoc-react/issues/507
[kaz.odt](https://github.com/ispras/lingvodoc-react/files/8212063/kaz.odt)

![изображение](https://user-images.githubusercontent.com/59951991/157381413-039c557a-303d-426a-9c37-0b999f57de22.png)

Open Text Markup dialog

click  қойып
pressing 1 will select the first variant.
By pressing 2 the second variant will be selected.

[2022-03-09 06:13] nadezhday commented on #507
Separate defect is created.
Using numeric keys from a keyboard.
Now it is possible to select a variant that is lower or equal 9.
This functionality does not work if we have more then 10 variants.
https://github.com/ispras/lingvodoc-react/issues/639 Markup: variant selection by pressing a number key (if more then 9 variants available)

[2022-03-09 06:48] nadezhday commented on #529
[2022-03-09 09-39-43.zip](https://github.com/ispras/lingvodoc-react/files/8212282/2022-03-09.09-39-43.zip)
Watch video.

![изображение](https://user-images.githubusercontent.com/59951991/157386955-963deef5-05d5-425d-8678-5f9201fe0ba6.png)
Click Arrow right
![изображение](https://user-images.githubusercontent.com/59951991/157387260-ec5d9d05-b1bb-4477-932d-51782860a74c.png)

Problem: List of Variant

[2022-03-09 12:12] jandrew44 commented on #529
/dictionary/4739/4/perspective/4739/7/edit

I am getting "perspective not found" error when trying to open this url.
Both in my local environment and on production server.

@nadezhday

[2022-03-09 12:25] nadezhday commented on #529
@jandrew44
You should create a new dictionary (please follow the instruction from https://github.com/ispras/lingvodoc-react/issues/506)

[2022-03-09 12:53] jandrew44 commented on #529
It is a minor issue in case it is reproducible on one very specific text only.

[2022-03-10 09:25] nadezhday commented on #529
Verified.

[2022-03-14 12:26] Dina936 commented on #583
The table with statistics is ready
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782

[2022-03-14 12:30] Dina936 commented on #510
@nadezhday
I think that you need to close the task and create a new "make buttons back"

[2022-03-14 12:38] #301 closed, assigned to Dina936

[2022-03-14 12:39] #360 closed, assigned to Dina936

[2022-03-14 12:49] Dina936 commented on #515
Dialogue with roles is ready

You can create a new task to change the design "combining lexical inputs"

[2022-03-14 12:50] #515 closed, assigned to Dina936

[2022-03-14 12:52] Dina936 commented on #516
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782

[2022-03-14 14:41] Dina936 opened #640 "My files page"
Edit my files page:
1. change file upload
2. add title
3. add pagination to table
4. change table design
5. do the right sorting
6. add filter by type and date

[2022-03-14 15:15] jandrew44 commented on #430
It is a strange request, breadcrumbs are useful.

[2022-03-14 15:17] jandrew44 commented on #427
Browser built-in search can be used there.

[2022-03-14 15:50] jandrew44 commented on #409
Confirmation dialog has been added.

[2022-03-14 15:50] #409 closed, assigned to jandrew44

[2022-03-14 15:51] jandrew44 commented on #408
There is a lack of details, have no idea what this request is about.

[2022-03-14 15:53] jandrew44 commented on #405
Search and replace of what entities?
More details are required.

[2022-03-14 15:54] jandrew44 commented on #404
Desktop version exists but is deprecated.

[2022-03-14 17:31] jandrew44 commented on #354
Exception occurs inside of "wavesurfer.js" library.
It is either that library bug or the corresponding eaf file is corrupted.

[2022-03-15 05:01] nadezhday commented on #409
![image](https://user-images.githubusercontent.com/59951991/158309489-038235e7-65d2-459a-b17e-f355fa84afbe.png)
Verified

@myrix Is this correct behaviour?
![image](https://user-images.githubusercontent.com/59951991/158309785-713c3a6b-b4e2-49a9-add5-444f2fd13f0c.png)

[2022-03-15 05:06] nadezhday opened #641 "Regression: css is changed for text (impossible to see it)"
Open http://83.149.198.62/dictionary/719/5/perspective/719/6/view
It looks like that css is changed for these elements:
![image](https://user-images.githubusercontent.com/59951991/158310160-dcebe922-6fb3-4042-a25d-8cd6ba179536.png)

Regression

@jandrew44 FYI

[2022-03-15 05:08] nadezhday commented on #301
Implemented

[2022-03-15 05:09] nadezhday commented on #360
Implemented. Additional defect were created.

[2022-03-15 05:18] nadezhday commented on #510
@Dina936 I think we should leave this case opened.
Version page looks like a dialog.
It is not obvious that I need to use Go back button.

It should be fixed.
I do not think that we need to create another case. It can be fixed here.
![image](https://user-images.githubusercontent.com/59951991/158311349-5bcf8439-1c96-4e5a-bcae-d5d4118a58bd.png)

[2022-03-15 05:28] nadezhday commented on #430
Should we close this case as Won't fix?

@al-indigo

[2022-03-15 05:31] nadezhday commented on #408
@al-indigo, @myrix do you remember what it is about (request from user)?

[2022-03-15 05:33] nadezhday commented on #405
@myrix, @al-indigo do you have more details for this customer request?

[2022-03-15 05:35] nadezhday commented on #404
@al-indigo what should we do with this case? As far as I remember you have plans to implement a new desktop app.
If not I suggest to close this case as won't fix.

[2022-03-15 05:37] nadezhday commented on #354
@myrix can we do anything in this case?

[2022-03-15 09:29] nadezhday opened #643 "Improve design for the Merge suggestions functionality"
Open login as admin
http://83.149.198.62/dictionary/3987/4568/perspective/3987/4569/merge
Improve design for the Merge suggestions page

![image](https://user-images.githubusercontent.com/59951991/158347462-bb32148b-f620-47fa-a4b9-c44842869c87.png)

[2022-03-15 09:30] nadezhday commented on #515
A separate enhancement has been created: https://github.com/ispras/lingvodoc-react/issues/643 Improve design for the Merge suggestions functionality

[2022-03-15 09:30] nadezhday commented on #515
This case is verified.

[2022-03-15 09:32] myrix commented on #409
Source code comments indicate that yes, it is intended behaviour.

[2022-03-15 09:45] myrix commented on #408
I don't remember exactly, but I think it can be something like pop-ups with authorship info for every entity (text, file, etc.) in the dictionary table.

[2022-03-15 09:47] myrix commented on #405
Don't remember exactly, but perhaps it's a search and replace in addition to the current only search in dictionaries?

[2022-03-15 09:51] myrix commented on #354
See also https://github.com/ispras/lingvodoc-react/issues/260, looks like we should either fix wavesurfer.js library or replace it with another viewer, or even implement our own viewer.

[2022-03-15 09:58] nataliauvarova commented on #641
Fixed

[2022-03-15 09:58] #641 closed, assigned to nataliauvarova

[2022-03-15 10:03] nataliauvarova commented on #618
Done according to the design.

[2022-03-15 10:03] #618 closed, assigned to nataliauvarova

[2022-03-15 10:11] jandrew44 commented on #314
Fixed.

[2022-03-15 10:11] #314 closed, assigned to jandrew44

[2022-03-15 11:08] nadezhday commented on #641
Verified

![image](https://user-images.githubusercontent.com/59951991/158365047-ea909ec7-957d-4f1b-ab1c-ff8ae33d90e3.png)

[2022-03-15 11:18] nadezhday commented on #618
Verified on http://83.149.198.62/organizations
OK.
![image](https://user-images.githubusercontent.com/59951991/158366636-c0e1356c-1570-4066-af71-a21c6a76bf44.png)

'Add translation' localization can be tested later/

[2022-03-15 11:27] jandrew44 commented on #129
Works as designed.

[2022-03-15 11:27] #129 closed

[2022-03-15 11:35] nadezhday commented on #629
Covered in tests\test_organization_admins.py

[2022-03-15 11:35] nadezhday commented on #618
Covered in tests\test_organization_admins.py

[2022-03-15 12:12] nadezhday commented on #129
Verified. Nothing to test. WAD.

[2022-03-15 12:41] jandrew44 commented on #241
Done.

[2022-03-15 12:41] #241 closed

[2022-03-15 12:48] jandrew44 commented on #242
@myrix what query/field frontend should request in order to know if dictionary/perspective was deleted?
If it is a regression, what was the correct frontend behavior for this case?

[2022-03-15 12:53] jandrew44 commented on #251
Closing since it is just a part of the large enhancement #410.

[2022-03-15 12:53] #251 closed

[2022-03-15 13:18] nadezhday commented on #501
Covered in tests\test_tasks_mobile.py

[2022-03-15 13:45] myrix commented on #242
Field `marked_for_deletion` for both for dictionary/perspective. Also, perspective is considered deleted even if just it's parent dictionary is deleted, and it itself is not.

Correct behaviour should probably be show something like 'This perspective is deleted' instead of the content.

If we have only perspective id, we can check deletion status of it and of its dictionary with following query:
[

[2022-03-15 17:01] jandrew44 commented on #262
Fixed.

[2022-03-16 05:36] nadezhday commented on #251
Nothing to verify

[2022-03-16 08:02] nadezhday commented on #241
Verified.
Auto tests have been updated.

[2022-03-16 08:31] nadezhday opened #645 "Uploaded file is not availble in Import Excel and Starling dictionaries"
Test tests\test_import_starling_dict_01.py - FAILed
Steps to reproduce the problem:
Login as Julia

My files

Upload Starling
[Хантыйская базисная лексика.csv](https://github.com/ispras/lingvodoc-react/files/8260171/default.csv)

Click Lingvodoc 3.0

 Dashboard - > Import Excel and Starling dictionaries
![изображение](https://user-images.githubusercontent.com/59951991/158547967-860183f0-bd83-4ede-

[2022-03-16 08:57] nadezhday opened #646 "Login: Top menu is not updated: Exception"
Test tests\test_view_lexical_03.py -  FAILed

Steps to reproduce:

Login as Julia
Logout

Find  Dictionary of Forest dialect of Enets language (1970)
Click  view(2) and select Lexical Entries
![изображение](https://user-images.githubusercontent.com/59951991/158552070-ecb6d830-98a9-45ad-bece-20072906e5c0.png)

Try to login as admin

![изображение](https://user-images.githubusercontent.com/59951991/

[2022-03-16 10:13] nadezhday commented on #314
Functionality works. So we can close this case.

However, usability is not good. So menu Save buttons. We have separate defect for this problem.

[2022-03-16 11:08] nadezhday opened #647 "F5 is needed to see the created corpus (Exception) - empty screen"
Problem: tests\test_dashboard_create_corpus.py - FAILed (After fixed #351 several steps have been just uncommented in the test.)
Probably this is a regression.

Steps to reproduce:
Follow steps from #351 (it is important to fill all fields)

Problem: After clicking Create we will get a white empty screen.
![изображение](https://user-images.githubusercontent.com/59951991/158575059-2d0deb7d-ad84-4ea

[2022-03-16 11:24] jandrew44 commented on #645
Fixed.

[2022-03-16 11:24] #645 closed, assigned to jandrew44

[2022-03-16 19:17] jandrew44 commented on #646
Fixed.

[2022-03-17 05:24] nadezhday commented on #646
It looks like that the problem is not fixed.
Login does not work.

![image](https://user-images.githubusercontent.com/59951991/158742157-660ef586-ed28-4a4c-9add-973421ca8032.png)

Progress...

[2022-03-17 05:30] nadezhday commented on #646
uncaught at l at l
 at r
 at r
 Error: Network error: Store reset while query was in flight(not completed in link chain)
    at new e (http://83.149.198.62/assets/vendor.2800155c.js:1:534873)
    at http://83.149.198.62/assets/vendor.2800155c.js:1:1383409
    at async Promise.all (index 1)
a.<computed> @ raven.js:55
u @ utils.js:225
$ @ proc.js:210
y @ proc.js:349
r @ proc.js:79
t.cont @ proc.js:9

[2022-03-17 05:40] nadezhday commented on #645
test PASSed  - OK

[2022-03-17 19:45] jandrew44 commented on #646
Fixed.

[2022-03-18 00:54] myrix opened #649 "More permissive .eaf corpus validation"
Create a new corpus via Dashboard -> Create corpus with standard corpus structure, open created corpus, add lexical entry, unzip and upload markup file [избранные_слова_из_Писания_Господа_ЮН_2.eaf.zip](https://github.com/ispras/lingvodoc-react/files/8296089/_._._._._._2.eaf.zip) into Markup column, open markup viewer by clilcking on the 'window' icon, there is no 'Convert to dictionary...' button,

[2022-03-18 00:58] myrix commented on #649
Implemented, now it validates ok:
![image](https://user-images.githubusercontent.com/2802467/158917478-b5e306b6-41a6-4568-bd5d-c9303511e78a.png)

[2022-03-18 00:58] #649 closed, assigned to nobody

[2022-03-18 02:54] myrix opened #650 "Valency data annotation"
Users should be able to accept or reject valency annotations produced by Pavel Grashchenkov's algorithms.

[2022-03-18 09:50] jandrew44 commented on #647
@nadezhday I could not reproduce the problem.
Please attach a video.

[2022-03-18 10:03] nadezhday commented on #646
The problem with login can be reproduced

New scenario:

Tools - Map search (http://83.149.198.62/map_search)
sign in as admin
sign out
Problem: Empty screen

TypeError: l is undefined
    l index.js:129
    React 8
    unstable_runWithPriority scheduler.production.min.js:18
    React 6
    Redux 8
    n createTransitionManager.js:54
    notifyListeners createTransitionManager.js:73
    notifyList

[2022-03-18 10:16] nadezhday commented on #647
tests\test_dashboard_create_corpus.py Test - PASSed both on Firefox and Chrome

Closing as fixed indirectly.

[2022-03-18 10:17] jandrew44 commented on #646
Fixed this case as well.

[2022-03-18 14:06] #647 closed, assigned to jandrew44

[2022-03-18 14:23] jandrew44 commented on #556
@nadezhday I could not reproduce the problem.
Please attach a video.

[2022-03-18 14:30] jandrew44 commented on #563
There are just too many entities.
In order to solve such performance issues backend need to support pagination in its queries.
Note it is required in many places, not on this page only.
For example, lexical entries table in dictionaries has the same problem(in case of many lexical entries).
For some of such queries backend should support filtering and sorting also.
@myrix FYI, it is a large genera

[2022-03-18 14:37] jandrew44 commented on #561
It indicates the current(abnormal) state of the database and can be fixed via UI(deleting unnecessary entries).
Nothing more should be done here.

[2022-03-19 04:05] myrix opened #651 "More permissive .eaf corpus convertion"
When converting [избранные_слова_из_Писания_Господа_ЮН_2.eaf.zip](https://github.com/ispras/lingvodoc-react/files/8296089/_._._._._._2.eaf.zip) .eaf corpus file into a dictionary (to convert, see #649 how to upload and view the file, then click 'Convert to dictionary...' button and proceed), we have missing transcriptions:
![image](https://user-images.githubusercontent.com/2802467/159105832-ac6912

[2022-03-19 04:08] myrix commented on #651
Implemented, now converts with transcriptions:
![image](https://user-images.githubusercontent.com/2802467/159106058-cfa250f2-1c64-4921-9365-6aef0f1de482.png)

[2022-03-19 04:08] #651 closed, assigned to nobody

[2022-03-19 04:22] myrix opened #652 "Allow removal of incomplete tasks"
When tasks terminate with an error before being 100% complete, it still should be possible to remove them, otherwise they will hang in the task list indefinitely, cluttering it:
![image](https://user-images.githubusercontent.com/2802467/159106507-db577685-9cbd-4db6-833d-4e03280db8c6.png)

Right now remove button is disabled for partially complete tasks, and we can't do that.

[2022-03-19 04:36] myrix commented on #652
Fixed, the button is enabled and hanged tasks can be removed.

[2022-03-20 20:10] myrix commented on #650
Implemented.

Go to /valency relative URL path, choose perspective; as usual the choice can be filtered by a partial name:
![image](https://user-images.githubusercontent.com/2802467/159177099-6228ada6-aafc-4f8d-b094-64b437218dad.png)

If the perspective doesn't have annotation data, generate the data by clicking on the 'Create valency data' button:
![image](https://user-images.githubusercontent.co

[2022-03-20 20:10] #650 closed, assigned to nobody

[2022-03-21 10:54] nadezhday commented on #646
We still have problem with login (tests\test_dictionaries.py - FAILED on Chrome)

Steps to reproduce:
login as Julia
Logout
login as admin

![image](https://user-images.githubusercontent.com/59951991/159246607-de589a70-1b45-4490-afd1-0413476d040d.png)

raven.js:1270          GET http://83.149.198.62/api/user 404 (Not Found)

[2022-03-21 11:21] #646 closed, assigned to jandrew44

[2022-03-21 11:22] nadezhday commented on #646
Added wait in tests (in login and logout functions)

[2022-03-21 15:23] jandrew44 commented on #560
I have fixed one problem, there are no more duplicates with the same locale when performing steps for this scenario.
However, there is one problem remaining.
Currently it is impossible to delete translation atoms, I don't know why.
Mutation delete_translationatom has { triumph: true } but atom is not deleted.
@myrix please have a look.

[2022-03-21 15:41] jandrew44 commented on #483
"Development of a virtual computational laboratory for management and processing data for endangered languages 2014-2016".
This grant does not have any dictionaries associated, therefore it is not being displayed.
This behavior is correct.

[2022-03-21 15:41] #483 closed, assigned to jandrew44

[2022-03-21 15:42] jandrew44 commented on #480
Now gists can be created via UI on the /edit_translations page so closing this issue as fixed.

[2022-03-21 15:42] #480 closed, assigned to jandrew44

[2022-03-21 15:45] jandrew44 commented on #438
Closing as not reproducible.

[2022-03-21 15:45] #438 closed, assigned to nobody

[2022-03-21 17:17] nataliauvarova commented on #622
Fixed

[2022-03-21 17:17] #622 closed, assigned to nataliauvarova

[2022-03-21 19:45] jandrew44 commented on #242
"This entity was deleted" - this message will be displayed when trying to open deleted perspective via direct link.

[2022-03-21 19:45] #242 closed

[2022-03-21 23:42] myrix commented on #560
Now should work ok.

It looks like all these years backend always returned all atoms, independently of whether they were deleted or not. I surmise it's an artifact of the old approach, where it was assumed that no more than 1 atom per locale would be ever created and we would not need to delete them.

Now it is possible to ask backend for only not deleted atoms.

[2022-03-21 23:42] #560 closed, assigned to jandrew44

[2022-03-22 00:21] myrix opened #654 "Valency annotation: choose default selection state"
Users should be able to choose default selection state, selected or not selected, of proposed annotations; users request initial default selection state to be not selected.

[2022-03-22 00:26] myrix commented on #654
Implemented:
![image](https://user-images.githubusercontent.com/2802467/159384078-dd2c92d5-f430-42db-becc-963931ff15c6.png)
![image](https://user-images.githubusercontent.com/2802467/159384082-dc95216a-4c1d-40c6-b4fb-1b47a0a9d129.png)

[2022-03-22 00:26] #654 closed, assigned to nobody

[2022-03-22 03:02] myrix opened #655 "Valency annotation: more convenient pagination"
Users request more convenient pagination to more easily navigate to any page.

[2022-03-22 03:12] myrix commented on #655
Implemented.

Now user can go forward/backward by two pages instead of one, can go to an arbitrary page via a page number and can select number items displayed per page:
![image](https://user-images.githubusercontent.com/2802467/159400450-f14fc781-f620-490b-ad75-c09a98b71b7c.png)

[2022-03-22 03:12] #655 closed, assigned to nobody

[2022-03-22 04:33] nadezhday commented on #438
Closing as fixed indirectly

[2022-03-22 09:21] Dina936 opened #656 "Add new card"
<img width="1440" alt="eng - администратор" src="https://user-images.githubusercontent.com/56397844/159447815-02a2d561-a19b-4ccc-8373-f7fb36ecc2d6.png">

go to this page http://lingvodoc.ispras.ru/valency

[2022-03-22 09:25] Dina936 commented on #656
link to layout
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=481%3A3704

[2022-03-22 09:45] nadezhday commented on #483
OK. Works as designed. Verified.

[2022-03-22 09:47] nadezhday commented on #480
Verified

![image](https://user-images.githubusercontent.com/59951991/159452993-d535a72c-a153-4b93-b60a-5a8c0250e6f8.png)

[2022-03-22 09:49] nadezhday commented on #624
That is a pity.

[2022-03-22 10:30] nadezhday commented on #647
verified

[2022-03-22 11:15] jandrew44 commented on #508
Page should be re-designed to have one save button only.

[2022-03-22 11:46] nadezhday opened #658 "Uncaught (in promise) Error: GraphQL error: TranslationAtom with this locale already exists"
The problem found during https://github.com/ispras/lingvodoc-react/issues/560 verification
1) Initial:
![image](https://user-images.githubusercontent.com/59951991/159473223-9711a476-a845-4c77-b134-98da29bb3168.png)

2) Add the second line
![image](https://user-images.githubusercontent.com/59951991/159473475-978030dc-8582-49d7-8942-63725703ebea.png)

Save

2) Delete it

Save
Result: line disappears

[2022-03-22 11:47] nadezhday commented on #560
1) Initial:
![image](https://user-images.githubusercontent.com/59951991/159473223-9711a476-a845-4c77-b134-98da29bb3168.png)

2) Add the second line
![image](https://user-images.githubusercontent.com/59951991/159473475-978030dc-8582-49d7-8942-63725703ebea.png)

Save

2) Delete it

Save
Result: line disappears OK

![image](https://user-images.githubusercontent.com/59951991/159473916-bc95b923-2a67-4b

[2022-03-22 11:52] nadezhday opened #659 "Impossible to add a new translation: Uncaught (in promise) Error: GraphQL error: 'int' object is not subscriptable"
http://83.149.198.62/edit_translations
Click Add new translation gist
Enter text and click Save
![image](https://user-images.githubusercontent.com/59951991/159475851-90ab7483-7f80-4286-b1b3-c0d1b354dbfc.png)

Uncaught (in promise) Error: GraphQL error: 'int' object is not subscriptable

Problem:
Uncaught (in promise) Error: GraphQL error: 'int' object is not subscriptable
    e ApolloError.js:37

[2022-03-22 11:59] nadezhday commented on #659
Probably regression introduced in https://github.com/ispras/lingvodoc-react/issues/560

[2022-03-22 12:00] nadezhday commented on #560
In addition https://github.com/ispras/lingvodoc-react/issues/659
Impossible to add a new translation: Uncaught (in promise) Error: GraphQL error: 'int' object is not subscriptable

[2022-03-22 12:08] nadezhday commented on #561
The problem is not fixed.
We should do something about this.

[2022-03-22 12:22] jandrew44 commented on #659
Error is produced by the "updateAtom" mutation.
@myrix please have a look.

[2022-03-22 13:33] jandrew44 commented on #561
@nadezhday what do you mean?
You cannot delete duplicate entries?
I guess it is because of new regressions, please re-test when they are fixed.

[2022-03-22 14:42] jandrew44 commented on #315
Dictionary metadata properties were displayed instead of corpus ones, I have fixed this problem.
However, corpus metadata properties cannot be queried from backend because they are missing in the MetaData type.
@myrix these fields needs to be added there: titleOfTheWork, genre, timeOfWriting, quantitativeCharacteristic, bibliographicDataOfTheSource, translator, bibliographicDataOfTheTranslation.

[2022-03-22 16:30] jandrew44 commented on #200
I guess it is not reproducible anymore.

[2022-03-22 16:30] #200 closed

[2022-03-22 17:37] nataliauvarova commented on #656
Done, except localization: "Verb valency", because of this error: https://github.com/ispras/lingvodoc-react/issues/659

[2022-03-22 17:37] #656 closed, assigned to nataliauvarova

[2022-03-22 18:27] myrix commented on #658
Fixed.

[2022-03-22 18:27] #658 closed, assigned to nobody

[2022-03-22 18:28] myrix commented on #659
Fixed.

[2022-03-22 18:28] #659 closed, assigned to nobody

[2022-03-22 20:26] myrix commented on #315
@jandrew44 fields added.

[2022-03-23 05:20] nadezhday commented on #561
@myrix I guess we need to clean our DB (Delete any duplicates).
We should not hide them from user. We should delete these entries from DB.

[2022-03-23 05:45] nadezhday opened #660 "Improve Build+ Run test functionality"
Very often we have a problem with starting tests for Lingvodoc.
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_frontend/1009/console

00:56:29.743 ++ basename https://github.com/ispras/lingvodoc-react/releases/download/untagged-e26deeac79e18f69f41b/lingvodoc-react-server-build-584-staging.tar.gz
00:56:29.744 + build=lingvodoc-react-server-build-584-staging.tar.gz
00:56:29.745 ++ cat /home

[2022-03-23 08:26] nataliauvarova commented on #656
added localization

[2022-03-23 09:07] nataliauvarova commented on #621
Fixed

[2022-03-23 09:07] #621 closed, assigned to nataliauvarova

[2022-03-23 09:28] academic-sakharov commented on #660
That's weird, but variables in jenkins shell script are keeping old values, even though they should get new values from the github API. Solved by restarting whole jenkins runner session (not only a job) for lingvodoc test machine. Now works fine, but I'll keep an eye on it at least today and close it later.

[2022-03-23 10:01] nadezhday opened #662 "Impossible to delete file"
Login as admin

Upload file

Remove file. Click OK in Confirmation dialog

![image](https://user-images.githubusercontent.com/59951991/159673243-e7893b8c-6323-404e-9a5f-5b0ca1944064.png)

![image](https://user-images.githubusercontent.com/59951991/159673332-fbaca711-ae66-41e8-b674-2dde47c7e43d.png)

Problem: File is not removed.
This is a rgression.
GraphQL error: File can not be deleted physicall

[2022-03-23 10:02] nadezhday commented on #662
tests\test_my_files.py  - FAIL

[2022-03-23 11:00] jandrew44 commented on #662
It works fine in my development environment.

[2022-03-23 11:16] nadezhday commented on #656
1) card added - OK
2) Localization - OK

[2022-03-23 11:19] nadezhday commented on #662
It does not work on http://83.149.198.62/

[2022-03-23 11:25] jandrew44 commented on #562
Need to decide where to place search field and what will be displayed if there are no search results.

[2022-03-23 11:45] myrix commented on #662
Tested locally and then on http://83.149.198.62/, upload file and then deleted uploaded file, works fine. Need more precise steps to reproduce.

[2022-03-23 11:47] nadezhday commented on #659
Verified

New Element can be added.

[2022-03-23 12:03] nadezhday commented on #658
Verified

[2022-03-23 12:14] nadezhday opened #663 "Valency: GraphQL error: Dictionary 'name' is deleted."
Login as admin
Tools valency

Problem: it takes some time the Perspective choice to appear. Is it OK?

select Uralic › Erzya › Glossed corpus Test › Тест
Click Create valency data

Problem:
It takes about 20 sec to get error message 'Dictionary is deleted'
![image](https://user-images.githubusercontent.com/59951991/159695691-19b2af1d-a950-4122-85ce-d73a2550b4bf.png)

What is the problem?
Should we

[2022-03-23 12:23] nadezhday opened #664 "Valency: GraphQL error: Exception: Traceback (most recent call last)"
Login as admin
Tools valency

select Altaic languages › Turkic languages › Bashkir › Southern dialectal group › Dim Baškir › Әкиəт (vil. Klyashevo) › Әкиəт
Click Create valency data

Problem:
GraphQL error: Exception: Traceback (most recent call last): File "/api/lingvodoc/schema/query.py", line 10300, in mutate Valency.get_parser_result_data( File "/api/lingvodoc/schema/query.py", line 9937, in g

[2022-03-23 12:24] Dina936 opened #665 "Make a transition from a base cell to another base"
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-03-23 12:26] Dina936 opened #666 "Freeze the first two columns"
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-03-23 12:29] Dina936 opened #667 "Add checkboxes"
Add checkboxes 1) select all 2) to select a row 3) to select a column

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-03-23 12:31] nadezhday commented on #664
No results after clicking Create valency data for this dictionary
![image](https://user-images.githubusercontent.com/59951991/159699629-4e4b5d9a-b912-4d99-a094-da73d5095b0e.png)

[2022-03-23 13:24] jandrew44 commented on #315
Fixed.

[2022-03-23 13:24] #315 closed, assigned to jandrew44

[2022-03-23 20:30] myrix commented on #663
Now also checking if any of the dictionary and parent languages are deleted, in addition to perspective's deletion check; shouldn't get this error anymore.

[2022-03-23 22:16] myrix opened #668 "Valency: GraphQL error: not implemented"
/valency, select 'Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events)', 'Create valency data':
![image](https://user-images.githubusercontent.com/2802467/159804857-df6010e3-9cd3-4247-8e4b-21ed32652457.png)

[2022-03-24 04:06] myrix commented on #668
Fixed, now computes successfully.

[2022-03-24 04:06] #668 closed, assigned to nobody

[2022-03-24 05:20] nadezhday opened #669 "Localization for Valency page"
We need localization for http://83.149.198.62/valency

![image](https://user-images.githubusercontent.com/59951991/159847579-ef5df99f-c495-4740-8932-1eacc21f3330.png)

![image](https://user-images.githubusercontent.com/59951991/159847508-47c2718f-6415-412f-a16b-4c3dcf9e289a.png)

[2022-03-24 05:44] nadezhday commented on #663
1) It takes about 1 sec to get error message - OK
![image](https://user-images.githubusercontent.com/59951991/159847856-71cd878e-da0c-42ca-a584-5244180fe030.png)

2) Still I get this error.
@myrix should I reopen this case?

[2022-03-24 06:10] nadezhday commented on #649
Looks OK.
![image](https://user-images.githubusercontent.com/59951991/159853174-a598e957-8534-4bc9-bb50-c9551644a3e2.png)

More testing - OK
![image](https://user-images.githubusercontent.com/59951991/159853263-46bff0db-4796-45b2-a9da-aa7807262c33.png)

Verified

[2022-03-24 08:43] nadezhday commented on #621
Looks fine.
![image](https://user-images.githubusercontent.com/59951991/159876950-9ab823a2-ab56-459f-bddd-46f9535676a7.png)

[2022-03-24 08:47] nadezhday commented on #622
![image](https://user-images.githubusercontent.com/59951991/159877665-c89ed2a9-4908-485b-972d-772afddd52d1.png)

Verified

[2022-03-24 08:52] nadezhday opened #670 "Tasks: Clear completed does not work"
login as admin
http://83.149.198.62/dictionary/4351/15/perspective/4351/18/edit
click button to start Reparsing

![image](https://user-images.githubusercontent.com/59951991/159878165-6a4dfae2-3cc4-446c-b6aa-edbcba3275b6.png)

Open Tasks

After Process finishes Click Clear completed button.

Expected: Task view is empty

Actual: Clear completed button is not available.

[2022-03-24 08:56] nadezhday commented on #668
Verified
![image](https://user-images.githubusercontent.com/59951991/159879340-09ca8c0a-3889-4c4a-85e2-75009a364aea.png)

[2022-03-24 09:12] nadezhday opened #671 "Improve Valency functionality: option selection"
The problem found during testing https://github.com/ispras/lingvodoc-react/issues/668 Valency: GraphQL error: not implemented

login as admin
Tools Valency

/valency, select 'Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events)'

![image](https://user-images.githubusercontent.com/59951991/159880613-1a097ae9-e38c-4

[2022-03-24 09:15] nadezhday opened #672 "Valency-> Apply filter: White screen + exception"
The problem found during testing https://github.com/ispras/lingvodoc-react/issues/668 Valency: GraphQL error: not implemented

login as admin
Tools Valency

/valency, select 'Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events)'

1) click Sort by verbs option

Enter DAT

Click Apply filter

![image](https://user-i

[2022-03-24 09:21] nadezhday opened #673 "Valency: Accept all selected button is located on the bottom of the page. You need to scroll to see it."
The problem found during testing https://github.com/ispras/lingvodoc-react/issues/668 Valency: GraphQL error: not implemented

login as admin
Tools Valency

/valency, select 'Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events)'

Click Select by default: off

![image](https://user-images.githubusercontent.com/5995

[2022-03-24 09:24] nadezhday opened #674 "Valency: Reject all selected button"
The problem found during testing https://github.com/ispras/lingvodoc-react/issues/668 Valency: GraphQL error: not implemented

login as admin
Tools Valency

/valency, select 'Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events)'

Click Select by default: off

Click Accept all selected

![image](https://user-images

[2022-03-24 09:28] nadezhday opened #675 "Valency: We have problem with pagination on the bottom of the page"
The problem found during testing https://github.com/ispras/lingvodoc-react/issues/668 Valency: GraphQL error: not implemented

login as admin
Tools Valency

/valency, select 'Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events)'

We have problem with pagination on the bottom of the page
Look at the screenshot:

![

[2022-03-24 09:32] myrix commented on #673
@nadezhday @jandrew44

The rationale for the button to be on the bottom is that a significant part of valency instance suggestions, and sometimes most suggestions, are invalid and should not be accepted, and the placement of the button on the bottom encourages user to look through all suggestions before accepting them all.

Julia Normanskaya, the customer for the feature, agrees with the reasoning

[2022-03-24 09:33] nadezhday commented on #654
This option is created. We can verify this case.

[2022-03-24 09:35] nadezhday commented on #663
Backend:2.1.1+1493-4c39c0bc-2022.03.24-04:06+modified-2022.03.24-08:21
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.14
uniparser-meadow-mari:1.1.9
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.11
Frontend:f3cf3ee5-590-staging-server

[2022-03-24 09:36] nadezhday commented on #663
@myrix  pleases check that all your changes are in the build.

[2022-03-24 09:45] nadezhday opened #676 "Valency: use ENTER to navigate to any page"
The problem found during testing https://github.com/ispras/lingvodoc-react/issues/668 Valency: GraphQL error: not implemented

login as admin
Tools Valency

/valency, select 'Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events)'

Now you have to use Go button.
But it would be good if we could use ENTER to initiate

[2022-03-24 09:46] nadezhday commented on #655
The separate defects:
https://github.com/ispras/lingvodoc-react/issues/675 Valency: We have problem with pagination on the bottom of the page
https://github.com/ispras/lingvodoc-react/issues/676 Valency: use ENTER to navigate to any page

[2022-03-24 09:46] nadezhday commented on #655
We can verify this case

[2022-03-24 09:48] nadezhday commented on #200
Verified.

[2022-03-24 10:01] myrix commented on #663
@nadezhday changes are in the latest build 593, this is build 590.

[2022-03-24 10:01] #663 closed, assigned to nobody

[2022-03-24 10:23] nadezhday opened #678 "Valency: Not all instances are present after setting option Off"
Admin
Tools - Valency
select perspective
![image](https://user-images.githubusercontent.com/59951991/159894741-93e3c16a-a529-4d2d-903d-2fa1097ecaef.png)

Result: Instances (1-25/44170) - OK

click Sort by verbs

Click any word

![image](https://user-images.githubusercontent.com/59951991/159895115-c26ab367-c6fb-49ff-b888-f90b6cb13b76.png)

Result: a few instances are listed - OK

Unselect Sort by v

[2022-03-24 11:02] nataliauvarova commented on #665
Added links to pages like: http://lingvodoc.ru/dictionary/4840/1/perspective/4840/2/edit
only for this table: http://lingvodoc.ru/dictionary/4839/1/perspective/4839/2/publish

[2022-03-24 11:14] myrix commented on #672
Fixed, now correctly displays no data in such cases.

[2022-03-24 11:14] #672 closed, assigned to nobody

[2022-03-24 11:15] nadezhday commented on #662
test PASSed
The problem is not reproduced.

[2022-03-24 11:15] #662 closed, assigned to nadezhday

[2022-03-24 11:31] myrix commented on #678
Fixed, now correctly loads all instances after deselecting the option.

[2022-03-24 11:31] #678 closed, assigned to nobody

[2022-03-24 12:24] jandrew44 commented on #670
@myrix have you changed something related to reparsing tasks on the backend recently?
For this scenario, there is no change in the task.status field of the reparsing task(it does not set to "Finished" when the task is done).
However, progress field is set to 100 but I am not sure if it can be used as criteria of completed task.

[2022-03-24 13:22] academic-sakharov commented on #660
Now it should be fixed. I've changed API request to get only the latest build.

[2022-03-24 13:22] #660 closed, assigned to academic-sakharov

[2022-03-24 20:49] myrix commented on #670
@jandrew44 didn't change anything, final status of reparsing task was always like that ever since it was introduced some 4 months ago.

In general, there is no guidelines on task statuses, so I propose that the 'finished' condition to be checked as a progress of 100 at the last stage; and that this to be enforced for all tasks on backend's side.

[2022-03-24 20:49] #670 closed, assigned to nobody

[2022-03-24 21:12] myrix commented on #676
Implemented.

[2022-03-24 21:12] #676 closed, assigned to nobody

[2022-03-24 23:07] myrix commented on #674
Implemented.

[2022-03-24 23:07] #674 closed, assigned to nobody

[2022-03-25 05:45] nadezhday commented on #674
As far as I can see these changes should be available.
![image](https://user-images.githubusercontent.com/59951991/160061985-be172d68-8d1d-4dd8-9cc8-8a1e430b1825.png)

Waiting with verification.

[2022-03-25 05:50] nadezhday commented on #556
The problem is not reproduced anymore. Closing.

[2022-03-25 05:50] #556 closed, assigned to nadezhday

[2022-03-25 05:53] nadezhday commented on #672
Verified

![image](https://user-images.githubusercontent.com/59951991/160062702-81b12b61-9e42-47e1-9387-5eaee8e77124.png)

[2022-03-25 05:55] nadezhday commented on #676
Not verified.

Waiting with verification.

[2022-03-25 06:10] nadezhday commented on #678
Verified

[2022-03-25 06:16] nadezhday commented on #663
Verified: we filter out dictionaries from the list - OK

[2022-03-25 06:43] nadezhday commented on #665
I cannot see any changes.

Waiting with verification.
![image](https://user-images.githubusercontent.com/59951991/160068300-e17e1640-8595-4ce8-b833-6ddc22b97057.png)

[2022-03-25 07:31] nadezhday commented on #665
There is no such dictionary on our test site:
http://83.149.198.62/dictionary/4839/1/perspective/4839/2/publish

[2022-03-25 10:34] nadezhday commented on #659
Covered in tests\test_tools_translations.py

[2022-03-25 10:35] nadezhday commented on #556
Covered in tests\test_tools_translations.py

[2022-03-25 10:49] nadezhday opened #679 "Valency: User sign-in error and its localization"
Do not login
Tools - Valency
Problem: User sign-in error

![image](https://user-images.githubusercontent.com/59951991/160107189-8535e23f-f7f3-4668-a690-2fd42c33ed90.png)

1) if Valency functionality is not available for unauthorized users then we should hide menu from Tools
2) Do not forget to localize this error

[2022-03-25 11:44] nadezhday commented on #676
Verified

[2022-03-25 11:46] nadezhday commented on #674
Verified

[2022-03-25 11:51] nadezhday commented on #670
Verified.
Now it works fine.
![image](https://user-images.githubusercontent.com/59951991/160115766-690b7717-a8dd-4eae-8cff-447a15780032.png)

[2022-03-25 12:03] nadezhday commented on #665
Result:
![image](https://user-images.githubusercontent.com/59951991/160116544-3d66567e-9a6c-4b77-a85f-c4cea7b540d4.png)
Compare
Problem: this is a big difference

http://83.149.198.62/dictionary/4839/1/perspective/4839/2/publish
Click on the link
![image](https://user-images.githubusercontent.com/59951991/160117061-6b1df5a6-b3fe-4318-91c4-a84719380aaf.png)

Problem: Exception. DictionaryPerspectiv

[2022-03-25 17:55] jandrew44 commented on #142
Fixed.

[2022-03-26 06:19] myrix opened #680 "Add server timings to GraphQL API responses"
HTTP responses to GraphQL API requests should contain timings of the requests' execution.

[2022-03-26 06:30] myrix commented on #680
Implemented.

Elapsed real time and server's process time of the GraphQL request execution is now in the Server-Timing HTTP header and response JSON data:
![image](https://user-images.githubusercontent.com/2802467/160227702-d8894895-dc48-4a4b-930d-b59c4fb27587.png)
![image](https://user-images.githubusercontent.com/2802467/160227711-113e8236-d6b2-435d-a801-42f82ea4a664.png)

[2022-03-26 06:30] #680 closed, assigned to nobody

[2022-03-26 07:43] myrix commented on #679
Tools -> Valency is hidden when there is no user signed in, shown when there is a signed in user:
![image](https://user-images.githubusercontent.com/2802467/160229972-c5d17f97-bcf5-4898-aa09-87b63c29083a.png)
![image](https://user-images.githubusercontent.com/2802467/160229980-0bf369c8-31f7-469e-aa25-ef96b236bd4b.png)

[2022-03-26 07:43] #679 closed, assigned to nobody

[2022-03-26 19:53] myrix commented on #664
Fixed, now computes ok.

[2022-03-26 19:53] #664 closed, assigned to nobody

[2022-03-26 23:30] myrix commented on #671
Now can change options even during loading.

[2022-03-26 23:30] #671 closed, assigned to nobody

[2022-03-28 05:21] nadezhday opened #681 "Localization of Индивидуальная работа"
Open http://lingvodoc.ispras.ru/dashboard/dictionaries_all
Click By Organization

![image](https://user-images.githubusercontent.com/59951991/160331018-ad8fbac2-8501-4115-b4db-941cdfd2ebcf.png)

[2022-03-28 06:12] nadezhday commented on #679
![image](https://user-images.githubusercontent.com/59951991/160336971-fd0a785f-48c8-408a-b9bc-2fca71e3b96d.png)

[2022-03-28 06:25] nadezhday commented on #679
Covered in tests\test_tools_valency_02.py

[2022-03-28 06:28] nadezhday commented on #660
It looks like that the problem is fixed.

[2022-03-28 06:41] nadezhday commented on #242
Verified.
![image](https://user-images.githubusercontent.com/59951991/160340564-95d738b4-679c-41a9-9329-d69cb7c49795.png)

[2022-03-28 08:36] nadezhday commented on #142
Covered in tests\test_publish.py

[2022-03-28 08:43] nadezhday commented on #652
The problem is not fixed.
I cannot clear completed with error task from Task view
![image](https://user-images.githubusercontent.com/59951991/160360577-bbfd8597-e4d1-4d9f-ac56-791b53a8ae9a.png)

[2022-03-28 08:44] #652 closed, assigned to nobody

[2022-03-28 08:45] nadezhday commented on #652
Verified
Tasks completed with error can be removed from Task view

[2022-03-28 08:49] nadezhday commented on #656
Covered in  tests\test_tools_valency_02.py, tests\test_tools_valency_01.py

[2022-03-28 09:01] nadezhday commented on #517
Covered in tests\test_valency.py

[2022-03-28 11:34] nadezhday commented on #650
Covered in tests\test_tools_valency_01.py

[2022-03-28 12:53] nadezhday commented on #650
+Covered in tests\test_tools_valency_03.py

[2022-03-30 05:03] nadezhday opened #683 "If a dictionary cannot be opened we should inform our user"
This problem found during https://github.com/ispras/lingvodoc-react/issues/142 verification

Try to open /dictionary/2929/12/perspective/2929/16/publish

Problem: It the dictionary cannot be opened we should inform our user that it was deleted.
![image](https://user-images.githubusercontent.com/59951991/160754636-0e0c83f4-a41a-4110-961e-59eed9dfcc71.png)

Exception

uncaught at l Error: b is undef

[2022-03-30 05:09] nadezhday commented on #142
The problem is not fixed.
http://83.149.198.62/dictionary/4702/70/perspective/4702/71/publish

1) Initial Published
![image](https://user-images.githubusercontent.com/59951991/160755364-a3be33d9-2a0c-43f8-b50f-efa1e97fb489.png)

View Published
![image](https://user-images.githubusercontent.com/59951991/160755424-25cd3523-eb81-4171-8594-2f69c157924d.png)

2) Unselect option in Publish
![image](http

[2022-03-30 07:50] nadezhday commented on #664
1)
![image](https://user-images.githubusercontent.com/59951991/160779770-487f5d58-c4b6-48e9-a242-885588082362.png)

[2022-03-30 07:55] nadezhday commented on #680
![image](https://user-images.githubusercontent.com/59951991/160780935-9c62750c-9ccc-44b9-b9ed-2f3a2727a58d.png)

[2022-03-30 08:00] nadezhday opened #684 "Create valency data: Exception (Марийский корпус)"
Create valency date for the following perspective:
![image](https://user-images.githubusercontent.com/59951991/160781679-dfb9569f-af81-42bd-b811-d9880d44e51a.png)

Problem: Exception
GraphQL error: Exception: Traceback (most recent call last): File "/api/lingvodoc/schema/query.py", line 10307, in mutate Valency.get_parser_result_data( File "/api/lingvodoc/schema/query.py", line 9944, in get_parser

[2022-03-30 08:03] nadezhday commented on #664
Separate defect is created
 Create valency data: Exception (Марийский корпус) #684

[2022-03-30 08:15] nadezhday opened #685 "Valency: F5 is needed to see Perspective selection field"
Very often I can see the following problem:
Login as admin
Tools-Verb Valency
Problem: Select perspective is not available
You can see Loading process
![image](https://user-images.githubusercontent.com/59951991/160784222-7f69fa97-b402-45f7-8c36-abcf3309786e.png)

Workaround:
Click F5 to see Perspective selection field
![image](https://user-images.githubusercontent.com/59951991/160784367-0901a6a4-a

[2022-03-30 08:46] nadezhday commented on #664
Covered in tests\test_tools_valency_04.py

[2022-03-30 10:41] myrix commented on #684
Fixed, now computes ok.

[2022-03-30 10:41] #684 closed, assigned to nobody

[2022-03-31 04:50] nadezhday commented on #684
Covered in tests\test_tools_valency_04.py

[2022-03-31 04:54] nadezhday commented on #668
covered in tests\test_tools_valency_04.py

[2022-04-01 09:50] nadezhday opened #686 "Valency: clean Verb prefix filter field"
Follow the steps from screenshot

![image](https://user-images.githubusercontent.com/59951991/161239531-06491a90-9d43-4f30-a5c8-e0e3d874df05.png)

We have two scenario:
1) Select a new perspective.

2) Deselect and then select Sort by verbs option again

Expected: In both cases field should be empty.
![image](https://user-images.githubusercontent.com/59951991/161240092-5df3a493-b766-41eb-8159-acc6

[2022-04-01 09:50] nadezhday commented on #671
Verified.
Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/686 Valency: clean Verb prefix filter field

[2022-04-01 10:12] nadezhday commented on #262
I hope that this functionality will be changed.
After each click the wight of column changes size.

1)
![image](https://user-images.githubusercontent.com/59951991/161243538-3d685d2d-60b9-453e-bc16-2427397a7327.png)

2)
![image](https://user-images.githubusercontent.com/59951991/161243608-a7edbdc2-a0de-4c78-bea4-419742e7a22c.png)

3)
![image](https://user-images.githubusercontent.com/59951991/16124

[2022-04-01 10:23] nadezhday commented on #315
Verified

[2022-04-01 13:54] myrix commented on #686
Fixed for both deselecting/selecting 'Sort by verbs' option and selecting a new perspective, the prefix is reset to empty.

[2022-04-04 04:29] nadezhday commented on #685
Here is the error message you get during the first attempt to open Verb Valency.
![image](https://user-images.githubusercontent.com/59951991/161473945-6f91cfc8-0c2d-4805-bbac-2bad34b69e91.png)

[2022-04-04 05:47] nadezhday commented on #686
Scenario from description works.
However, it would be good if we return all options to initial state after selecting a new perspective.

![image](https://user-images.githubusercontent.com/59951991/161481434-3c266eb7-bbb3-4844-a1c8-4b10ff054f27.png)

[2022-04-04 08:17] myrix commented on #685
In general, this error message is supposed to appear only after DB reset, when user login info in the browser no longer corresponds to user info in the DB. If you encounter this error in other circumstances, please notify me.

Fixed error reporting, now after successful logging in and loading of the user info the message goes away as it supposed to.

Go to /valency after DB reset:
![image](https:/

[2022-04-04 10:00] nataliauvarova commented on #666
Done (only for this table: http://lingvodoc.ru/dictionary/4839/1/perspective/4839/2/publish)

[2022-04-04 10:00] #666 closed, assigned to nataliauvarova

[2022-04-04 10:04] nataliauvarova commented on #667
Done
(Added these checkboxes,
only for this table: http://lingvodoc.ru/dictionary/4839/1/perspective/4839/2/publish)

P.S. The page design is still old

[2022-04-04 10:04] #667 closed, assigned to nataliauvarova

[2022-04-05 02:26] myrix opened #688 "Valency: sort by acceptance"
Users should be able to sort valency data by acceptance, so that all accepted valency data instances are shown before unaccepted ones.

[2022-04-05 02:42] myrix commented on #688
Implemented, users can enable sorting by acceptance:
![image](https://user-images.githubusercontent.com/2802467/161668374-c92968a6-1ddb-4423-bf1c-c6ed1aa84365.png)
![image](https://user-images.githubusercontent.com/2802467/161668409-5f66e75b-dffb-47d3-82d7-4bc9005b4f08.png)

Sorting can be switched between accepted first / accepted last by clicking on the arrow icon:
![image](https://user-images.g

[2022-04-05 02:43] myrix commented on #686
Now sorting by verbs, by cases and by acceptance are all reset when perspective is changed.

Selection by default and items per page are intentionally not reset.

[2022-04-05 02:43] #686 closed, assigned to nobody

[2022-04-05 06:32] nadezhday opened #689 "Checkbox becomes selected after clicking on the sorting icon"
The problem is found during testing https://github.com/ispras/lingvodoc-react/issues/667

1) Login as admin
2) http://lingvodoc.ispras.ru/dictionary/4839/1/perspective/4839/2/publish
Result: there are a lot of checkboxes in the table.
3) click checkbox in the header of the first column
![image](https://user-images.githubusercontent.com/59951991/161692150-ca399129-a8b0-401f-b00c-dd6c32e4addf.png)

[2022-04-05 06:35] nadezhday commented on #667
1) Login as admin
2) http://lingvodoc.ispras.ru/dictionary/4839/1/perspective/4839/2/publish
Result: there are a lot of checkboxes in the table.

Problems: During Sorting checkbox becomes selected automatically. Separate defect is created:
https://github.com/ispras/lingvodoc-react/issues/689 Checkbox becomes selected after clicking on the sorting icon

[2022-04-05 06:50] nadezhday opened #690 "Revitalization of the languages of Russia: Link to languages -> Empty screen and exception"
Login as admin
http://lingvodoc.ispras.ru/dictionary/4839/1/perspective/4839/2/publish

Click any link in the first column

![image](https://user-images.githubusercontent.com/59951991/161695103-11672908-b0f4-40bd-9b04-917157c7a032.png)

Problem: Exception

![image](https://user-images.githubusercontent.com/59951991/161695493-5dbdbc05-f248-4114-8985-8a94d3a08c00.png)

TypeError: g is undefined

[2022-04-05 10:23] nadezhday commented on #667
Covered in tests\test_revital_01.py

[2022-04-05 10:28] nadezhday commented on #666
Verified

[2022-04-05 11:29] nadezhday commented on #688
![image](https://user-images.githubusercontent.com/59951991/161744510-8f9d4442-7555-4689-a6f0-ff1735dd5b7f.png)

Problem: Refresh icon is used for accepted first/ accepted last ordering.
It is not obvious.

@Dina936, please help us. What icon can be used instead Refresh?

[2022-04-05 11:39] nadezhday commented on #688
@myrix something is wrong.
If we select Sort by verbs option in addition to Sort by acceptance.
The ordering does not work correctly
![image](https://user-images.githubusercontent.com/59951991/161745836-154b0c65-f3eb-4715-bfcf-686c8ef9172b.png)

[2022-04-05 11:46] nadezhday commented on #688
1)activate the option the first time
![image](https://user-images.githubusercontent.com/59951991/161746669-8d1fba41-607d-4672-8100-14c71d924bf1.png)
2) Click alternate button
![image](https://user-images.githubusercontent.com/59951991/161746819-bcdfb863-5b67-4d09-bb38-f70345b7566a.png)

3) deactivate the option
![image](https://user-images.githubusercontent.com/59951991/161746919-5f9265c7-86a3-4b0

[2022-04-05 12:07] nadezhday commented on #688
Covered in tests\test_tools_valency_03.py  and tests\test_tools_valency_05.py

[2022-04-05 12:11] myrix commented on #688
Fixed sorting issue.

First/last not resetting on option on/off for now stays as it is as it seems more convenient this way, would change later if users would request it.

[2022-04-05 12:11] #688 closed, assigned to nobody

[2022-04-06 05:57] nadezhday opened #692 "Valency: Sort by cases + Sort by acceptance"
The problem found during https://github.com/ispras/lingvodoc-react/issues/688 verification

![image](https://user-images.githubusercontent.com/59951991/161904769-42e6d07e-899c-483e-9b52-0d6a72fb035f.png)

Steps to reproduce

select Uralic › Udmurt › Corpus of Udmurt texts › удмуртские тексты

Sort by verbs -ON
азьмыныны
Result: Instances 1-6/6

Sort by cases - ON

Sort by acceptance - ON

If neede

[2022-04-06 05:57] nadezhday commented on #688
Separate defect is created

https://github.com/ispras/lingvodoc-react/issues/692 Valency: Sort by cases + Sort by acceptance

This case can be verified.

[2022-04-06 06:36] nadezhday commented on #692
Should be covered in tests\test_tools_valency_05.py (remove raise SkipTest)

[2022-04-06 06:39] nadezhday commented on #686
verified

[2022-04-06 06:40] myrix commented on #692
That's expected sorting order, first by cases, then by acceptance:
![image](https://user-images.githubusercontent.com/2802467/161911273-b35134ca-2631-43fb-9871-7aa1f1606d74.png)

Works as expected.

[2022-04-06 06:40] #692 closed, assigned to nobody

[2022-04-06 07:11] Dina936 commented on #510
@nadezhday Nadia, see my solution

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=878%3A4418

[2022-04-06 07:18] nadezhday commented on #510
@Dina936, looks fine.

[2022-04-06 07:18] nadezhday commented on #651
Works fine
![image](https://user-images.githubusercontent.com/59951991/161917688-dd1a865d-7b3f-4678-9a38-68f2fefbe0db.png)

[2022-04-06 07:24] Dina936 commented on #510
я перевожу на Наталью
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=878%3A4418

[2022-04-06 08:55] nadezhday commented on #651
Covered in tests\test_eaf_corpus_conversion.py

[2022-04-06 08:56] nadezhday commented on #649
Covered in tests\test_eaf_corpus_conversion.py

[2022-04-07 04:46] nadezhday opened #693 "List of dictionaries - empty (Exception t.get is not a function)"
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_frontend/1082/

Tests - FAIL

![image](https://user-images.githubusercontent.com/59951991/162121914-f9bf6b1a-5294-4035-8041-1f517e4ce11c.png)

Steps to reproduce:
http://83.149.198.62/dashboard/dictionaries_all

Problem: White screen.

TypeError: t.get is not a function
    e treeBuilder.js:57
    Immutable 16
    e treeBuilder.js:62
    Immu

[2022-04-07 05:26] nadezhday commented on #693
One more scenario:
Login as Julia
My files
Import as starling
[Хантыйская базисная лексика.csv](https://github.com/ispras/lingvodoc-react/files/8439867/default.csv)

Dashboard->Import Excel and Starling dictionaries
select the uploaded file

Problem: white screen + Exception
TypeError: t.get is not a function
    VC dictImport.js:192
    VC dictImport.js:192
    VL index.js:286
    Redux 12
    va

[2022-04-07 05:57] ankan2013 opened #694 "Apertium Sah parser improvement"
A modification was made to Apertium Sah language parser in https://github.com/ispras/lingvodoc/pull/1363.
It uses a new mode of Apertium parsing process that provides the result with some additional grammatic characteristics.
The execution of the parser stays the same as was described in https://github.com/ispras/lingvodoc-react/issues/595.
Each markup element now gets the only variant of markup d

[2022-04-07 05:57] #694 closed, assigned to nobody

[2022-04-07 06:16] nadezhday commented on #694
Verified.
![image](https://user-images.githubusercontent.com/59951991/162132602-06ef508c-f226-4707-9e61-3e42e365d844.png)

[2022-04-07 06:27] nadezhday commented on #694
Covered in tests\test_parser_sah.py

[2022-04-07 10:05] nataliauvarova commented on #510
Done

[2022-04-07 10:05] #510 closed, assigned to nataliauvarova

[2022-04-07 10:30] jandrew44 commented on #693
Fixed.

[2022-04-07 10:30] #693 closed, assigned to jandrew44

[2022-04-07 11:25] nadezhday commented on #510
verified.

Test tests\test_support_version.py - updated

[2022-04-07 12:08] nadezhday commented on #693
Verified

[2022-04-08 03:44] nadezhday opened #696 "Parsing of file sah.odt failed: An error occured during Apertium parser process running"
Test tests\test_parser_sah.py - FAIL

Follow the steps from https://github.com/ispras/lingvodoc-react/issues/595

![image](https://user-images.githubusercontent.com/59951991/162358393-7bf82cc5-8613-453d-9ff9-a6dc8f49b079.png)

![image](https://user-images.githubusercontent.com/59951991/162357820-e1ab6b28-9a4b-4035-87a0-171277ec2e3b.png)

Problem:
(1/2) Parsing of file sah.odt failed: An error occu

[2022-04-08 08:15] myrix commented on #696
Looks like now it computes ok.

[2022-04-08 08:15] #696 closed, assigned to nobody

[2022-04-08 08:23] nadezhday commented on #696
Works fine. Verified

[2022-04-08 13:57] nataliauvarova commented on #681
Done

[2022-04-08 13:58] nataliauvarova commented on #689
Fixed

[2022-04-08 13:58] #689 closed, assigned to nataliauvarova

[2022-04-11 06:30] nadezhday commented on #689
Verified.

[2022-04-11 06:42] nadezhday commented on #681
Verified on Test env. (http://83.149.198.62)  - OK
Not verified on http://lingvodoc.ispras.ru/ -  NOK

I cannot see this translation in /edit_translations page? Should it be?
@nataliauvarova
@jandrew44

[2022-04-11 09:02] nataliauvarova commented on #681
If the database is not from production, then yes!

In production:
![Снимок экрана 2022-04-11 в 11 59 40](https://user-images.githubusercontent.com/90451645/162702325-20521894-1238-4fd9-a437-88e501f3db78.png)

[2022-04-15 04:35] nadezhday commented on #681
Not verified

![image](https://user-images.githubusercontent.com/59951991/163519048-22313ffb-d6b9-4533-9842-ccb6d53b1fdb.png)

[2022-04-15 04:41] nadezhday commented on #681
http://lingvodoc.ispras.ru/dashboard/dictionaries_all  - NOK
![image](https://user-images.githubusercontent.com/59951991/163519398-ebb0cec6-02bf-4d93-82c8-858233aed90a.png)

@nataliauvarova please check that all your changes are in the build.

Note: http://83.149.198.62/dashboard/dictionaries_all - OK

[2022-04-15 13:18] nataliauvarova commented on #681
Updated on production

[2022-04-15 13:18] #681 closed, assigned to nataliauvarova

[2022-04-17 05:46] myrix opened #699 "Import Excel and Starling dictionaries: CSV import problem"
User reports a problem with importing of [Казымский хантыйский.csv](https://github.com/ispras/lingvodoc-react/files/8501063/default.csv), the data is placed in the wrong columns:
![image](https://user-images.githubusercontent.com/2802467/163702265-7bf7510f-df09-47fc-86a7-5084a8e61a59.png)

[2022-04-17 06:03] myrix opened #700 "Import Excel and Starling dictionaries: choose fields via search"
In 'Import Excel and Starling dictionaries' Lingvodoc field selection is rather inconvenient, we have many fields and we have to scroll to choose one for each of the columns:
![image](https://user-images.githubusercontent.com/2802467/163702711-20fa97ae-c6a3-472a-ad18-dbd7b6ebd413.png)

We should be able to select fields via a search, a standard dropdown with a search probably would do.

While we a

[2022-04-17 06:43] myrix commented on #699
Fixed, the problem, it seems, was faulty handling of the columns with the same name.

Testing:

Upload, if required, the file in the user menu -> 'My files'.

Open 'Import Excel and Starling dictionaries', select the file, keep all the columns:
![image](https://user-images.githubusercontent.com/2802467/163703574-23d5f034-734f-4f3d-a4ba-dba132ba8112.png)

Select the fields:
![image](https://user-im

[2022-04-17 06:43] #699 closed, assigned to nobody

[2022-04-17 06:47] myrix commented on #700
Implemented.

Selection with search:
![image](https://user-images.githubusercontent.com/2802467/163703959-7c8ff61c-d838-4869-95a2-05a10c125c6e.png)

No fields with empty names:
![image](https://user-images.githubusercontent.com/2802467/163703966-1ff81d3c-aaa6-4fa0-9edd-b31d67e1982f.png)

[2022-04-17 06:47] #700 closed, assigned to nobody

[2022-04-17 07:21] myrix opened #701 "Remove unnecessary user role info"
When we load Lingvodoc page for a logged in user, we get quite user info, quite a sizeable one for some users, most of the size coming from the roles info which right now is not used by anything.

E.g. logged in as admin, production and local development:
![image](https://user-images.githubusercontent.com/2802467/163704816-0b94fe98-908e-4908-b553-6709e14b7804.png)
![image](https://user-images.gith

[2022-04-17 07:27] myrix commented on #701
Implemented, locally we have quite an improvement, from 1.99 MB to 299 B and from 5.02 s to 49 ms:
![image](https://user-images.githubusercontent.com/2802467/163705010-ca2b6dbc-209a-470f-86ad-d2d66a455a64.png)

[2022-04-17 07:27] #701 closed, assigned to nobody

[2022-04-17 19:18] myrix opened #702 "Disallow file uploading and file deletion for inactive users"
Currently inactive users can upload files and can delete uploaded files, they should not be able to do that.

[2022-04-17 22:56] myrix commented on #702
Implemented.

Testing:

1. Choose a user, e.g. 'test'.

2. Sign in as administrator, user menu -> User account activation/deactivation, ensure that the user is active.

3. Sign out, sign in as the user, user menu -> My files.

4. Upload a file, upload successful.

5. Remove a file, remove successful.

6. Upload another file.

7. Sign out, sign in as administrator, deactive the user.

8. Sign out,

[2022-04-17 22:56] #702 closed, assigned to nobody

[2022-04-18 04:34] nadezhday opened #703 "Pagination: Possibility to open a specific page"
Open http://lingvodoc.ispras.ru/dictionary/4860/190/perspective/4860/191/view

Result: there are 195 pages

Just imagine, a user would like to open the100th page. How can the user do this?

Implement: field to enter the page number

![image](https://user-images.githubusercontent.com/59951991/163754932-110f5cc4-5ca2-4908-a86f-1207146b25b3.png)

[2022-04-18 05:14] nadezhday opened #704 "My files: table does not appear. Loading..."
Login as Julia

My files

Expected: The table with files appears.

Actual: Loading... The table does not appear.

![image](https://user-images.githubusercontent.com/59951991/163758238-19afc0cb-2602-4e83-ac26-e5bc0ae71236.png)

Workaround: you need to press F5.

[2022-04-18 05:17] nadezhday commented on #704
test my_files - FAILed
tests\test_import_starling_dict_01.py - FAILed

[2022-04-18 05:53] nadezhday commented on #704
The same problem with page Tools->Valency
The list of dictionaries does not appear.

[2022-04-18 08:04] nadezhday commented on #681
http://lingvodoc.ispras.ru/dashboard/dictionaries_all

Eng:
![image](https://user-images.githubusercontent.com/59951991/163777236-0e6a162a-c5e9-4503-8733-9667eb79c1dd.png)

Rus:
![image](https://user-images.githubusercontent.com/59951991/163777401-7c6cec65-4321-4642-8efd-47a6f655dba6.png)

Verified

[2022-04-18 08:28] nadezhday commented on #699
Scenario works.

[2022-04-18 08:31] nadezhday commented on #700
Verified

[2022-04-18 08:32] nataliauvarova commented on #669
Done

[2022-04-18 08:32] #669 closed, assigned to nataliauvarova

[2022-04-18 08:39] nadezhday commented on #701
Verified
![image](https://user-images.githubusercontent.com/59951991/163781834-3170089a-37f1-46b8-96bd-98bcb70731e3.png)

[2022-04-18 08:49] nadezhday commented on #702
Scenario from description works as expected.

@myrix

Ivan, should we also disable Become a member, Become an administrator  buttons for inactive users?
![image](https://user-images.githubusercontent.com/59951991/163783022-d7755c5b-194b-40b5-865f-d87b3fc44a8c.png)
I can create a separate enhancement.

Join in http://83.149.198.62/grants
![image](https://user-images.githubusercontent.com/59951991/1

[2022-04-18 09:33] myrix commented on #702
Yeah, we probably should, separate enhancement ok.

[2022-04-18 13:07] nadezhday commented on #699
Covered in tests\test_import_starling_dict_02.py

[2022-04-18 13:08] nadezhday commented on #700
Covered in tests\test_import_starling_dict_02.py

[2022-04-19 03:08] myrix opened #706 "Edit profile: proper email conflict handling"
As reported by Andrey Zharov, right now if we try to edit in already existing email in Edit profile, we'll get a 500 with an internal html error page:
![image](https://user-images.githubusercontent.com/2802467/163912099-9793fc54-d42c-42fc-8337-61d28ef35c73.png)

In such cases we should get a 409 with a {"status": "409 Conflict", "error": "'The user with this email is already registered'"} response

[2022-04-19 03:13] myrix commented on #706
Implemented, we now get a 409 with a {"status": "409 Conflict", "error": "The user with this email is already registered"} response:
![image](https://user-images.githubusercontent.com/2802467/163912904-a6ac0dbb-1869-4133-9a06-f281199a8152.png)

[2022-04-19 03:13] #706 closed, assigned to nobody

[2022-04-19 05:50] nadezhday opened #707 "Sign Up: Invalid characters in Login, Password, Full name"
Right now it is possible to have spaces in Login field. - NOK
Cyrillic symbols should not be allowed.
What about #$&^,?
![image](https://user-images.githubusercontent.com/59951991/163928456-5af03b15-cefc-46e6-9c2f-48419699137a.png)

[2022-04-19 05:53] nadezhday opened #708 "Modify error message: Password do not match"
We have: Passwords does not match

Should it be: Passwords do not match
![image](https://user-images.githubusercontent.com/59951991/163930960-98b08b8e-cda0-426e-861e-f0d2fc61a54d.png)

[2022-04-19 06:02] nadezhday opened #709 "Sign In: Localization"
Sign In:
Enter incorrect Password

![image](https://user-images.githubusercontent.com/59951991/163936220-018c90b2-4322-457d-bfe1-87d17f253e32.png)

Localization is needed
Signin failure. Either no such login/password combination exists, or this user account has been deactivated.

[2022-04-19 06:04] nadezhday opened #710 "Sign Up: Localization"
Sign Up (Регистрация):
![image](https://user-images.githubusercontent.com/59951991/163935354-12f8c08f-3ce8-43d4-98a8-15fe4be75917.png)

[2022-04-19 06:10] nadezhday opened #711 "Profile: New Password Confirmation is missing"
![image](https://user-images.githubusercontent.com/59951991/163937112-081a6bdc-d8ac-49d7-9368-256a53bde9d8.png)

Do we need new password confirmation?

![image](https://user-images.githubusercontent.com/59951991/163937295-55e009bd-324a-48b1-afef-a924a4db674b.png)

[2022-04-19 06:19] nadezhday commented on #707
Spaces in Password should not be allowed
![image](https://user-images.githubusercontent.com/59951991/163938576-342da5ac-e809-4f45-aba2-5707867970be.png)

[2022-04-19 06:47] nadezhday opened #712 "Hide menus/commands for Deactivated user"
Deactivate user 'test'.
Result: Inactive

Login as 'test'

Expected:  deactivated user should not see anything that is not allowed.

Actual: Dashboard, Menus are available for deactivated user -  NOK
![image](https://user-images.githubusercontent.com/59951991/163942330-4495ae0a-411a-4309-b557-62a858148f62.png)

[2022-04-19 06:53] nadezhday commented on #712
Is he allowed to use Valency functionality?
![image](https://user-images.githubusercontent.com/59951991/163943536-d03c3101-4373-4ea8-a453-b2917a1ffab1.png)

[2022-04-19 07:28] nadezhday commented on #712
Also we need to think about making hidden:
1) Become a member, Become an administrator buttons
![image](https://user-images.githubusercontent.com/59951991/163949196-e7608674-02a6-4b2e-82a7-9af8d0e37bcb.png)

2) Join in http://83.149.198.62/grants
![image](https://user-images.githubusercontent.com/59951991/163949044-3b47ff25-72f8-443e-996f-62fdf0092e8e.png)

[2022-04-19 07:30] nadezhday commented on #702
Separate case is created:
![image](https://user-images.githubusercontent.com/59951991/163949369-0a114dc4-398f-4964-b96d-7fb4e2adda1a.png)

[2022-04-19 09:39] nataliauvarova commented on #583
Done by design: https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782

[2022-04-19 09:39] #583 closed, assigned to nataliauvarova

[2022-04-19 09:42] nataliauvarova commented on #516
Done

[2022-04-19 09:42] #516 closed, assigned to nataliauvarova

[2022-04-19 11:56] nadezhday commented on #706
Sign Up:
1) 'The user with this login is already registered'  - OK
2) 'The user with this email is already registered'  - OK

Edit profile:
The user with this email is already registered - OK

[2022-04-19 12:15] nadezhday commented on #583
http://83.149.198.62/dashboard/dictionaries

Localization is needed.
 @nataliauvarova, could you please check that all your changes in the build.

![image](https://user-images.githubusercontent.com/59951991/164000466-7729821b-c996-480c-afd1-f9c21909279a.png)

Figma:
![image](https://user-images.githubusercontent.com/59951991/164000967-74c9d6b9-9e9b-43b6-b880-54e5ade26f62.png)

[2022-04-19 12:22] nadezhday commented on #516
Two different dialogs:
1)
![image](https://user-images.githubusercontent.com/59951991/164002281-e84af304-27f1-4b94-a3a2-b7840146b5f8.png)

![image](https://user-images.githubusercontent.com/59951991/164002127-71a8da5d-d418-4610-b2f2-25fb23c998b8.png)

2)
![image](https://user-images.githubusercontent.com/59951991/164002560-5435089c-6545-4e6e-8679-db5799faa6a2.png)

![image](https://user-images.git

[2022-04-19 12:25] nataliauvarova commented on #583
This Localization has been added to the admin panel on production:
![Снимок экрана 2022-04-19 в 15 20 48](https://user-images.githubusercontent.com/90451645/164002581-7adf3c69-17dc-4ff9-a51b-d8f74406d78e.png)

After updating the production, you will be able to see it.

[2022-04-19 12:43] nadezhday commented on #516
Verified.

[2022-04-19 15:31] jandrew44 commented on #708
Fixed.

[2022-04-19 15:31] #708 closed, assigned to jandrew44

[2022-04-19 15:36] jandrew44 commented on #711
Old password is required to set the new password only, it is not needed for changing name or email.
Perhaps it makes sense to separate passwords into separate UI section on the form.
@Dina936, what do you think?

[2022-04-20 07:03] nadezhday commented on #708
Verified
![image](https://user-images.githubusercontent.com/59951991/164169902-ab4de5b8-1a79-4a28-832d-233dfbc9f8e4.png)

[2022-04-20 07:13] Dina936 commented on #711
@jandrew44 Is it possible to make a profile not in a modal window?
If yes, then you can transfer the task to me

[2022-04-20 07:18] nadezhday opened #714 "Modify 'Set valency annotation' message"
It seems that this message is not fully correct:
Set valency annotation.
![image](https://user-images.githubusercontent.com/59951991/164171846-002f0fbd-8b1c-4cf9-a89c-f2da7eb705c9.png)

![image](https://user-images.githubusercontent.com/59951991/164171670-6ac7ae84-2c83-414b-aef4-f439938e9c56.png)
Установите аннотацию валентности.

This message tells us that valency annotation has been set.
Now it

[2022-04-20 07:19] nadezhday opened #715 "Valency: Localization left issues 'Go to page'"
![image](https://user-images.githubusercontent.com/59951991/164171240-16eb92f1-c06c-4018-ba5d-6abb9574b4f0.png)

I suggest to rename the following text:

На страницу: ___1___ [Перейти]

[2022-04-20 07:19] nadezhday commented on #669
Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/715

[2022-04-20 07:24] nadezhday commented on #583
Verified http://83.149.198.62/dashboard/dictionaries

![image](https://user-images.githubusercontent.com/59951991/164173196-04c7db3c-77e9-43dd-9080-90351865660c.png)

[2022-04-20 08:50] nadezhday commented on #583
Covered in tests\test_view_lexical_statist.py

[2022-04-20 09:07] nataliauvarova commented on #715
Fixed: http://lingvodoc.ru/valency

[2022-04-20 09:07] #715 closed, assigned to nataliauvarova

[2022-04-20 10:27] nadezhday commented on #715
Looks fine.

[2022-04-20 10:47] nadezhday opened #716 "Update Content table with new added dictionary"
Normanskaya:
/dashboard/dictionaries_all

When a new dictionary is created it should appear in the top table

![image](https://user-images.githubusercontent.com/59951991/164214375-177494da-58c8-41d7-9178-2e7b2137f007.png)

![image](https://user-images.githubusercontent.com/59951991/164214586-75152c35-e1da-45b1-9a38-4226de8c1342.png)

It is very important to implement this functionality!

[2022-04-20 10:49] nadezhday commented on #716
@Dina936 FYI

[2022-04-20 12:31] nadezhday opened #717 "User account activation/deactivation: Dialog does not appear"
Login as admin

User account activation/deactivation

![image](https://user-images.githubusercontent.com/59951991/164230516-6a79153f-fe8e-4e12-92b4-8be2f77c03cb.png)

Expected: dialog with users' logins should appear.

Actual: Nothing

[2022-04-20 16:57] jandrew44 commented on #717
Fixed.

[2022-04-20 16:57] #717 closed, assigned to jandrew44

[2022-04-21 02:43] myrix opened #718 "Adding/removing languages in the TOC"
We need to be able to add/remove languages in the TOC:
![image](https://user-images.githubusercontent.com/59951991/164214586-75152c35-e1da-45b1-9a38-4226de8c1342.png)

[2022-04-21 03:22] myrix commented on #718
Implemented.

Sign in as administrator, go to Tools -> Edit of the dialects classification, you can add a language to the TOC by clicking on 'Add to TOC' button:
![image](https://user-images.githubusercontent.com/2802467/164361838-d2696849-5727-4f40-8a9a-4949ebb7b6fb.png)

Language then would appear in the dictionary (Language databases -> Dictionaries) / corpora (Language databases -> Language co

[2022-04-21 03:22] #718 closed, assigned to nobody

[2022-04-21 05:05] nadezhday commented on #717
Verified.

[2022-04-21 07:03] nadezhday commented on #702
Covered in tests\test_user_sign.py

[2022-04-21 07:04] nadezhday commented on #717
covered in tests\test_user_sign.py

[2022-04-21 07:53] myrix commented on #562
Implemented backend-side filtering with simple frontend-side pagination, to filter enter a filtering string and click the search icon / press "enter":
![image](https://user-images.githubusercontent.com/2802467/164406402-bc1fd002-f764-4870-846b-9df65d2b8eb7.png)
![image](https://user-images.githubusercontent.com/2802467/164406595-2ab1397d-9048-4509-8787-a1beda93b965.png)

[2022-04-21 08:28] nadezhday opened #719 "Submit button is cut if alert messages are present in the dialog"
Enter invalid data in Sign Up dialog

![image](https://user-images.githubusercontent.com/59951991/164413493-93abd2f9-2870-4030-ab0d-7f6a31b4a94d.png)

Problem: Submit button us not fully visible.

[2022-04-21 08:34] nataliauvarova commented on #710
Fixed

[2022-04-21 08:34] #710 closed, assigned to nataliauvarova

[2022-04-21 08:35] nataliauvarova commented on #709
Done

[2022-04-21 08:49] nadezhday commented on #708
covered in tests\test_user_sign.py

[2022-04-21 09:51] nadezhday commented on #706
Covered in tests\test_user_edit_profile.py

[2022-04-21 09:52] Dina936 opened #720 "In dictionaries, leave only the table of contents."
Learn more at Figma:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=610%3A5982

[2022-04-21 10:23] nadezhday opened #721 "Localization for Adding/removing languages in the TOC"
https://github.com/ispras/lingvodoc-react/issues/718

localization is needed for Adding/removing languages in the TOC functionality

[2022-04-21 10:23] nadezhday commented on #718
Verified

[2022-04-21 11:30] myrix opened #723 "Faster locale interface translation data loading"
Currently locale interface translation data loading takes quite a bit of time, e.g. 862 ms on production and 1620 ms on local development:
![image](https://user-images.githubusercontent.com/2802467/164448716-566834e7-fb04-4267-9685-499373062bb6.png)
![image](https://user-images.githubusercontent.com/2802467/164448722-6a73387c-25c6-45b9-abcf-bda0bbb9ff13.png)

We should try to make it faster.

[2022-04-21 12:14] myrix commented on #723
Implemented some optimizations, now it's quite faster at 153 ms on local development:
![image](https://user-images.githubusercontent.com/2802467/164455703-5bad3a65-f478-480a-9081-598d2531f407.png)

[2022-04-21 12:14] #723 closed, assigned to nobody

[2022-04-21 12:15] Dina936 commented on #562
@myrix  I need to redesign search and pagination. I will transfer the task to Natalia.

[2022-04-21 13:43] jandrew44 commented on #716
Solved by #718.

[2022-04-21 13:43] #716 closed, assigned to jandrew44

[2022-04-21 15:18] jandrew44 commented on #711
@Dina936 yes it is possible.
The task is assigned on you already.

[2022-04-22 04:55] nadezhday opened #725 "Cognate acoustic analysis: Exception (Uncaught (in promise) TypeError: a is undefined)"
Test tests\test_cognate_acoustic_analysis.py - FAILed
Login as Julia
Open /dictionary/657/3/perspective/657/4/view
Tools - Cognate acoustic analysis

Problem: Exception

![image](https://user-images.githubusercontent.com/59951991/164605755-5dfc0aea-d9e1-4a20-8d36-4bc2643a290d.png)

[2022-04-22 05:03] nadezhday commented on #725
Actually we have problems with Tools:
1)cognate_multi_analysis
2)cognate_multi_reconstr
3)cognate_multi_suggestions

[2022-04-22 05:05] myrix commented on #725
Seems related to #718.

[2022-04-22 05:17] nadezhday commented on #723
Verified.

Works faster.

[2022-04-22 05:20] nadezhday opened #726 "Make the Filter... field wider"
Can we make Filter... field wider?

![image](https://user-images.githubusercontent.com/59951991/164608257-e2546bac-4005-4210-a09e-da041ea32779.png)
Usually Dictionary names are too long.

[2022-04-22 05:43] nadezhday opened #727 "Search in translations should be case insensitive"
Filter in translations should be case insensitive

![image](https://user-images.githubusercontent.com/59951991/164610864-e755e9cf-861a-4c51-a4cf-404860b46867.png)

[2022-04-22 05:51] nadezhday commented on #716
Verified in #718

[2022-04-22 06:39] myrix commented on #727
Implemented, with an option to make the search case-sensitive if required.

[2022-04-22 06:39] #727 closed, assigned to nobody

[2022-04-22 06:42] myrix commented on #562
@Dina936 If it's relevant for redesign, search now has case sensitivity setting:
![image](https://user-images.githubusercontent.com/2802467/164618301-c12d2a7e-79e0-48f2-8c6a-434e8db45fc9.png)

[2022-04-22 07:22] nadezhday commented on #718
Covered in tests\test_tools_classification.py

[2022-04-22 07:28] nadezhday opened #728 "Localization Case-sensitivу option in translation"
Translations:
1) Case-sensitive
![image](https://user-images.githubusercontent.com/59951991/164627163-429e518e-e05f-4e3a-b8c6-8f65c9c48a8b.png)

2) No translations.
![image](https://user-images.githubusercontent.com/59951991/164647830-91ac6548-33d0-40bf-8f36-5bdf704b25c7.png)

Localization is needed.

[2022-04-22 07:29] nadezhday commented on #727
Verified

[2022-04-22 08:06] myrix commented on #725
Probably not because of #718, more likely because of upgrades of react, redux and apollo.

Fixed, now Cognate analysis, Cognate acoustic analysis, Cognate multi-language analysis, Cognate reconstruction, Cognate multi-language reconstruction, Cognate suggestions and Cognate multi-language suggestions open and compute ok.

[2022-04-22 08:06] #725 closed, assigned to nobody

[2022-04-22 08:28] myrix opened #729 "Valency: changing order of application of sorting options"
Users request so that it would be possible to first sort acceptance, and only then by verbs and/or cases.

We should implement possibility of changing order of application of sorting options.

[2022-04-22 09:53] nadezhday commented on #725
Manual testing: OK
Automatic tests - OK

[2022-04-22 10:21] nadezhday commented on #710
Verified  (http://lingvodoc.ispras.ru/)
![image](https://user-images.githubusercontent.com/59951991/164689593-19d087ab-b659-4865-b1d4-79dbc659d1a5.png)

[2022-04-22 10:25] nadezhday commented on #709
It looks like that we introduced the regression.

The area with error text becomes hidden on the bottom.

![image](https://user-images.githubusercontent.com/59951991/164691580-2d78570a-cc24-4f01-bb6e-8642d8f00c04.png)

Reopening. @nataliauvarova FYI

[2022-04-22 15:35] nataliauvarova commented on #709
Fixed

[2022-04-22 15:35] #709 closed, assigned to nataliauvarova

[2022-04-23 01:51] myrix commented on #685
Should be fixed by https://github.com/ispras/lingvodoc-react/commit/57f32256bea952400d0f89f649c97249c4091377.

[2022-04-23 01:51] #685 closed, assigned to nobody

[2022-04-23 01:52] myrix commented on #704
Should be fixed by https://github.com/ispras/lingvodoc-react/commit/57f32256bea952400d0f89f649c97249c4091377.

[2022-04-23 01:52] #704 closed, assigned to nobody

[2022-04-23 02:15] myrix opened #732 "Spurious user info request"
Sign out, refresh page, we have a getting user info error while we are not in a signed in state:
![image](https://user-images.githubusercontent.com/2802467/164865522-42de1a6d-7ca7-427f-a048-90b5afe2b0b0.png)
![image](https://user-images.githubusercontent.com/2802467/164865526-58bc6f00-d858-4646-91c5-a572261efafa.png)

We should not try to get user info if we are not signed in.

[2022-04-23 02:17] myrix commented on #732
Fixed, no more spurious user info request on page opening when signed out.

[2022-04-23 02:17] #732 closed, assigned to nobody

[2022-04-23 03:33] myrix opened #733 "Better perspective fields info loading"
Open any perspective, e.g. /dictionary/4830/23/perspective/4830/27/edit, we have a slow request which contains info of all fields defined in the system, which we don't actually need, as it is used only to manually match it to perspective's columns.

829 ms on local development:
![image](https://user-images.githubusercontent.com/2802467/164873592-7aa5c4f1-59fd-4256-a9d4-8b12d3328fe1.png)
554 ms on

[2022-04-23 04:07] myrix commented on #733
Implemented, now it's slightly faster, at e.g. 223 ms on local development:
![image](https://user-images.githubusercontent.com/2802467/164874600-27a00756-ec6a-4298-b577-86b937c0bb35.png)

[2022-04-23 04:07] #733 closed, assigned to nobody

[2022-04-23 08:11] myrix commented on #729
Implemented.

Now users can arrange sorting options in any order using mouse drag-and-drop, independently of turning options on/off:
![image](https://user-images.githubusercontent.com/2802467/164886108-6ca92621-fcdc-4bc9-b5e0-82876d44a887.png)

Ordering of the instance data headers corresponds to the ordering of the sorting options:
![image](https://user-images.githubusercontent.com/2802467/164886

[2022-04-24 08:31] myrix opened #734 "More responsive metadata editing in corpus / dictionary creation and properties"
Home page -> Dashboard -> Create dictionary / corpus -> go to 2nd step, try to type something into 'Informant' metadata field, there is noticeable stuttering.

Open any dictionary, e.g. /dictionary/657/3/perspective/657/4/view, open dictionary properties through upper breadcrumb dropdown menu, there is the same problem.

[2022-04-24 08:37] myrix commented on #734
Now it's better, less stuttering.

[2022-04-24 08:37] #734 closed, assigned to nobody

[2022-04-24 10:35] myrix commented on #714
Changed to "Аннотация валентности выставлена.".
![image](https://user-images.githubusercontent.com/2802467/164972381-7f4aa37c-9b15-4fa1-abdd-6f51db4eb21b.png)

[2022-04-24 10:35] #714 closed, assigned to nobody

[2022-04-25 00:31] myrix opened #735 "Edit translations: add new when no results, regular expression search"
We should be able to add a new translation even when the current search yields no results, currently we can not do that:
![image](https://user-images.githubusercontent.com/2802467/165003323-86438503-6b5c-4395-9ebc-6770ed0963cf.png)

We also should allow searching with regular expressions, it would allow us to search for an exact string, currently we have no means of doing so:
![image](https://user

[2022-04-25 01:05] myrix commented on #735
Implemented.

Can add new translations when the search yields no results:
![image](https://user-images.githubusercontent.com/2802467/165004147-025a7f20-8228-427e-a854-f6c683ba6743.png)

Can search with regular expressions, allowing searching for exact match:
![image](https://user-images.githubusercontent.com/2802467/165004165-c1c519d7-687c-4faf-a95e-d927b4a07da7.png)

[2022-04-25 01:05] #735 closed, assigned to nobody

[2022-04-25 04:52] nadezhday commented on #734
Test (config.py) - updated by @myrix

[2022-04-25 05:34] nadezhday commented on #734
Verified

[2022-04-25 05:35] nadezhday commented on #709
Verified
![image](https://user-images.githubusercontent.com/59951991/165026659-deaf6911-d13f-4ac4-b995-a0ccb28d35c6.png)

[2022-04-25 06:28] nadezhday commented on #685
Tests: Removed config.driver.refresh() steps

[2022-04-25 06:28] nadezhday commented on #685
Verified.

[2022-04-25 06:35] nadezhday commented on #714
Verified on http://lingvodoc.ispras.ru/

[2022-04-25 06:37] nadezhday commented on #704
Tests - PASSed.

Verified

[2022-04-25 06:40] nadezhday commented on #735
Verified
![image](https://user-images.githubusercontent.com/59951991/165033785-939a03fb-7ae7-498d-b4fc-4e3cf5e8981a.png)

[2022-04-25 07:03] nadezhday opened #736 "Localization is needed for 'Regular expression'"
![image](https://user-images.githubusercontent.com/59951991/165037181-7b1598f5-afd2-474e-9956-928bbbd775c2.png)

[2022-04-25 07:03] nadezhday commented on #735
Localization is needed for 'Regular expression'
https://github.com/ispras/lingvodoc-react/issues/736

[2022-04-25 07:23] nadezhday opened #737 "Translation: Regular expressions functionality works incorrectly"
Initially type: perspective
![image](https://user-images.githubusercontent.com/59951991/165039041-6072f960-4614-48c6-b30f-c86e65c71ae3.png)

1)  type: perspective*9
![image](https://user-images.githubusercontent.com/59951991/165039272-04af476d-b7b9-4839-8ab6-8173b516b3a4.png)
Problem: the other gists are filtered out - NOK

2) type (Case-sensitive + Regular expression options ON): perspective

![i

[2022-04-25 07:23] nadezhday commented on #735
Regular expressions functionality works incorrectly:  https://github.com/ispras/lingvodoc-react/issues/737

[2022-04-25 07:25] nadezhday commented on #737
Nadya: I am not sure that users will use this functionality. Do we really need this option?

Normanskaya: important options for them.

[2022-04-25 07:37] myrix commented on #736
Added translation on [lingvodoc.ispras.ru/edit_translations](http://lingvodoc.ispras.ru/edit_translations):
![image](https://user-images.githubusercontent.com/2802467/165042000-570c0481-997f-4927-a9ec-0af49d3d1542.png)

[2022-04-25 07:37] #736 closed, assigned to nobody

[2022-04-25 07:41] nadezhday commented on #737
![image](https://user-images.githubusercontent.com/59951991/165042677-b49fbe98-2ce2-4932-96f6-31a46193149f.png)

[2022-04-25 08:45] nataliauvarova commented on #719
Fixed

[2022-04-25 08:45] #719 closed, assigned to nataliauvarova

[2022-04-25 08:47] nataliauvarova commented on #721
Done

[2022-04-25 08:47] #721 closed, assigned to nataliauvarova

[2022-04-25 08:48] nataliauvarova commented on #728
Done

[2022-04-25 08:48] #728 closed, assigned to nataliauvarova

[2022-04-25 09:35] ianlethic commented on #737
Case sensitive + Regular expression work unpredictable, may be allow to work only with one?
Now I turned them on both on ^[a-z]$, so I expected to see only small latin letters in names, but:
<img width="913" alt="image" src="https://user-images.githubusercontent.com/71634843/165062389-25df965c-40f0-4e51-9157-d8bf388fbf42.png">
it show russian letters and also spaces + punctuations..
However even i

[2022-04-25 10:18] myrix commented on #737
Fixed, now invalid regular expressions are processed correctly:
![image](https://user-images.githubusercontent.com/2802467/165067236-53306d37-1805-48dc-826c-f84bac2057cc.png)

Search works as expected.

In general, the search is for translation gists (groups of translations of the same concept for different locales) as whole units, so the translation gist is returned in the search with all its tra

[2022-04-25 10:18] #737 closed, assigned to nobody

[2022-04-25 10:37] myrix commented on #508
Fixed by #734.

[2022-04-25 12:19] nadezhday commented on #721
Verified with http://lingvodoc.ispras.ru/

[2022-04-25 12:21] nadezhday commented on #736
Verified
![image](https://user-images.githubusercontent.com/59951991/165087903-7bc7ed35-cbc6-49cf-835f-04c5a559b17b.png)

[2022-04-25 12:26] nadezhday commented on #728
Verified
http://lingvodoc.ispras.ru/

[2022-04-26 04:26] nadezhday commented on #719
Looks fine:

![image](https://user-images.githubusercontent.com/59951991/165221036-02489cdd-0006-4218-a09c-1449efe4cebf.png)

![image](https://user-images.githubusercontent.com/59951991/165221084-4a4263eb-c10c-4749-b4ec-2a31043e28fe.png)

[2022-04-26 05:01] nadezhday commented on #733
Verified.

[2022-04-26 05:14] nadezhday commented on #735
Covered in tests\test_tools_translations.py

[2022-04-26 06:17] myrix opened #738 "Locale switching with no reload"
Open any dictionary, e.g. /dictionary/657/3/perspective/657/4/view, wait for it to load, then switch locale via top-right menu, the page is now reloading.

The same is true almost everywhere, if not everywhere, switching locales leads to page reload.

If would be better if we could switch locales of both the interface and the data without reloading.

[2022-04-26 06:22] myrix commented on #738
Implemented, now can switch both interface and data locale without page reload.

[2022-04-26 06:22] #738 closed, assigned to nobody

[2022-04-26 07:06] Dina936 commented on #562
Search design, pagination. Sort alphabetically.
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc? идентификатор узла = 1326%3A4887

[2022-04-26 07:17] nadezhday commented on #737
Verified.
Covered in tests\test_tools_translations.py

[2022-04-26 07:26] nadezhday commented on #732
The problem is not reproduced.

[2022-04-26 07:41] nadezhday commented on #508
![image](https://user-images.githubusercontent.com/59951991/165247843-b9548cbe-66fc-4cc2-9b98-ac1f0af6ed64.png)

Expected: Page should be re-designed to have one save button only.

Actual: We still have a lot of Save buttons. - NOK

They have the same size. - OK

[2022-04-26 08:21] nadezhday commented on #729
It is impossible to guess that you can d&d options. It is not obvious. We need to have some text that explains how to use these options. Maybe implement [?] icon.

This case is assigned to @Dina936
We need to think how to make it user friendly.

[2022-04-26 10:14] Dina936 commented on #726
@nadezhday
В новом дизайне это поле шире. Проблема https://github.com/ispras/lingvodoc-react/issues/562

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc? идентификатор узла = 1326%3A4887

[2022-04-26 10:16] #726 closed, assigned to Dina936

[2022-04-26 11:09] nadezhday commented on #729
Steps to reproduce:
Login as admin

Tools-> Verb valency

[2022-04-26 13:42] jandrew44 commented on #508
I think this case can be closed since it is about buttons size only.

[2022-04-26 17:46] myrix opened #739 "Deselecting search field"
Go to /map_search, you can search with field not selected,
![image](https://user-images.githubusercontent.com/2802467/165360604-12becdc5-8ff4-4898-85ee-3f203aa943d0.png)
such search searches all the fields.

The problem is, if you select a field, you can't unselect it,
![image](https://user-images.githubusercontent.com/2802467/165360801-ebc42417-6d52-471e-b500-fd82d23cd53e.png)
and the only way is

[2022-04-26 17:52] myrix commented on #739
Implemented, you can clear the selected field by clicking the delete icon:
![image](https://user-images.githubusercontent.com/2802467/165361873-4f845867-d9b7-41ab-89a5-bc9a2f15cd16.png)
![image](https://user-images.githubusercontent.com/2802467/165361972-c811724c-1f6b-4139-9dda-f1d36dc191d9.png)

The field selection is now also searchable.

[2022-04-26 17:52] #739 closed, assigned to nobody

[2022-04-27 03:09] myrix commented on #739
@nadezhday
Tests (config/config.py, tests/test_tools_search.py) updated.

[2022-04-27 05:04] myrix commented on #739
Localization on lingvodoc.ispras.ru:
![image](https://user-images.githubusercontent.com/2802467/165444414-d40dde1b-0c9b-4380-ace5-70b440c46300.png)

[2022-04-27 05:14] nadezhday opened #740 "Exception occurs after clicking the Edit tab in Local Entries dialog"
Login as admin
Open http://83.149.198.62/map_search

Type: мама
Search
![image](https://user-images.githubusercontent.com/59951991/165444846-4c5d8fc4-a0b2-4a23-980f-af9c6b0518d1.png)

Expand the following languages
Click 1 result link
![image](https://user-images.githubusercontent.com/59951991/165444948-c74e71ca-4c40-487a-8d79-c04605e55976.png)

Click Edit tab
![image](https://user-images.githubus

[2022-04-27 05:15] nadezhday commented on #739
Functionality works fine.

[2022-04-27 05:24] myrix commented on #740
Fixed, works ok, all tabs, including 'Edit', open as expected.

[2022-04-27 05:24] #740 closed, assigned to nobody

[2022-04-27 05:49] myrix opened #741 "Dictionary properties exception"
Open /dictionary/502/3/perspective/502/4/view, wait for the dictionary to load, open in the upper breadcrumb menu 'Dictionary of Kildin Saami language (village Voronino)' -> 'Dictionary of Kildin Saami language (village Voronino) properties...', exception:

![image](https://user-images.githubusercontent.com/2802467/165449796-fbc6a265-ba8f-4e9c-ba47-d226be7941bb.png)

Uncaught Error: Maximum update

[2022-04-27 05:58] myrix commented on #741
Fixed, works ok, dictionary properties modal opens as expected.

[2022-04-27 05:58] #741 closed, assigned to nobody

[2022-04-27 06:38] nadezhday commented on #739
Covered in tests\test_tools_search_02.py

[2022-04-27 06:39] nadezhday commented on #740
Covered in tests\test_tools_search_02.py

[2022-04-27 06:54] nadezhday opened #742 "During search: strange error message 'param_46913': 4200, 'param_46914': 662"
Login as julia

http://83.149.198.62/map_search

Sub string
type in Russian: ам
Click Search
![image](https://user-images.githubusercontent.com/59951991/165458072-4050f547-3418-4ac2-84b9-767a265d1ebf.png)

Problem: nothing is found
We get strange error message.
It would be nice to ask user to use another search parameters.

'param_46913': 4200, 'param_46914': 662, 'param_46915': 3151, 'param_46916

[2022-04-27 07:22] nadezhday commented on #740
Verified

[2022-04-27 08:18] nadezhday commented on #741
Covered in tests\test_view_lexical_properties.py

[2022-04-27 13:42] nataliauvarova commented on #564
Done

[2022-04-27 13:42] #564 closed, assigned to nataliauvarova

[2022-04-27 19:54] myrix commented on #742
Fixed, now this search computes ok.

[2022-04-27 19:54] #742 closed, assigned to nobody

[2022-04-28 04:05] myrix opened #744 "New translations of existing concepts are not accessible immediately"
For example, you have a missing Russian translation for a language name at Language databases -> Dictionaries:
![image](https://user-images.githubusercontent.com/2802467/165673680-9f627343-7326-460d-ab62-03cbe89fe2ff.png)

Go to Tools -> Edit translations, search for the name in English, locale translation gist with a missing Russian translation:
![image](https://user-images.githubusercontent.com/

[2022-04-28 04:07] myrix commented on #744
Fixed, the problem was not clearing translationgist translation cache on addition of new atoms.

[2022-04-28 04:07] #744 closed, assigned to nobody

[2022-04-28 04:37] myrix opened #745 "Searching in a field error"
Search in any field, e.g. 'Word', for something, e.g. substring 'ab', an error:
![image](https://user-images.githubusercontent.com/2802467/165677326-d592a04e-39b8-4803-a775-d7cd84605e8f.png)

Caused by changes fixing #742.

[2022-04-28 04:44] myrix commented on #745
Fixed, now the search works.

[2022-04-28 04:44] #745 closed, assigned to nobody

[2022-04-28 06:38] nadezhday commented on #742
Works fine. Verified

[2022-04-28 07:17] nadezhday commented on #742
Covered in tests\test_tools_search_03.py

[2022-04-28 07:24] nadezhday commented on #745
works OK.

[2022-04-28 08:07] nadezhday commented on #744
Follow the steps in description (using Russian locale)

In order to see the Russian translation in dictionaries list I have to press F5.

Waiting with verification. @myrix FYI

[2022-04-28 08:57] nadezhday commented on #744
[2022-04-28 11-52-41.zip](https://github.com/ispras/lingvodoc-react/files/8581191/2022-04-28.11-52-41.zip)

Video

Separate defect created: https://github.com/ispras/lingvodoc-react/issues/746 Extra F5 is needed to see a new translation

[2022-04-28 09:34] nadezhday opened #746 "Extra F5 is needed to see a new translation"
Problem found during https://github.com/ispras/lingvodoc-react/issues/744 testing

Follow the steps in description (using Russian locale)

In order to see the Russian translation in dictionaries list I have to press F5.

Video:
[2022-04-28 11-52-41.zip](https://github.com/ispras/lingvodoc-react/files/8581493/2022-04-28.11-52-41.zip)

[2022-04-28 09:48] Dina936 opened #747 "Add a new search page"
examples
https://ruscorpora.ru/new/search-main.html#

@nadezhday FYI

[2022-04-29 08:26] myrix opened #748 "Corpus creation metadata editing error"
Open /dashboard/create_corpus, go to 2nd step 'Corpus names and metadata', type "123" Enter into 'Authors' metadata field, adding "123" to it, go back to the 1st step and then to the 2nd step, an error:
![image](https://user-images.githubusercontent.com/2802467/165909683-1b6ed0a8-16a1-4c4d-99c5-bd1edcc83f24.png)

[2022-04-29 08:31] myrix commented on #748
Fixed, now works ok.

Looks like the error was introduced by https://github.com/ispras/lingvodoc-react/commit/392d6636082b1c5e7b40cb4cc04fb77e219fd8ae of https://github.com/ispras/lingvodoc-react/issues/734.

[2022-04-29 08:31] #748 closed, assigned to nobody

[2022-04-30 00:52] myrix opened #749 "Valency create data error"
Go to Tools -> Verb valency, pick any perspective without valency data, e.g. "Altaic languages › Turkic languages › Yakut › Glossed corpus "Tubelteler" on Sakha language › Khalandaar tubeltelere (calendar of events" (search for it by typing "tubelteler"), click 'Create valency data' button, an error:
![image](https://user-images.githubusercontent.com/2802467/166082405-3fda0314-589d-4d32-9e6c-03a07

[2022-04-30 00:56] myrix commented on #749
Fixed, now loads and shows created valency data without error.

[2022-04-30 00:56] #749 closed, assigned to nobody

[2022-04-30 08:52] myrix opened #750 "Valency data annotation with .EAF corpora"
Users should be able to extract and work with valency annotations from .EAF corpora, just as #650 allows users to do that with valency annotations from annotated parser results.

[2022-04-30 09:56] myrix commented on #750
Implemented.

Note: requires `alembic upgrade head` on DB to work.

Testing:

Go to /valency path (or Tools -> Verb valency), select "Uralic › Udmurt › Букварь для вотяцких детей Сарапульского уезда (1882) › Глоссированный текст" perspective, click 'Create valency data' button, wait for data to be created, created valency annotation data is displayed.

[2022-04-30 17:17] myrix opened #751 "Perspective view error"
Open http://lingvodoc.ispras.ru/dictionary/296/4/perspective/296/5/edit?page=6 logged in as admin, after loading for 1 or 2 seconds we get an empty screen with an error:
![image](https://user-images.githubusercontent.com/2802467/166115630-530268dd-b489-4e62-95b5-d04739478a98.png)

[2022-04-30 17:35] myrix commented on #751
Fixed, now http://lingvodoc.ispras.ru/dictionary/296/4/perspective/296/5/edit?page=6 opens ok.

The problem was some strange empty markup entity:
![image](https://user-images.githubusercontent.com/2802467/166116208-5847ff4d-2180-46b9-aa2e-b7ba58a0aa27.png)

This should not be possible and should be investigated.

[2022-05-01 12:27] myrix commented on #751
Relevant Sentry issues:

1. https://sentry.at.ispras.ru/ispras/lingvodoc-frontend/issues/1080/

1. https://sentry.at.ispras.ru/ispras/lingvodoc-frontend/issues/1085/

Testing for Sound: http://lingvodoc.ispras.ru/dictionary/296/4/perspective/296/5/edit?page=8 opens ok.

[2022-05-02 10:03] myrix commented on #750
Temporary disabled until we'll have more clarity on details of valency instance extraction from .EAF corpora.

[2022-05-04 04:29] nadezhday commented on #749
Verified on http://83.149.198.62/valency

[2022-05-04 04:34] nadezhday commented on #749
Covered in tests\test_tools_valency_04.py

[2022-05-04 04:40] nadezhday commented on #738
Verified

[2022-05-04 05:01] nadezhday commented on #748
Verified

[2022-05-04 05:15] nadezhday commented on #751
@myrix do we need to cover this functionality in our autotests?

Scenario:
1) open http://lingvodoc.ispras.ru/dictionary/296/4/perspective/296/5/edit?page=8
search for: волосы
Result: we still can see empty field
Click table icon.

Problem: Errors
![image](https://user-images.githubusercontent.com/59951991/166626039-41c961b1-8daa-4a56-bca8-f7dfb7b4ed30.png)

[2022-05-04 06:37] myrix commented on #751
@nadezhday Probably not now, looks like we also need to disable viewing such empty entities, reopening.

Investigating how it's possible to create such empty entities and preventing it would probably be a separate issue.

[2022-05-06 14:18] myrix opened #752 "Dictionary properties: can't edit location"
Open /dictionary/3648/5/perspective/3648/8/view signed in as admin, wait for the dictionary to load, open in the upper breadcrumb menu 'Corpus of Udmurt texts' -> ''Corpus of Udmurt texts' properties...', scroll down to the location map, click on the map, location fields stays empty instead of displaying selected location like it's supposed to:
![image](https://user-images.githubusercontent.com/28

[2022-05-06 14:23] myrix commented on #752
Fixed, now can select locations alright:
![image](https://user-images.githubusercontent.com/2802467/167152207-a2d8a64a-fc98-4537-8fb7-6a588a58e177.png)

Was introduced by #734.

[2022-05-08 21:58] myrix opened #753 "Missing backend version in the Docker setup"
In some cases, when Lingvodoc is launched in the Docker setup, we have missing backend version:
![image](https://user-images.githubusercontent.com/2802467/167317349-5f1d807e-b546-43a0-9b17-f8184edfa89c.png)

Looks like it's related to a new Git version 2.35.2 addressing CVE-2022-24765.

[2022-05-08 22:38] myrix commented on #753
Fixed, backend version is displayed:
![image](https://user-images.githubusercontent.com/2802467/167318657-9e05f095-7ab1-47c0-a440-51c85bea16f7.png)

[2022-05-08 22:38] #753 closed, assigned to nobody

[2022-05-11 05:52] nadezhday commented on #753
Verified http://83.149.198.62/version_route - OK
![image](https://user-images.githubusercontent.com/59951991/167775527-7c568e90-aeac-4494-aa78-768aa95040e4.png)

Not Verified http://83.149.198.114/version_route - NOK

![image](https://user-images.githubusercontent.com/59951991/167775628-fb8fb6bd-9a28-4463-a991-c103ed9e7c00.png)

@myrix Ivan, I am not sure where to test Backend version information.

[2022-05-11 06:34] nadezhday commented on #753
Covered in tests\test_support_version.py

[2022-05-11 07:51] nadezhday commented on #752
Covered in tests\test_view_lexical_properties.py

[2022-05-11 13:21] nataliauvarova commented on #690
will be fixed on the backend

[2022-05-11 17:47] nataliauvarova commented on #562
Done the redesign of the search, pagination. Sort alphabetically.

[2022-05-11 17:47] #562 closed, assigned to nataliauvarova

[2022-05-12 06:49] nadezhday opened #756 "Translation: search does not work properly"
Problem found during verification https://github.com/ispras/lingvodoc-react/issues/562

login as admin
http://83.149.198.62/edit_translations
all
search for: Dictionary
Result: entries found - OK
![image](https://user-images.githubusercontent.com/59951991/168008351-e1be4aee-65aa-4de9-a712-6fdbb225e06a.png)

click any page (33)
![image](https://user-images.githubusercontent.com/59951991/168008925-5

[2022-05-12 06:50] nadezhday commented on #562
Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/756 Translation: search does not work properly

[2022-05-12 07:35] nadezhday commented on #562
tests\test_tools_translations.py test updated

Verified

[2022-05-12 08:05] nadezhday opened #757 "Add lexical entry: upload file -> Exception"
Test test_eaf_corpus_conversion - FAILed

Login as Julia
Create corpus (parent_language = 'Altaic languages, add perspective name, corpus name)
Click 'here'
Add lexical entry
click +
add file

![image](https://user-images.githubusercontent.com/59951991/168020508-a941d77a-e962-491a-9170-4814324c5c43.png)

Problem: Exception
Uncaught (in promise) Error: HTTPConnectionPool(host='localhost', port=80):

[2022-05-12 08:08] nadezhday commented on #757
Problem appears https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_frontend/1215/

[2022-05-12 08:13] nadezhday commented on #757
test_parser_bashkir.py test:

![image](https://user-images.githubusercontent.com/59951991/168023867-edd2a042-572f-4e79-9121-f2781f1b0b40.png)

[2022-05-12 15:45] myrix commented on #757
With proper test server configuration now works as expected.

[2022-05-12 15:45] #757 closed, assigned to nobody

[2022-05-12 21:39] myrix commented on #750
Implemented with additional merging of verbs by translations for verbs with equal 2-character prefixes, not counting diacritics.

Note: requires `alembic upgrade head` on DB to work.

[2022-05-12 21:39] #750 closed, assigned to nobody

[2022-05-13 03:43] myrix commented on #756
Fixed, now as expected shows 1 translation item the search was for.

[2022-05-13 09:21] nataliauvarova commented on #569
Done (http://lingvodoc.ru/docx2eaf)

[2022-05-13 09:21] #569 closed, assigned to nataliauvarova

[2022-05-13 18:02] myrix opened #759 "Roles modal user search: show logins in addition to names"
Login as admin, open any dictionary, e.g. /dictionary/3648/5/perspective/3648/8/view, open dictionary roles dialog from the dictionary dropdown menu from the breadcrumbs header, you can search users only by user's names:
![image](https://user-images.githubusercontent.com/2802467/168338439-6d2d9bbe-73ed-47fb-bb1f-103faf10efae.png)
![image](https://user-images.githubusercontent.com/2802467/168338447

[2022-05-13 18:09] myrix commented on #759
Implemented:
![image](https://user-images.githubusercontent.com/2802467/168342403-d50a58a1-013e-4fd4-b4ad-01a3207073c6.png)
![image](https://user-images.githubusercontent.com/2802467/168342414-3944a127-3c58-42e6-aaea-1ea0e6e472e7.png)

[2022-05-13 18:09] #759 closed, assigned to nobody

[2022-05-14 01:06] myrix opened #760 "Create corpus error"
Dashboard -> Create corpus, pick any parent language, next step, input any translation, next step, add perspective, input any name, create, an error:
![image](https://user-images.githubusercontent.com/2802467/168405137-92b112db-4108-4590-8bbf-a0f59390357e.png)
![image](https://user-images.githubusercontent.com/2802467/168405116-7462a669-7e61-4937-b6bb-ddbb1b0cda3b.png)

[2022-05-14 01:12] myrix commented on #760
Fixed, now corpus is created successfully.

[2022-05-14 01:12] #760 closed, assigned to nobody

[2022-05-14 15:37] myrix opened #761 "Languages page: edit language error"
Open /languages (Tools -> Edit of the dialects classification) logged as admin, click 'Edit' on any language, an error:
![image](https://user-images.githubusercontent.com/2802467/168438294-fbc42bbb-c70c-4b33-9ad4-c84f285cceb4.png)

[2022-05-14 15:39] myrix commented on #761
Fixed, now after clicking on 'Edit' language edit dialog opens as expected.

[2022-05-14 15:39] #761 closed, assigned to nobody

[2022-05-14 16:31] myrix opened #762 "Valency non-existent verb prefix filter error"
Open /valency, select "Uralic › Udmurt › Corpus of Udmurt texts › удмуртские тексты" perspective, click 'Create valency data' if there is not data, enable 'Sort by verbs', input "1" as verb prefix filter, click 'Apply filter (prefix "1")' button, an error:
![image](https://user-images.githubusercontent.com/2802467/168440573-01c8ecce-33ea-45d7-a034-94ac9d7b3da5.png)

[2022-05-14 16:36] myrix commented on #762
Fixed, now correctly shows no instances:
![image](https://user-images.githubusercontent.com/2802467/168440736-25d5a309-a16c-41ae-91ad-dd4a1c6a9484.png)

[2022-05-14 16:36] #762 closed, assigned to nobody

[2022-05-14 18:50] myrix opened #763 "Cognate analysis computation error"
Open /dictionary/656/2/perspective/656/3/view logged in as admin, Tools -> Cognate analysis, click 'Compute' button, wait for computation to finish, an error:
![image](https://user-images.githubusercontent.com/2802467/168444700-795ac895-1a7e-4eb6-be7d-93fc5bcfcb82.png)

[2022-05-14 18:54] myrix commented on #763
Fixed, now computes ok.

[2022-05-14 18:54] #763 closed, assigned to nobody

[2022-05-14 21:48] myrix opened #764 "Language databases -> Dictionaries error"
Sometimes, depending on query duration times it seems, when logged as admin Language databases -> Dictionaries (/dashboard/dictionaries_all) page does not open, instead giving an error:
![image](https://user-images.githubusercontent.com/2802467/168449108-14cb3071-ed48-414a-a367-35e7e882e91c.png)

[2022-05-14 21:53] myrix commented on #764
Should be fixed now.

Looks like it was introduced by https://github.com/ispras/lingvodoc-react/commit/bb5ad12d2a742e91ec47677cbc2c77c34f9c03c1.

[2022-05-14 21:53] #764 closed, assigned to nobody

[2022-05-15 04:03] myrix opened #765 "Edit translations: 'Add new translation gist' at All"
Open /edit_translations (Tools -> Edit translations) signed in as admin, search for "abc", select 'All' gist type tab, we have an 'Add new translation gist' button which should not be here:
![image](https://user-images.githubusercontent.com/2802467/168456633-44636b5a-87c4-4dde-be37-7db62b8766c2.png)

Looks like it was introduced by https://github.com/ispras/lingvodoc-react/commit/0339ac2f0b022475a

[2022-05-15 04:05] myrix commented on #765
Fixed, no more 'Add new translation gist' button at 'All' gist type tab:
![image](https://user-images.githubusercontent.com/2802467/168456714-847f2639-5d74-40a6-b3d1-4b4c6663a65d.png)

[2022-05-15 04:05] #765 closed, assigned to nobody

[2022-05-15 04:26] myrix opened #766 "Merge suggestions error"
Open /dictionary/2969/4/perspective/2969/5/merge signed in as admin, click 'View suggestions' button as soon as it is visible, an error:
![image](https://user-images.githubusercontent.com/2802467/168456779-72db991e-dc7d-4e7c-9df0-2c8bc596e330.png)

The problem is trying to get suggestions when the lexical entries and entities of the perspective are still not loaded; we should not allow getting sug

[2022-05-15 04:37] myrix commented on #766
Fixed, until all required data is fully loaded, it's impossible to try to get merge suggestions:
![image](https://user-images.githubusercontent.com/2802467/168457277-c3d08c05-efe8-4741-bafa-c3df869b1ea9.png)

[2022-05-15 04:37] #766 closed, assigned to nobody

[2022-05-15 05:32] myrix opened #767 "Valency: update from new data sources"
Users should be able to update existing perspective's valency data from new parser results / .eaf corpora.

[2022-05-15 05:46] myrix commented on #767
Implemented.

Note: requires `alembic upgrade head` on DB to work.

Testing:

Open /valency (Tools -> Verb valency), choose 'Altaic languages › Turkic languages › Yakut › The corpus is glossed "Tolko" ("Fate") in the Yakut language › The corpus is glossed "Tolko" ("Fate") in the Yakut language' perspective (search by "tolko"), click 'Update valency data', wait for the data to update, data is updat

[2022-05-15 05:46] #767 closed, assigned to nobody

[2022-05-15 19:21] myrix opened #768 "Organization page: deletion inconsistency"
As automated tests test_organization_admins.py show, sometimes organization remains in the table after being successfully deleted:
![organization_table_deleted_still_shows](https://user-images.githubusercontent.com/2802467/168490224-1ef3d169-4727-44cd-b86d-e92216ed1e54.png)

Obviously it should not be so.

[2022-05-16 00:23] myrix commented on #768
Alright, can't reproduce it, organization deletes and disappears fine, can only reproduce it with autotest, so probably a quirk of a too quick automated testing sequence.

Looks like with added waiting in test_organization_admins.py:test_delete_org() it at least tests fine, @nadezhday FYI.

[2022-05-16 00:23] #768 closed, assigned to nobody

[2022-05-16 05:29] nadezhday commented on #760
Verified (test - PASSed)

[2022-05-16 05:43] nadezhday commented on #757
Verified.
Tests - PASSed

[2022-05-16 05:51] nadezhday opened #769 "Localization of Docx -> Eaf corpus conversion feature (error messages)"
Found during verification https://github.com/ispras/lingvodoc-react/issues/569

Translate the following:

1) input file is not a .docx format file

![image](https://user-images.githubusercontent.com/59951991/168527506-8d48c0c9-fd5e-4628-9594-fd296bccdc2c.png)

2) .docx file does not have any tables

![image](https://user-images.githubusercontent.com/59951991/168527597-7d9924de-5522-432e-8160-bb7d9

[2022-05-16 05:52] nadezhday commented on #569
Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/769

[2022-05-16 05:53] nadezhday commented on #769
3. Please contact developers.....
![image](https://user-images.githubusercontent.com/59951991/168527850-46fddda1-ffca-4773-9e7e-5320f9c8f42c.png)

[2022-05-16 06:00] nadezhday opened #770 "Docx -> Eaf conversion: Exception"
http://lingvodoc.ispras.ru/docx2eaf
select bak.odt
Convert

We need to implement a validation for file input.
It is not good to have any exceptions.

![image](https://user-images.githubusercontent.com/59951991/168528053-a9ff2894-d234-475d-9ad9-ee8069d641e0.png)

[2022-05-16 06:59] nadezhday commented on #750
Verified. Covered in tests\test_tools_valency_04.py

[2022-05-16 09:23] nadezhday commented on #759
Verified

[2022-05-16 09:38] nadezhday commented on #759
Covered in tests\test_view_lexical_roles.py

[2022-05-16 10:13] nadezhday commented on #765
Covered in tests\test_tools_translations.py

[2022-05-16 10:25] nadezhday commented on #756
Video:
[2022-05-16 13-21-53.zip](https://github.com/ispras/lingvodoc-react/files/8699243/2022-05-16.13-21-53.zip)

Search for: Narym dialect. Dictionary of the Selkup monument "Материалы для ознакомления с наречием остяков Нарымского края" by St. Macarius (Nevsky) (1884).

Problem: search cannot find the translation gist.

@myrix FYI.

[2022-05-16 10:51] nadezhday commented on #763
Verified.

Covered in tests\test_cognate_analysis_02.py

[2022-05-16 10:56] nadezhday commented on #764
Free testing. I am not able to reproduce the problem. Verified.

[2022-05-16 11:04] nadezhday commented on #764
Steps:
Open http://83.149.198.62/dashboard/dictionaries_all
Try to refresh this page a few times by pressing F5.

Sometimes you can see the following error message:
Dictionary data loading error, please contact administrators.
Then dictionaries are loaded.
I cannot see any exceptions in the Console window.

@myrix any comments? Why do we have this 'Dictionary data loading error, please contact adm

[2022-05-16 11:35] myrix commented on #764
It looks like that's what's happening:
1. Page starts to load, dictionary data query starts to load.
2. F5 is pressed, dictionary data query is aborted immediately and terminated with error; the current page is still showing for a few moments, and shows this error.
3. The page starts to reload, previous page with the error goes away.

So it's working as expected.

Unfortunately, there is no possib

[2022-05-16 11:57] nadezhday commented on #764
Verified.
If we should to rephrase this error message then a separate defect can be created.

[2022-05-16 13:54] nataliauvarova opened #772 "Mobile version: Loader is superimposed on other elements of the page /edit_translations"
![Снимок экрана 2022-05-16 в 16 31 28](https://user-images.githubusercontent.com/90451645/168608606-1e757f3f-bade-4d29-902b-d8cc31a2aa67.png)

[2022-05-16 16:21] nataliauvarova commented on #772
Fixed

[2022-05-16 16:21] #772 closed, assigned to nataliauvarova

[2022-05-16 21:52] myrix commented on #756
Looks like the problem with searching by copying from the header in that case is that it modifies translation by collapsing whitespace, making the header not a valid search string for the translation.

Interestingly, the text area for editing translation, while still showing the translation with collapsed whitespace, actually allows copying translation from it unmodified, and so is a valid source

[2022-05-16 22:24] myrix commented on #756
Implemented, now both the header and translation text area display translations as they are, without collapsing white space, and can both be a valid search string source:
![image](https://user-images.githubusercontent.com/2802467/168689335-ff65a23e-cf66-40a1-8d2f-0294be6b7038.png)

[2022-05-16 22:24] #756 closed, assigned to nobody

[2022-05-17 00:04] myrix opened #774 "Valency: additional verb identifiers"
Users request 'NPST', 'NST', 'PST1', 'PST2', 'PST3' as additional verb identifiers for verb valency data extraction.

[2022-05-17 00:08] myrix opened #775 "Valency: update from changed data sources"
Users should be able to update existing perspective's valency data from changed parser results / .eaf corpora.

[2022-05-17 00:08] myrix commented on #774
Implemented, though testing on 'Uralic › Khanty › Eastern dialects › Vakh › Vakh Khanty. Field data. Korliki, 2019. › Glossed field data' has to wait until #775 is ready.

[2022-05-17 04:19] myrix opened #776 "Import dictionaries: changing field older"
User reports that when importing CSV dictionary, order of the CSV columns change between the 1st and the 2nd import steps:
![image](https://user-images.githubusercontent.com/2802467/168719492-38af289e-0efa-405b-b597-47dfafdb5a2f.png)
![image](https://user-images.githubusercontent.com/2802467/168719500-4fa011fa-ea38-4138-80e6-0c4b542341e3.png)

It would be better if it would stay as it is in the CS

[2022-05-17 04:45] myrix commented on #776
Implemented.

Testing:

Open /import (Dashboard -> Import Excel and Starling dictionaries) signed in as admin, choose 'Таблица 2_ Языки мира_ практики -2 гав.csv', keep first 9 fields:
![image](https://user-images.githubusercontent.com/2802467/168729744-c07b7f93-e89e-4a56-b75e-d2ac0dec7aaf.png)

Next step, CSV fields are in the same order:
![image](https://user-images.githubusercontent.com/2802467

[2022-05-17 04:45] #776 closed, assigned to nobody

[2022-05-17 08:13] myrix opened #777 "Perspective view: backend filtering, sorting, pagination"
On some large dictionaries (e.g. http://lingvodoc.ispras.ru/dictionary/4755/333300/perspective/4755/333301/edit, 'Altaic languages › Mongolic › West-Mongolic › Kalmyk › Dictionary based on fairy-tales recorded by G. Ramstedt › Lexical Entries', currently with 6741 lexical entries) perspective view works too slowly because of the large volume of lexical entry data.

We should try to alleviate such

[2022-05-17 08:16] myrix opened #778 "Asynchronous cognate tools"
We should make cognate computations (in perspective view, Tools menu, Cognate analysis etc.) asynchronous, so that in case of a long computations the http requests won't hang and the computation results could be properly accessible.

[2022-05-17 08:19] myrix opened #779 "Cognate tools optimization"
We should try to optimize cognate computations (in perspective view, Tools menu, Cognate analysis etc.), both in memory and CPU consumption, as now in some cases cognate computations can take up to 8 GB of resident memory and up to 30 minutes of computations.

This will require modifying the https://github.com/ispras/lingvodoc-ext-oslon library used to run the computations.

Hopefully it would als

[2022-05-17 11:58] jandrew44 commented on #673
I agree with the reasons, closing.

[2022-05-17 11:58] #673 closed, assigned to jandrew44

[2022-05-17 12:21] jandrew44 commented on #707
Currently there are no restrictions for login/password.
Perhaps we should have some, I am not sure.

[2022-05-18 13:44] jandrew44 commented on #204
Fixed.

[2022-05-18 13:44] #204 closed

[2022-05-19 00:04] myrix opened #780 "Import Excel and Starling dictionaries: better perspective names"
Right now, when importing Excel and Starling CSV dictionaries, perspective names are set to "starling_source". We should change it to "CSV (Excel) data" (en) / "CSV (Excel) данные" (ru) and "CSV (Starling) data" (en) / "CSV (Starling) данные" (ru) for Excel and Starling CSV dictionaries respectively.

[2022-05-19 00:36] myrix commented on #780
Implemented.

Testing:

Open /import (Dashboard -> Import Excel and Starling dictionaries) signed in as admin, choose Test.csv, choose any number of CSV fields, map them to any Lingvodoc fields, choose any language and any dictionary name, 'Submit', open created dictionary, perspective name is as expected:
![image](https://user-images.githubusercontent.com/2802467/169176562-7ad17348-0112-455b-946f

[2022-05-19 00:36] #780 closed, assigned to nobody

[2022-05-19 00:38] myrix opened #781 "Automatic uniparser updates"
We should automatically update uniparser installs and reload server on lingvodoc.ispras.ru when one of the uniparser packages updates.

NOTE: Should also check if we need to update uniparser-morph.

NOTE: Should check how gunicorn server logs are archived upon server reload.

[2022-05-19 05:24] nadezhday commented on #766
Verified.
Covered in tests\test_view_lexical_merge_suggestions.py

[2022-05-19 06:06] nadezhday commented on #204
Verified
Covered in tests\test_view_lexical_roles_edit.py

[2022-05-19 06:20] nadezhday commented on #673
WAD. Verified

[2022-05-19 06:37] nadezhday commented on #761
Already covered in tests\test_tools_translations.py

Verified

[2022-05-19 06:51] nadezhday commented on #756
Narym dialect. Dictionary of the Selkup monument  "Материалы для ознакомления с наречием остяков Нарымского края" by St. Macarius (Nevsky) (1884).
Works fine.

[2022-05-19 07:10] nadezhday commented on #780
Verified

[2022-05-19 07:22] nadezhday opened #782 "Create new 'name' perspective: white screen + Exception"
Open any dictionary (eg: http://83.149.198.62/dictionary/4995/1/perspective/4995/2/edit)
Invoke Create new 'name' perspective... menu command

![image](https://user-images.githubusercontent.com/59951991/169235237-94449749-36c3-48c5-895d-f387a5c649d9.png)

Exception:
TypeError: e.perspective is undefined
    r Fields.js:190
    React 8
    unstable_runWithPriority scheduler.production.min.js:18

[2022-05-19 07:58] nadezhday commented on #776
The order is covered in tests\test_import_starling_dict_02.py

[2022-05-19 10:21] nadezhday opened #783 "Valency: Options become overlapped"
Found during https://github.com/ispras/lingvodoc-react/issues/762 verification
Steps to reproduce:
Login as admin
Valency
select  Uralic › Udmurt › Corpus of Udmurt texts › удмуртские тексты
Sort by verbs - ON
In Verb prefix filter type: 1
Click Apply filter (prefix "1") button
Sort by verbs - OFF

Video:

[2022-05-19 13-16-10.zip](https://github.com/ispras/lingvodoc-react/files/8728200/2022-05-19

[2022-05-19 10:22] nadezhday commented on #762
Separate defect created:
https://github.com/ispras/lingvodoc-react/issues/783 Valency: Options become overlapped

[2022-05-19 10:41] nadezhday commented on #762
Verified. Covered in tests\test_tools_valency_06.py

[2022-05-19 10:55] nataliauvarova commented on #769
Fixed

[2022-05-19 10:55] #769 closed, assigned to nataliauvarova

[2022-05-19 11:09] nadezhday commented on #769
Verified in http://lingvodoc.ispras.ru/docx2eaf

[2022-05-19 11:49] nadezhday commented on #564
Verified

[2022-05-19 11:55] nadezhday commented on #772
Verified
![image](https://user-images.githubusercontent.com/59951991/169287534-7661c1eb-2306-4e98-931c-3e768deaf2de.png)

[2022-05-19 11:56] nadezhday commented on #768
Test - PASSed

[2022-05-19 14:56] jandrew44 commented on #783
Fixed.

[2022-05-19 15:17] jandrew44 commented on #782
Fixed.

[2022-05-19 15:17] #782 closed, assigned to jandrew44

[2022-05-20 05:53] nadezhday commented on #782
Verified
Covered in tests\test_view_lexical_new_perspective.py

[2022-05-20 06:13] nadezhday commented on #783
The problem is reproduced
![image](https://user-images.githubusercontent.com/59951991/169464474-493bec0c-8c2a-4665-a37f-4eaa23f90246.png)

[2022-05-20 06:15] nadezhday commented on #783
Video:
[2022-05-20 09-14-16.zip](https://github.com/ispras/lingvodoc-react/files/8736849/2022-05-20.09-14-16.zip)

[2022-05-20 06:34] nadezhday commented on #752
Test tests\test_view_lexical_properties.py - FAILed
Problem: Sometimes we can see that after reopening dialog location ("lng" value) differs from the initial value.

1) NOK
 File "D:\ispras\modis\lingvodoc\frontend\tests\test_view_lexical_properties.py", line 91, in test_properties_location
AssertionError: '{"lat":61.32958673568789,"lng":59.85351562500001}' != '{"lat":61.32958673568789,"lng":60.02

[2022-05-20 09:12] myrix commented on #752
Checked, the location changes in the DB as expected, after reopening of the dialog changed location is displayed as expected.

Added some waiting for save confirmation to the test tests\test_view_lexical_properties.py, the test is now OK.

We should probably investigate more deeply how exactly this works and if we should do something to make dictionary properties interface more robust against such

[2022-05-20 09:12] #752 closed, assigned to nobody

[2022-05-20 10:14] jandrew44 commented on #783
Tried to use steps from the last video.
Could not reproduce.

[2022-05-20 10:14] #783 closed, assigned to jandrew44

[2022-05-20 10:30] jandrew44 commented on #683
Could not reproduce exception.
The following error message is reported - "GraphQL error: DictionaryPerspective was not found".

[2022-05-20 10:30] #683 closed, assigned to nobody

[2022-05-20 10:39] jandrew44 commented on #675
Tried both Chrome and Firefox.
Could not reproduce, probably was fixed already.

[2022-05-20 10:39] #675 closed, assigned to nataliauvarova

[2022-05-20 13:40] jandrew44 commented on #369
It is related to the corpus markup feature.
Was implemented a long time ago.

[2022-05-20 13:40] #369 closed, assigned to nobody

[2022-05-20 13:41] jandrew44 commented on #399
Was merged a long time ago.

[2022-05-20 13:41] #399 closed, assigned to nobody

[2022-05-22 05:06] myrix opened #785 "Corpus converter enhancement"
Users report that current corpus converter behaviour, specifically, merging of different lexical entries related to changes introduced by #258, is unsatisfactory.

We should enhance corpus converter by making this merging feature optional and introducing other customization as appropriate.

[2022-05-22 14:26] myrix commented on #785
Implemented.

Added an option to convert more than one markup simultaneously.

In the corpus conversion dialog, enable 'Convert additional markup.' option, now you can select additional markup to be included in conversion:
![image](https://user-images.githubusercontent.com/2802467/169700010-8417b472-8e7e-4445-ba90-4fe624f84402.png)
![image](https://user-images.githubusercontent.com/2802467/1697000

[2022-05-22 14:26] #785 closed, assigned to nobody

[2022-05-22 14:27] myrix opened #786 "Dictionary / perspective properties error"
Open /dictionary/4084/5404/perspective/4084/5407/view, view any markup by clicking on its table icon, 'Convert to dictionary...', select any name, select any language, 'Convert', wait for convertion to finish, go to /dashboard/dictionaries (Home page -> Dashboard -> Dictionaries), try to open properties of the created dictionary, an error:
![image](https://user-images.githubusercontent.com/2802467

[2022-05-22 15:16] myrix commented on #786
Fixed, now dictionary and perspective properties open alright.

Introduced by #785.

[2022-05-22 15:16] #786 closed, assigned to nobody

[2022-05-23 04:44] myrix opened #787 "Valency: download annotation data"
Users should be able to download data of annotated valency examples.

[2022-05-23 04:54] myrix commented on #787
Implemented.

In /valency (Tools -> Verb valency) select any perspective with valency data, click on the 'Save valency data' button, wait for valency data to be compiled, the download should start automatically, and the download link just in case would be displayed as 'Valency data':
![image](https://user-images.githubusercontent.com/2802467/169745927-45415f28-8cc5-40b2-876d-6f3f96bcc48b.png)
![im

[2022-05-23 10:20] myrix opened #788 "Undelete translationgist GraphQL mutation API"
We need a GraphQL API for undeleting translationgists, something like `undelete_translationgist` like `undelete_dictionary` and `undelete_perspective` we already have.

We need such an API when we need to undelete just the translationgist, e.g. in a situation when we need to undelete deleted translationgist (217, 2) of a non-deleted dictionary (630, 2), as the translationgist was shared between 3

[2022-05-23 14:53] nataliauvarova commented on #557
Done

[2022-05-23 14:53] #557 closed, assigned to nataliauvarova

[2022-05-24 05:49] myrix opened #789 "Investigate gist sharing for dictionaries and other entities"
Dictionaries should not share translation gists, as it may lead to problems. About 3 years ago there was work to convert any such shared gists into separate ones, but it looks like some might have slipped.

E.g., as mentioned in #788, dictionaries (217, 4), (620, 2), (630, 2) share the gist (217, 2), and it seems that when dictionary (620, 2) was deleted, the gist was deleted with it, leaving dict

[2022-05-24 05:53] myrix opened #790 "Phonology: wrong transcriptions"
Open http://lingvodoc.ispras.ru/dictionary/1574/278403/perspective/1574/278408/view, launch Tools -> Phonology, set 'Formant chart threshold' to 1, in the resulting .xlsx file word "тонкий" has transcription "nÃ¦Ã°ek", when it should have transcription "næðek"; transcriptions of some other words are also wrong.

[2022-05-24 06:05] myrix commented on #790
Fixed, now in the resulting .xlsx file "тонкий" has transcription "næðek" as expected.

The problem was that some of the markup files were read with the wrong encoding due to the server of http://lingvodoc.ispras.ru/ having and old 1.1.1 version of cchardet package.

Interestingly, it is set as `cchardet==2.1.7` in the server-requirements.txt starting from https://github.com/ispras/lingvodoc/commi

[2022-05-24 06:05] #790 closed, assigned to nobody

[2022-05-24 06:07] nadezhday commented on #783
The problem is not reproduced.

[2022-05-24 06:10] nadezhday commented on #675
Verified.

The problem is not reproduced anymore

[2022-05-24 06:12] nadezhday commented on #683
Let us leave it as it is.
![image](https://user-images.githubusercontent.com/59951991/169961149-3b132134-d29f-4da1-a02a-b5ad850e64f8.png)

[2022-05-24 09:21] nadezhday opened #791 "If translation field is empty we should ignore it"
Test tests\test_view_lexical_view_published.py - FAILed

Steps (from https://github.com/ispras/lingvodoc-react/issues/214)
Eng locale
Login as admin
/dictionary/2866/5/perspective/2866/9/view
click table icon
Convert to dictionary

![image](https://user-images.githubusercontent.com/59951991/169996649-9f6e70bc-b08e-4943-8467-a716718fc506.png)

Convert

Close
Verify in tasks
![image](https://user-im

[2022-05-24 09:46] nadezhday commented on #791
tests\test_view_lexical_view_published.py has been apdated
Removed clicking on Add button

[2022-05-24 10:08] nadezhday commented on #787
The file can be loaded BUT
Right now the generated file does not contain any useful information.
![image](https://user-images.githubusercontent.com/59951991/170007130-48d13142-ac31-4b6c-bc7c-610fe17daf7a.png)

@myrix probably we need a new build? Is this expected?

[2022-05-24 10:16] myrix commented on #787
That's expected, only annotated data is exported, if no examples were annotated, no data is returned.

Though we probably shouldn't allow generating data for export if there are no annotations, reopening.

[2022-05-24 11:18] nadezhday opened #792 "Impossible to select All entries option"
Found during verification https://github.com/ispras/lingvodoc-react/issues/786

Login as admin
http://83.149.198.62/dictionary/4084/5404/perspective/4084/5407/view

Click table icon

![image](https://user-images.githubusercontent.com/59951991/170011507-b312a185-ee5e-400d-b0cf-a1951789370b.png)

Convert to dictionary

Result: All entries option is ON

![image](https://user-images.githubusercontent.

[2022-05-24 11:39] nadezhday commented on #790
@myrix

http://83.149.198.62/dictionary/1574/278403/perspective/1574/278408/view

![image](https://user-images.githubusercontent.com/59951991/170026196-68e137c1-645f-44dd-be83-ed4a9da8656c.png)

xlsx is generated

However, 'тонкий'  is not found in this generated file.

What am I doing wrong?
![image](https://user-images.githubusercontent.com/59951991/170026094-62c51595-326d-4199-add5-f9ce560c1079

[2022-05-24 11:43] myrix commented on #792
Fixed, can now select 'All entries.'.

[2022-05-24 11:43] #792 closed, assigned to nobody

[2022-05-24 11:49] myrix commented on #790
Looks like at http://83.149.198.62/dictionary/1574/278403/perspective/1574/278408/view there is no markup file attached to lexical entry of "тонкий", cf. http://lingvodoc.ispras.ru/dictionary/1574/278403/perspective/1574/278408/view, so probably test server's DB image should be updated.

[2022-05-24 12:17] nadezhday commented on #767
Covered in tests\test_tools_valency_07_update.py

[2022-05-24 12:48] nadezhday opened #793 "Title for properties dialog does not have name of the dictionary"
Follow the steps from https://github.com/ispras/lingvodoc-react/issues/786

Open properties dialog for converted dictionary

Problem: Title for properties dialog does not have name of the dictionary
![image](https://user-images.githubusercontent.com/59951991/170038205-07de049e-6fed-461a-9fc5-9ec44060b240.png)

[2022-05-24 12:49] nadezhday commented on #786
This particular scenario works fine.  Verified.

Covered (using another dictionary) in tests\test_view_published_convertion.py

Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/793

[2022-05-24 13:00] nadezhday commented on #786
This case can be verified

[2022-05-24 13:03] myrix commented on #793
Implemented more uniform properties dialog titles, "Dictionary '...' properties" and "Perspective '...' properties" for dictionaries and perspectives respectively.

[2022-05-24 13:03] #793 closed, assigned to nobody

[2022-05-24 13:42] nadezhday commented on #557
verified

[2022-05-24 13:51] nadezhday commented on #792
Verified

[2022-05-24 13:54] nadezhday commented on #369
Closed without verification

[2022-05-24 15:48] jandrew44 commented on #194
MIME types has been added to the file input.
However note that at least Windows allows to reset file category in the dialog and select any file anyway.

[2022-05-24 15:48] #194 closed

[2022-05-24 23:40] myrix commented on #791
Related: search by any translation, including translation not in the current locale, whenever applicable, e.g. in /dashboard/dictionaries_all.

[2022-05-25 04:26] nadezhday opened #794 "Performance problem"
Users noted that performance decreased.
![image](https://user-images.githubusercontent.com/59951991/170179405-2e3ba84f-10eb-40a9-83f2-548180627134.png)

Also tests were updated (these changes can be reverted if needed)
![image](https://user-images.githubusercontent.com/59951991/170179300-82852d0e-f7ea-46d8-9116-dc38fe49360b.png)

![image](https://user-images.githubusercontent.com/59951991/17017933

[2022-05-25 06:13] nadezhday opened #795 "Cognate multi-language suggestions: Failed to compute cognate analysis"
Test tests\test_cognate_multi_suggestions.py - FAILed

Test covered scenario from https://github.com/ispras/lingvodoc-react/issues/237

Open http://83.149.198.62/dictionary/524/4/perspective/524/5/view

Tools multi language
Add language Udmurt
Compute

![image](https://user-images.githubusercontent.com/59951991/170192315-9b3592ce-fde4-4756-aa0b-56f181545259.png)

Problem: Exception
 Failed to comp

[2022-05-25 08:36] myrix opened #796 "Phonology: no results"
Open /dictionary/296/4/perspective/296/5/view, Tools -> Phonology, click 'Create', wait for task to complete, no results.

[2022-05-25 08:39] myrix commented on #796
Fixed, now computes with results.

Introduced by #790, specifically by cchardet changes.

[2022-05-25 08:39] #796 closed, assigned to nobody

[2022-05-25 09:17] nadezhday commented on #796
Formant chart threshold 8
Or we can set it to 1

![image](https://user-images.githubusercontent.com/59951991/170227659-41d8a41e-32dd-4257-b5ec-fc53ee2ab45b.png)

![image](https://user-images.githubusercontent.com/59951991/170227522-c9ae73ac-ae01-4186-afd2-d88b71192aaa.png)

Result: (4/4) Finished, no results produced

Waiting for a new build.

[2022-05-25 09:22] myrix commented on #796
It should have results on 8. The fix wouldn't be in until the new build, so definitely should wait for it.

[2022-05-25 10:49] nadezhday commented on #793
Verified
![image](https://user-images.githubusercontent.com/59951991/170245551-b83bb509-c37d-4ef6-b748-8ba167f353ab.png)

[2022-05-25 10:50] nadezhday commented on #793
Covered in tests\test_view_published_convertion.py

[2022-05-25 11:42] myrix opened #797 "Perspective view: optimized lexical entry and entity data loading"
Currently there is an inefficiency during loading of lexical entries and entities for perspective view, lexical entry ids are added to a temporary table with ids transferred from DB to the backend and then back to DB, we should try to get rid of that.

We should also probably check if we really need to order entities we receive, perhaps it would be faster not to order them and just assign them to

[2022-05-25 13:08] nadezhday opened #798 "View (0) for converted dictionary in the Dictionary list"
tests\test_view_published_convertion.py - FAILED

Login as admin
Open /dictionary/2866/5/perspective/2866/9/view
click table icon

Convert to dictionary
type text in Russian field
![image](https://user-images.githubusercontent.com/59951991/170267029-33f3ab9d-f910-42ec-b15f-c504a5cd85fb.png)

select Uralic
Convert

Result: Task contains al needed info
find me_0123
![image](https://user-images.githu

[2022-05-26 04:51] myrix commented on #795
Note: couldn't reproduce locally, couldn't reproduce on the http://lingvodoc.ispras.ru/, couldn't reproduce locally with the DB image from the May 23rd used on the testing server http://83.149.198.62, could finally reproduce only with a DB image generated from testing server DB after latest testing finished.

[2022-05-26 05:29] nadezhday commented on #523
Test tests\test_phonology.py - FAILed

PNG is generated

Version
Backend:2.1.1+1576-2c522292-2022.05.25-08:38+modified-2022.05.26-01:00
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.17
uniparser-meadow-mari:1.1.12
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.13
Frontend:server

@myrix FYI

[2022-05-26 06:09] myrix commented on #523
Checked, works as intended, except it seems there are more results then before. Looks like changes introduced by #796 allow for more meaningful data to be extracted, leading to more results.

So now it should have .png file, the test probably should be modified.

[2022-05-26 06:57] nadezhday commented on #523
Test updated. (png should be generated)

[2022-05-26 07:08] nadezhday commented on #796
Verified
![image](https://user-images.githubusercontent.com/59951991/170436624-e0af79ac-e324-452d-adda-06db594d4e4a.png)

[2022-05-26 07:15] nadezhday commented on #194
Looks OK. Verified

[2022-05-26 08:28] nadezhday commented on #785
Covered in tests\test_corpus_convertion.py (partly)

[2022-05-26 09:37] nadezhday opened #799 "Convert to dictionary: Dictionary is not present in My dictionaries list"
Locale Eng
login as admin
/dictionary/4084/5404/perspective/4084/5407/view

click table icon
![image](https://user-images.githubusercontent.com/59951991/170460966-26bffbf1-ca0e-4e61-872e-53fc01321763.png)

Covert to dictionary...
Add Russian text
Convert

Open http://83.149.198.62/dashboard/dictionaries

Dictionary is not in the list

Convert to dictionary + Update dictionary option

Problem: dict

[2022-05-26 09:39] nadezhday commented on #785
Separate defect is created:
https://github.com/ispras/lingvodoc-react/issues/799

[2022-05-26 09:54] nadezhday commented on #799
[2022-05-26 12-52-14.zip](https://github.com/ispras/lingvodoc-react/files/8778107/2022-05-26.12-52-14.zip)
Video

[2022-05-26 09:58] nadezhday commented on #799
[2022-05-26 12-55-29_работает.zip](https://github.com/ispras/lingvodoc-react/files/8778128/2022-05-26.12-55-29_.zip)

[2022-05-26 10:16] nadezhday commented on #399
Verified

parser can be opened - OK
![image](https://user-images.githubusercontent.com/59951991/170468483-14ba9efb-970e-4fbf-8765-1070128121b0.png)

[2022-05-26 12:06] myrix commented on #795
Looks like the problem is in the lingvodoc-ext-oslon library (see also #612, #778, #779), and would have to wait until we'll begin working on its enhancement.

Specifically, the problem is that the library seems to just not output a set of translations corresponding to the set of words 'си(-)|аçтэ-|нош|Со, со|ачыме|аçсэ|но|дуно|мар(-)ке|Ас, ас|ношик|таҗы|ачыд|дан(-)|Аслаз|сойыз|со|ачид|ношна|уно|т

[2022-05-26 13:15] myrix commented on #794
Checked some changes made a while ago, specifically https://github.com/ispras/lingvodoc/commit/07e4db57081853f9a0692104dd768aa42eff7873 and https://github.com/ispras/lingvodoc/commit/66a156838749ea13aecddd00592f2c0fb89d7e37, looks like one of the optimizations was working bad in unexpected conditions, actually making things worse, and queries with a large number of objects in responses, like data

[2022-05-26 17:05] jandrew44 commented on #374
I got a different exception when trying to reprodice:
Uncaught (in promise) TypeError: Cannot read properties of null (reading 'lat')
    at eval (map.js?5aa6:165:58)
    at Array.map (<anonymous>)
    at MapAreas.allDicts (map.js?5aa6:164:46)

It is a frontend issue.
However, the backend request spent more than 1 hour to complete.
It means this functionality should be implemented via tasks.
@myri

[2022-05-26 19:16] myrix opened #800 "Distance map: asynchronous check all"
Distance map check all takes too long, should be made asynchronous.

Related to #374.

[2022-05-30 20:38] myrix commented on #799
The dictionary is in the 'My dictionaries' list.

Implemented updating the list of dictionaries for update, start conversion, wait for the task to finish, open conversion dialog again, select 'Update dictionary', the new dictionary is here.

Updating list of available dictionaries in the currently opened dialog as soon as the task is finished is currently impossible, will require major rework of t

[2022-05-30 20:38] #799 closed, assigned to nobody

[2022-05-31 09:16] nadezhday commented on #799
Update dictionary

Result: dictionary is found
![image](https://user-images.githubusercontent.com/59951991/171138758-5e00a557-3a2b-4f27-b1e9-7e77925748d1.png)

@myrix
But why I can not find it in the list http://83.149.198.62/dashboard/dictionaries

![image](https://user-images.githubusercontent.com/59951991/171138216-922d2056-7760-4d16-9c21-aa8e9d4db669.png)

Workaround: F5.
Separate defect is cr

[2022-05-31 09:38] nadezhday opened #801 "Refresh is needed when we open dashboard/dictionaries page"
The problem is found during verification https://github.com/ispras/lingvodoc-react/issues/799

Locale Eng
login as admin
1) Open http://83.149.198.62/dashboard/dictionaries
2) /dictionary/4084/5404/perspective/4084/5407/view
click table icon
Covert to dictionary...
Add Russian text
Convert

3) Open http://83.149.198.62/dashboard/dictionaries

Problem: the created dictionary is not in the list
![im

[2022-05-31 10:02] nadezhday commented on #799
Scenario from description is covered in tests\test_corpus_convertion.py

[2022-05-31 10:24] nadezhday commented on #790
DB was updated,
However the problem still exists (тонкий is not found in the generated file)
![image](https://user-images.githubusercontent.com/59951991/171151876-0bf2caa4-a4a9-4379-890d-e553ab176c79.png)

@myrix, this case cannot be verified

[2022-05-31 10:30] myrix commented on #790
Looks like the DB is still not up to date to markup additions, at testing http://83.149.198.62/dictionary/1574/278403/perspective/1574/278408/view there is no markup "тонкий.TextGrid", which is present at production http://lingvodoc.ispras.ru/dictionary/1574/278403/perspective/1574/278408/view:
![image](https://user-images.githubusercontent.com/2802467/171153481-1602503c-ea82-4499-8317-5bbfb10a070

[2022-05-31 10:48] nadezhday commented on #795
Reproduced
Version
Backend:2.1.1+1578-2941cf94-2022.05.26-13:11+modified-2022.05.31-01:00
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.17
uniparser-meadow-mari:1.1.12
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.13
Frontend:765-staging-server

[2022-05-31 19:57] jandrew44 commented on #703
Done.
I have implemented a new pagination component based on Dina's design for the "edit translations" page.
This component can be used in other places where pagination is required.

[2022-05-31 19:57] #703 closed, assigned to jandrew44

[2022-06-01 05:23] nadezhday commented on #703
Not verified.
Waiting for a new build.
![image](https://user-images.githubusercontent.com/59951991/171333632-d781e0de-a5ed-402b-92ec-ad97d1e5645b.png)

[2022-06-01 09:48] jandrew44 commented on #703
@nadezhday changes were included in the build 1299.
You can look through its regression tests results.
Here is the screenshot from the failed pagination test(most likely it should be updated for the new UI).

![image](https://user-images.githubusercontent.com/43956090/171376944-fe2bc6a7-1916-4aa3-99f5-c51ccca9309f.png)

[2022-06-01 16:34] jandrew44 commented on #349
Looks fine, can be closed.

[2022-06-01 17:38] jandrew44 commented on #352
This task is related to the corpora text markup functionality that was deployed in production about 1,5 years ago.
Can be closed.

[2022-06-01 17:38] #352 closed, assigned to ankan2013

[2022-06-01 17:40] jandrew44 commented on #346
Not sure why this task was created.
It describes a part of backend implementation related to the corpora text markup.
Can be closed.

[2022-06-01 17:40] #346 closed, assigned to nobody

[2022-06-02 09:23] nataliauvarova opened #804 "New design for the table: http://lingvodoc.ru/dictionary/4839/1/perspective/4839/2/publish and other similar tables"
New design for the table: http://lingvodoc.ru/dictionary/4839/1/perspective/4839/2/publish and other similar tables.

Make according to the layout: https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

In addition to the green and red buttons above the table (there will be changes in the design)

[2022-06-02 09:26] nataliauvarova commented on #804
Done (according to the new design, except for the buttons above the table)

[2022-06-02 09:26] #804 closed, assigned to nataliauvarova

[2022-06-02 09:32] nataliauvarova commented on #125
Fixed (according to the new design: https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773)

[2022-06-03 12:39] myrix opened #806 "Get tasks error"
Getting tasks fails on the test stand:
![image](https://user-images.githubusercontent.com/2802467/171854937-8150c9d4-c916-43a9-8666-7ce01f8db388.png)

Looks like some kind of redis problem, gunicorn log in the backend container:

[2022-06-03 13:25] myrix commented on #806
Fixed.

Looks like it was problem with the redis image 'bitnami/redis:latest' in the not up-to-date docker/docker-compose-proxy.yml, changed it to 'redis:latest' as it is in docker/docker-compose.yml.

[2022-06-03 13:25] #806 closed, assigned to nobody

[2022-06-06 05:05] nadezhday commented on #806
Verified

[2022-06-06 05:11] nadezhday opened #807 "Create dictionary: Impossible to select the parent language"
Login as admin
Create dictionary
Problem: this is no list of languages on the page

![image](https://user-images.githubusercontent.com/59951991/172098640-6f26e025-e478-4e4c-8ad8-effa62b42b8d.png)

[2022-06-06 05:12] nadezhday commented on #349
Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/807

[2022-06-06 05:12] nadezhday commented on #349
This case can be closed

[2022-06-06 05:14] nadezhday commented on #807
Exception:
Uncaught TypeError: e is undefined
    n_ treeBuilder.js:6
    I index.js:67
    onCompleted index.js:86
    t useQuery.js:127
    _ module.js:132
    b module.js:176
    next module.js:225
    r iteration.js:4
    r iteration.js:4
    reportResult ObservableQuery.js:400
    next ObservableQuery.js:375
    r iteration.js:4
    r iteration.js:4
    next Concast.js:25
    _ module.js:132

[2022-06-06 05:15] myrix opened #808 "Distance map update and optimization"
Distance map (Home page -> Tools -> Language genetic proximity map) should be refactored, updated to use new language tree components from #720 and optimized.

If required, any other GraphQL backend API besides`language_tree` and `languages` should also be optimized, as as of now Distance map is too slow.

As Distance map uses Cognate analysis functions, see also #612, #778, #779, #795.

[2022-06-06 05:32] myrix opened #809 "Off-grant projects update and optimization"
Off-grant projects (Home page -> Grants -> Off-grant projects) should updated to use new language tree components from #720, and components and required GraphQL backend APIs should be updated to allow displaying trees with only non-grant / non-organization dictionaries efficiently.

Probably would need to add a separate flag for only non-grant / non-organization languages and dictionaries to the `

[2022-06-06 05:34] myrix commented on #807
Fixed by the latest update https://github.com/ispras/lingvodoc-react/commit/e3769ae8e96cfd49f00a03fd3254a93a676c20df to #720.

[2022-06-06 05:34] #807 closed, assigned to nobody

[2022-06-06 06:16] myrix opened #810 "Cognate analysis: dynamic ToC language checks"
We need to update Cognate analysis tools to move them from partially static ToC language checks using among other things a predefined set of language ids to fully dynamic ToC checks via backend-supplied info; it's required to be able to fully get rid of this predefined ToC language id set on the frontend, which is desirable as such things should only be defined in a single place.

Two possible sol

[2022-06-06 06:19] nadezhday commented on #349
@jandrew44 can we use all space?
![image](https://user-images.githubusercontent.com/59951991/172106264-3c12b732-7e65-41aa-a8c6-881b1fdaeeda.png)

[2022-06-06 06:22] nadezhday commented on #703
Works fine.

Verified.

[2022-06-06 06:41] myrix opened #811 "Merge suggestions error when not signed in"
Open /dictionary/2969/4/perspective/2969/5/merge when not signed in, wait for perspective data to load, click 'View suggestions' button, an error:
![image](https://user-images.githubusercontent.com/2802467/172107476-8b34e4aa-b463-4184-b2bd-35effcfb8c54.png)
Backend traceback:
[code]

While merging is accessible only to signed-in users with required permissions, current policy is that anybody can v

[2022-06-06 07:19] nadezhday commented on #703
Covered in tests\test_view_lexical.py

[2022-06-06 07:21] nadezhday commented on #807
Verified.

[2022-06-06 08:23] nadezhday opened #812 "Checkboxes - Part 2"
The left issues from https://github.com/ispras/lingvodoc-react/issues/667

Compare figma and the page that we have now.

![image](https://user-images.githubusercontent.com/59951991/172123104-ad011bb0-569c-4ab8-9500-6488db5429df.png)

![image](https://user-images.githubusercontent.com/59951991/172123274-1417d6c5-7636-4f4b-9148-2c1c3ffee98b.png)

Problem: checkboxes are missing.
We should make it as

[2022-06-06 08:33] nadezhday commented on #665
Separate defect:  https://github.com/ispras/lingvodoc-react/issues/690

[2022-06-06 08:33] nataliauvarova commented on #812
In task 667 we are talking only about the page: http://lingvodoc.ru/dictionary/4839/1/perspective/4839/2/publish

There is no need to add new checkboxes on the other pages.

[2022-06-06 08:43] nadezhday commented on #352
Closing without verification

[2022-06-06 09:20] Dina936 commented on #812
@nadezhday This is a different page. the customer asked to make checkboxes for only one table, which is at the address  http://lingvodoc.ispras.ru/dictionary/4839/1/perspective/4839/2/publish

[2022-06-06 09:20] nadezhday commented on #812
http://83.149.198.62/dictionary/4839/1/perspective/4839/2/publish

![image](https://user-images.githubusercontent.com/59951991/172133103-6079989d-4ad1-4426-8b52-7046dbd4a47c.png)

[2022-06-06 09:21] #812 closed, assigned to nataliauvarova

[2022-06-06 09:34] nadezhday commented on #346
Closing without verification

[2022-06-06 09:42] nadezhday commented on #790
http://83.149.198.62/dictionary/1574/278403/perspective/1574/278408/view

![image](https://user-images.githubusercontent.com/59951991/172136292-2e002278-2221-4cd1-8f44-9d9b6979fbf1.png)

![image](https://user-images.githubusercontent.com/59951991/172136757-5c8eb825-ea3f-4762-96a3-e91d99af8e6b.png)

Result:
![image](https://user-images.githubusercontent.com/59951991/172136891-6706618c-3d85-45ac-ac5

[2022-06-06 11:01] jandrew44 commented on #808
I think this page should be re-designed.
Perhaps new design will not require language tree component for languages selection.

[2022-06-06 11:12] jandrew44 commented on #355
Improved by the #720 enhancement.

[2022-06-06 11:12] #355 closed, assigned to nobody

[2022-06-06 18:25] myrix commented on #811
Fixed, now suggestions compute ok when not signed in.

[2022-06-06 18:25] #811 closed, assigned to nobody

[2022-06-06 20:11] myrix commented on #720
Implemented, works.

Changed "Languages databases" to "Language databases" in the translations at http://lingvodoc.ispras.ru/ as required by the changes.

@nataliauvarova Please check the details of the design, modify if required and then close when good.

There is one intentional difference with the design, instead of a list of perspectives, like "Lexical Entries, Paradigms" after dictionary name

[2022-06-07 01:47] myrix opened #813 "Language databases -> Dictionaries: blank page bug"
User reports an error at Language databases -> Dictionaries, the page becomes blank.

Looks like https://sentry.at.ispras.ru/ispras/lingvodoc-frontend/issues/1132/, TypeError: undefined is not an object (evaluating 'c.translation[0].toLocaleUpperCase'), and https://sentry.at.ispras.ru/ispras/lingvodoc-frontend/issues/1133/, TypeError: Cannot read properties of undefined (reading 'toLocaleUpperCase

[2022-06-07 01:50] myrix commented on #813
Couldn't reproduce, added additional translation checks, it shouldn't be undefined anymore.

[2022-06-07 01:50] #813 closed, assigned to nobody

[2022-06-07 17:28] jandrew44 commented on #122
Search for language tree has been implemented.
Affects several places: languages page, dictionary/corpora creation, dictionary/corpora properties modal, importer.

[2022-06-07 17:39] nataliauvarova commented on #555
Done.
By default, the title is set in the language of the current locale. If such a title is missing or is equal to a void, then set the title in English. If there is no such title either, then in Russian.

[2022-06-07 17:39] #555 closed, assigned to nataliauvarova

[2022-06-08 09:49] jandrew44 commented on #746
Fixed indirectly by the #720 changes.

[2022-06-08 09:49] #746 closed, assigned to jandrew44

[2022-06-09 12:52] nadezhday opened #816 "Duplicated views"
Looks at the screenshots:

![image](https://user-images.githubusercontent.com/59951991/172851230-eba56d9e-cb5d-4671-94fa-75c442fbdb69.png)

![image](https://user-images.githubusercontent.com/59951991/172851269-8b8d69b3-9a34-48d1-9e32-79a586aa5daf.png)

Problem: duplicated view

[2022-06-09 13:12] nadezhday commented on #813
@myrix can you please provide steps for verification.

[2022-06-09 13:14] nadezhday commented on #811
@myrix
![image](https://user-images.githubusercontent.com/59951991/172855596-df0f9f70-1b46-413d-a46e-ea3ff89bd4c9.png)

![image](https://user-images.githubusercontent.com/59951991/172855808-9b3be9b2-c6d5-4c9e-8da5-8ff5438f5e47.png)

Is this the expected result?

[2022-06-09 13:23] nadezhday commented on #746
Verified/
The problem is fixed

[2022-06-09 13:25] nadezhday commented on #555
Verified

[2022-06-09 13:27] nadezhday commented on #816
A 110-Swadesh list for the Nurlat variety of Chuvash (Anatri dialect) (4)
(А.В. Савельев, В.К. Савельев (информант))

![image](https://user-images.githubusercontent.com/59951991/172858521-0d9818bc-9160-4390-b586-8bcd7587e690.png)

[2022-06-09 17:52] myrix commented on #813
Don't know exact steps, couldn't reproduce, just that after using the page Languge databases -> Dictionaries (/dictionaries_all) for a while it does not become blank and there are no errors.

[2022-06-09 17:55] myrix commented on #811
For the current DB at the testing stand, yeah. If you'll update the DB to the current from the production, there should be one 1 suggestion.

In general, if there are suggestions or not does not matter for this issue, if suggestions compute at all, everything is good.

[2022-06-09 19:51] myrix opened #817 "Create dictionary: Next Step bug"
Dashboard -> Create dictionary, select "Uralic" as parent language, can't click on the 'Next Step' button, it's behind the language tree:
![image](https://user-images.githubusercontent.com/2802467/172932147-935282b7-23fc-4175-bea3-717e65e9e9ed.png)

Looks like it was introduced by #122.

[2022-06-09 19:55] myrix commented on #816
Fixed.

[2022-06-09 19:55] #816 closed, assigned to nobody

[2022-06-09 20:55] myrix opened #818 "Search: results tree optimization"
Currently there are three inefficiencies in the search results processing:

1. Language tree is constructed at the frontend.

    It would probably be slightly faster if we could do that at the backend, using existing language tree construction facilities.

2. We get languages, dictionaries and perspectives separately, and then perspectives are assigned to dictionaries and dictionaries are assigne

[2022-06-09 21:22] myrix opened #819 "Grouping Tag dialog optimization"
There is a major inefficiency in the Grouping Tag dialog optimization, we get all the languages, dictionaries and perspectives instead of only those that are related to the group of lexical entries the dialog is to show.

We should fix that, probably by adding additional relevant fields to `connected_words` GraphQL API.

We should also construct results tree efficiently, see #818 for relevant prop

[2022-06-10 05:31] nadezhday commented on #817
test test_dashboard_create_corpus - FAILed

[2022-06-10 05:43] nadezhday commented on #816
Verified

[2022-06-10 05:47] nadezhday commented on #813
closing without verification

[2022-06-10 05:58] nadezhday opened #820 "Search field is too small"
http://83.149.198.62/languages

![image](https://user-images.githubusercontent.com/59951991/172999348-5d41b011-0d19-4ab3-9c4f-cbe67a2c5284.png)

Problem: search is too small.

[2022-06-10 05:58] nadezhday commented on #122
![image](https://user-images.githubusercontent.com/59951991/172999348-5d41b011-0d19-4ab3-9c4f-cbe67a2c5284.png)
search is too small.

Separate defect is created https://github.com/ispras/lingvodoc-react/issues/820

[2022-06-10 06:02] nadezhday commented on #122
Verified.

Should be covered in autotests

[2022-06-10 09:03] nadezhday commented on #811
Verified.

[2022-06-10 09:04] nadezhday commented on #811
Should be covered in selenium

[2022-06-10 09:06] nadezhday commented on #355
Verified

[2022-06-10 09:06] nadezhday commented on #355
Should be covered in selenium.

[2022-06-10 09:13] nadezhday commented on #804
Minor issue:
![image](https://user-images.githubusercontent.com/59951991/173032956-04ece378-1332-4574-b312-ba279b9cb4df.png)

I will not create any defects for this.

[2022-06-10 09:18] nadezhday commented on #125
Verified.

If needed our customers will tell us how to improve these pages

[2022-06-10 11:36] jandrew44 commented on #817
Fixed.

[2022-06-10 11:36] #817 closed, assigned to jandrew44

[2022-06-13 06:06] myrix commented on #254
Fixed, now there are no longer a spurious field in the list of possible linked fields, and there are no errors when changing linked field selection.

[2022-06-13 06:06] #254 closed

[2022-06-14 03:55] myrix opened #822 "Created at field bug"
Open properties of any dictionary or perspective, e.g. /dictionary/4084/5404/perspective/4084/5407/view, 'Глоссированный текст' dropdown menu, ''Глоссированный текст' properties...', 'Created at' date is a default zero Unix time value instead of a proper one:
![image](https://user-images.githubusercontent.com/2802467/173489835-50e4c41a-28a2-459e-8477-20257453e04f.png)

Was introduced by commit htt

[2022-06-14 04:00] myrix commented on #822
Fixed, now the proper value is displayed, and not a default one:
![image](https://user-images.githubusercontent.com/2802467/173490545-7ef12885-9a77-49fe-bc89-5b3ac393602c.png)

[2022-06-14 04:00] #822 closed, assigned to nobody

[2022-06-14 10:09] jandrew44 commented on #820
Search field width has been increased.

[2022-06-14 10:09] #820 closed, assigned to jandrew44

[2022-06-15 05:38] myrix opened #823 "Image entity deletion"
As reported by users, open /dictionary/5329/1/perspective/5329/2/edit logged in as admin, sort by 'Pitch' column descending, there is no way to delete image entities in the 'Pitch' column.

We should add a way to do it.

[2022-06-15 06:04] myrix commented on #823
Implemented, can now delete image entities just as sound and markup entities, by clicking on the cross icon and confirming deletion in the confirmation dialog:
![image](https://user-images.githubusercontent.com/2802467/173754073-c8a11018-2216-45ce-b5d1-a565cf9c082f.png)

[2022-06-15 06:04] #823 closed, assigned to nobody

[2022-06-17 04:06] myrix opened #824 "Search: show grammar selection error"
Open /map_search (Home page -> Tools -> Search and map's creating), wait for additional filter data to load, click 'Grammar' button, select 'affirmative' under 'Mood / Form', click 'Close' button, click 'Show' button, an error:
![image](https://user-images.githubusercontent.com/2802467/174222669-a859d3cc-f6d7-448c-bda3-674d15d0e5e8.png)

Sentry report [1141](https://sentry.at.ispras.ru/ispras/ling

[2022-06-17 04:09] myrix commented on #824
Fixed, now shows grammar selection ok:
![image](https://user-images.githubusercontent.com/2802467/174222960-5ca266a3-c91d-4454-ad90-bb51a1170e1b.png)

[2022-06-17 04:09] #824 closed, assigned to nobody

[2022-06-18 17:54] myrix opened #825 "More responsive dictionary/perspective renaming"
Open any dictionary, e.g. http://83.149.198.62/dictionary/3648/5/perspective/3648/8/edit, logged in as admin, open perspective properties,
![image](https://user-images.githubusercontent.com/2802467/174450496-0a1a61eb-735b-4108-b831-2567f0e4db44.png)
rename perspective,
![image](https://user-images.githubusercontent.com/2802467/174450558-0bc4aa37-0c30-4c58-b3be-1d17c462ce0c.png)
close properties di

[2022-06-19 13:46] myrix opened #826 "Search: empty conditions checking"
There is a suspicion that some search queries may be responsible for total DB hangup which happened on 14th of June. In theory, it may have happend because of an overly permissive search query, such as one having an empty substring condition, which would require going through almost all entities in the DB.

We should ensure that there are checks for such overly permissive queries both on the front

[2022-06-20 13:53] jandrew44 commented on #825
Duplicate of #379.

[2022-06-20 13:53] #825 closed, assigned to jandrew44

[2022-06-20 15:48] jandrew44 commented on #379
Fixed.

[2022-06-20 15:48] #379 closed, assigned to jandrew44

[2022-06-21 11:32] jandrew44 commented on #563
Solved by the backend pagination already.

[2022-06-21 11:32] #563 closed, assigned to myrix

[2022-06-21 13:13] jandrew44 commented on #202
Looks like it was fixed indirectly.

[2022-06-21 13:13] #202 closed

[2022-06-21 13:47] myrix commented on #826
Ensured, as much as currently possible, that there are checks for overly permissive queries on the frontend and implemented such checks at the backend.

The frontend actually had some form of such checks, though it was somewhat counter-intuitive, if after accounting for the grammar checks there was any search condition with an empty string, the search transitioned to a special mode in which it onl

[2022-06-21 13:47] #826 closed, assigned to nobody

[2022-06-21 13:57] myrix opened #827 "Search: frontend refactoring"
If possible, frontend functionality of the /map_search page should be refactored to use modern React facilities (e.g. probably need to get rid of `componentWillReceiveProps()`), and to adjust architecture to be more straightforward if required.

[2022-06-21 15:55] myrix opened #828 "Search: more thorough regular expression validation"
Least priority, probably won't touch it, but still should be mentioned.

Currently the search condition checking (#826) checks regular expression for being to broad by comparing them to a fixed number of most common problematic variants; this is obviously not 100% proof, adding any number of ".*" to the end of any regular expressions would leave it unchanged, so it is still possible to get search

[2022-06-21 16:19] myrix opened #829 "Proper logging for multiple gunicorn backend's workers"
Currently gunicorn backend's logs are messed up due to each worker being a separate long-running process, all the log files of the rotation (`ld.log`, `ld.log.1`, ..., `ld.log.8`) are being updated simultaneously and, it looks like, not all log messages from all of 32 backend workers are actually being logged.

This is a known problem, see https://github.com/python/cpython/issues/73187.

We should

[2022-06-23 00:16] myrix opened #830 "Search: author tag inconsistencies"
Open logged in as admin home page -> Tools -> Search and map's creating (/map_search), wait for everything to load, open tag selection, search for 'Норманская Юлия Викторовна', there are two identical looking tags that are in fact different:
![image](https://user-images.githubusercontent.com/2802467/175179082-01508bf6-eb44-4785-ab1c-0face19e6929.png)
![image](https://user-images.githubusercontent.

[2022-06-23 14:07] myrix opened #831 "Create corpus: linked field bug"
Open home page -> Dashboard -> Create corpus (/create_corpus) logged in as admin, choose any parent language, next step, choose any corpus name, next step, add a perspective, deselect 'has linked field' checkbox, the linked field does not become unlinked and does not appear in the list of top-level fields how it should:
![image](https://user-images.githubusercontent.com/2802467/175309753-a0a8c3e5-

[2022-06-23 14:12] myrix commented on #831
Fixed, now the linked field is being unlinked as it should be:
![image](https://user-images.githubusercontent.com/2802467/175320230-249a69f9-d963-4b40-8b74-e59c31ba0190.png)

[2022-06-23 14:12] #831 closed, assigned to nobody

[2022-06-26 17:52] myrix opened #832 "Docker container server startup error +1"
API server inside the docker container does not start, fails with following error:
`RuntimeError: module compiled against API version 0x10 but this version of numpy is 0xf`

The problem is actually the same as in #577, it looks like whenever the new version of NumPy is released on PyPI, Matplotlib during its installation uses this latest version as a build dependency, presumably due to imperfectio

[2022-06-26 18:03] myrix commented on #832
Fixed in a simple way, by first installing every dependency except for Matplotlib, and then installing Matplotlib, when installation is done in such a way Matplotlib uses already installed NumPy as its build dependency and there is no discrepancy.

Renamed server-requirements.txt to server-requirements-1.txt, added server-requirements-final.txt.

[2022-06-26 18:03] #832 closed, assigned to nobody

[2022-06-30 08:11] nataliauvarova opened #834 "New design for color buttons on the Perspective pages"
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

The buttons should look like this:
![Снимок экрана 2022-06-30 в 15 05 34](https://user-images.githubusercontent.com/90451645/176626052-aa2434d6-659a-49dc-ac93-5fa5365bf560.png)
![Снимок экрана 2022-06-30 в 15 05 47](https://user-images.githubusercontent.com/90451645/176626058-4acf584d-6f61-4b8c-bb42-6d524d9a2c8e.png)

[2022-06-30 10:36] nataliauvarova opened #836 "Localization for "Go to page" and "Organization""
1) Localization for "Go to page"
 ![Снимок экрана 2022-06-30 в 17 30 46](https://user-images.githubusercontent.com/90451645/176656595-bdef928a-adaa-477d-b5b4-9f35b042d8f4.png)
2) Localization for "Organization" on the page: /requests
![Снимок экрана 2022-06-30 в 17 26 26](https://user-images.githubusercontent.com/90451645/176656613-beb5aa26-568b-48e5-9edf-12557f676f6b.png)

[2022-07-04 09:38] nataliauvarova commented on #834
Done

[2022-07-04 09:38] #834 closed, assigned to nataliauvarova

[2022-07-05 11:31] Dina936 commented on #720
In dictionaries, now "lexical entries" and "paradigms" are opened by clicking on the dictionary.
You need to put these items at the end of the dictionary so that they are immediately visible.
<img width="451" alt="Снимок экрана 2022-07-05 в 13 51 58" src="https://user-images.githubusercontent.com/56397844/177317969-662fc45b-2b59-4093-8f82-38a1e7bf9e31.png">

https://www.figma.com/file/YEcJISLZlXPq

[2022-07-05 13:39] Dina936 commented on #720
when you hover over a dictionary, change the state to make it clear that it is clickable
<img width="484" alt="Снимок экрана 2022-07-05 в 16 33 31" src="https://user-images.githubusercontent.com/56397844/177341229-1d4724a5-6450-4449-84d7-631216289375.png">

[2022-07-05 14:55] nataliauvarova commented on #720
fixed

[2022-07-05 14:55] #720 closed, assigned to nataliauvarova

[2022-07-09 02:14] myrix opened #841 "Search from link: source link is not shown"
Open /map_search/UxBPQ, wait for the search results to load, expected result: search results with a link to these search results, ending in /map_search/UxBPQ.

Instead we are shown search results without a link:
![image](https://user-images.githubusercontent.com/2802467/178079201-c90693b7-77a7-4133-952b-53bd74b1b97f.png)

tests/test_tools_storage.py failed

Looks like it was introduced by commit h

[2022-07-09 07:34] myrix commented on #841
Fixed, link is shown as expected.

[2022-07-09 07:34] #841 closed, assigned to nobody

[2022-07-09 19:13] myrix opened #842 "Grouping tag (cognates, etc.) fields implementation enhancement & optimization"
It would be good if the current implementation of grouping tag fields, e.g. cognates, could be replaced by a more efficient one.

Current implementation has, on average, superlinear costs in the number of grouped lexical entries, both for storage and retrieval, and the time it takes to process grouping tag data is noticeable, e.g. in Grouping Tag dialog.

There were talks about possibility of new

[2022-07-11 08:03] nataliauvarova opened #843 "New design for modal windows "Publish Entities" and "Accept Contributions""
New design for modal windows "Publish Entities" and "Accept Contributions":
![Снимок экрана 2022-07-11 в 14 59 00](https://user-images.githubusercontent.com/90451645/178217056-348742b7-74a7-4e81-a9eb-0b6ad5b61dc7.png)

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-07-11 08:38] nataliauvarova commented on #836
Done

[2022-07-11 08:38] #836 closed, assigned to nataliauvarova

[2022-07-15 08:43] nataliauvarova commented on #843
Done

[2022-07-15 08:43] #843 closed, assigned to nataliauvarova

[2022-07-15 08:48] nataliauvarova opened #845 "The rounding of the dropdown disappeared"
On this page http://lingvodoc.ru/edit_translations/
The rounding of the dropdown disappeared:
![Снимок экрана 2022-07-15 в 13 58 09](https://user-images.githubusercontent.com/90451645/179188217-a00c321f-21a1-41ad-bd3c-3c5a83aaa242.png)
![Снимок экрана 2022-07-15 в 14 31 28](https://user-images.githubusercontent.com/90451645/179188250-10526266-9eb3-4965-ad48-3089a5c86f25.png)

It should be like thi

[2022-07-19 13:38] nataliauvarova opened #849 "New design for the "Merge suggestions" tab"
New design for the "Merge suggestions" tab:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

For example:
http://lingvodoc.ru/dictionary/284/4/perspective/284/5/merge

[2022-07-19 13:39] nataliauvarova commented on #845
Fixed

[2022-07-19 13:39] #845 closed, assigned to nobody

[2022-07-25 10:17] nataliauvarova opened #852 "New design of the message "No statistics for the selected period" in the modal statistics window."
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2447%3A7340
![Снимок экрана 2022-07-25 в 17 14 15](https://user-images.githubusercontent.com/90451645/180754236-6b1f745c-2314-4522-a738-2fe9043b6e87.png)

[2022-07-25 13:16] nataliauvarova commented on #849
Done

[2022-07-25 13:16] #849 closed, assigned to nataliauvarova

[2022-07-27 16:11] nataliauvarova opened #854 "New design for breadcrumbs dropdowns on the Perspective page"
New design for these dropdowns at breadcrumbs:
![Снимок экрана 2022-07-25 в 16 45 28](https://user-images.githubusercontent.com/90451645/181296501-e483ef32-9f3a-41e7-a755-0f2bc193d2c3.png)
![Снимок экрана 2022-07-25 в 16 46 38](https://user-images.githubusercontent.com/90451645/181296511-427514eb-b075-4035-88ac-c491b46bc1be.png)

New design:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvo

[2022-07-27 16:13] nataliauvarova commented on #852
Done

[2022-07-27 16:13] #852 closed, assigned to nataliauvarova

[2022-08-01 15:39] nataliauvarova opened #858 "New design for dropdown "Tools""
New design for dropdown "Tools":
![Снимок экрана 2022-08-01 в 18 37 50](https://user-images.githubusercontent.com/90451645/182186731-525c519f-577e-4ad5-926d-18f64b72ab86.png)

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-08-01 15:40] nataliauvarova commented on #854
Done

[2022-08-01 15:40] #854 closed, assigned to nataliauvarova

[2022-08-03 13:17] nataliauvarova opened #860 "New design for dropdown in Dictionaries"
New design for this dropdown:
![Снимок экрана 2022-08-03 в 16 15 19](https://user-images.githubusercontent.com/90451645/182617027-c2d64698-2ff9-4365-b365-1aad8a5553e7.png)

New design:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=3741%3A9860

[2022-08-03 13:19] nataliauvarova commented on #858
Done

[2022-08-03 13:19] #858 closed, assigned to nataliauvarova

[2022-08-07 12:55] myrix opened #863 "Slower cognate functionality"
Currently cognate tools work slower than before. Possible reason --- DB schema changes of #826, a new index on entities' field ids.

[2022-08-08 13:11] nataliauvarova opened #864 "New design for the modal window "Phonological statistical distance""
New design for the modal window "Phonological statistical distance":
![Снимок экрана 2022-08-08 в 16 02 48](https://user-images.githubusercontent.com/90451645/183425514-bd490cf3-955a-463a-b7d6-2095bff851ee.png)

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-08-08 13:12] nataliauvarova commented on #860
Done

[2022-08-08 13:12] #860 closed, assigned to nataliauvarova

[2022-08-08 13:19] nataliauvarova opened #865 "New design for the modal window "Phonology""
New design for the modal window "Phonology":
![Снимок экрана 2022-08-08 в 16 02 11](https://user-images.githubusercontent.com/90451645/183427390-f1bb0a30-f358-4ff3-80ae-04a62b7d64e1.png)

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-08-10 14:02] myrix commented on #863
#826 was indeed the cause of the slowdown, specifically, introduction of the index
```CREATE INDEX entity_field_idx ON public.entity (field_client_id, field_object_id);```

This index was added to speed up filtering of dictionaries based on whether they have or do not have any sound entities; testing have shown that indeed this index helps.

Unfortunately, it looks like introduction of this index

[2022-08-10 14:18] myrix commented on #863
It looks like without the index the slowdown is indeed gone, at least tests now take about 3h10m instead of 4h50m.

[2022-08-10 14:18] #863 closed, assigned to nobody

[2022-08-10 14:21] myrix commented on #842
When we would work on the issue, we should keep in mind a problem with entity indexing which might be solved by a new grouping tag field implementation, see #863. If it would indeed be solved, we should consider re-introducing entity field index.

[2022-08-12 10:29] nataliauvarova opened #866 "New design for the modal window "Phonemic analysis""
New design for the modal window "Phonemic analysis":

![Снимок экрана 2022-08-12 в 13 27 56](https://user-images.githubusercontent.com/90451645/184336719-708d0a18-33d2-4716-bf0e-33d405c1a782.png)

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-08-12 14:44] nataliauvarova commented on #866
Done

[2022-08-12 14:44] #866 closed, assigned to nataliauvarova

[2022-08-18 13:53] nataliauvarova commented on #864
Done

[2022-08-18 13:53] #864 closed, assigned to nataliauvarova

[2022-08-24 12:41] nataliauvarova commented on #865
Done

[2022-08-24 12:41] #865 closed, assigned to nataliauvarova

[2022-08-24 12:46] nataliauvarova opened #871 "Localization for modal windows"
Localization for modal windows "Cognate acoustic analysis", "Cognate analysis", "Cognate multi-language analysis", "Cognate multi-language reconstruction", "Cognate multi-language suggestions", "Cognate reconstruction", "Cognate suggestions":
![Снимок экрана 2022-08-24 в 15 43 32](https://user-images.githubusercontent.com/90451645/186421369-a21621cc-8b5e-4a06-bfe1-ccadbd605e89.png)

[2022-08-31 08:36] nataliauvarova opened #873 "New design for Pagination"
New design for Pagination:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2555%3A8169

[2022-08-31 08:38] nataliauvarova commented on #871
Done

[2022-08-31 08:38] #871 closed, assigned to nataliauvarova

[2022-09-12 08:27] nataliauvarova commented on #873
Done

[2022-09-12 08:27] #873 closed, assigned to nataliauvarova

[2022-09-12 09:13] nataliauvarova opened #876 "New design for the modal window "Cognate multi-language suggestions" (Part 1)"
New design for the modal window "Cognate multi-language suggestions":
![Снимок экрана 2022-09-12 в 16 11 59](https://user-images.githubusercontent.com/90451645/189616743-461b345d-da93-41a7-b99f-155150466011.png)

![Снимок экрана 2022-09-12 в 16 12 10](https://user-images.githubusercontent.com/90451645/189616751-39cafd1d-4675-485e-8c1e-fc81fd10a794.png)

https://www.figma.com/file/YEcJISLZlXPqAFfHh

[2022-09-27 07:12] nataliauvarova opened #882 "The "next step" button is hidden behind the language tree"
![2022-09-27 10 11 14](https://user-images.githubusercontent.com/90451645/192458161-a6ef2dfc-6e6d-46dd-a818-d906c5edf3b7.jpg)

[2022-09-27 08:30] nataliauvarova commented on #882
Done

[2022-09-27 08:30] #882 closed, assigned to nataliauvarova

[2022-09-27 09:14] nataliauvarova commented on #876
Done

[2022-09-27 09:14] #876 closed, assigned to nataliauvarova

[2022-09-27 09:14] nataliauvarova opened #884 "New design for the modal window "Cognate multi-language suggestions" (Part 2)"
New design for the modal window "Cognate multi-language suggestions" (Part 2):

![Снимок экрана 2022-10-03 в 14 00 09](https://user-images.githubusercontent.com/90451645/193561734-53ba1c31-0c17-48f9-be87-aa2c4c99854d.png)

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=2203%3A6773

[2022-10-08 12:09] myrix opened #888 "User sign-in: wrong user bug"
Twice in the recent time we had a user signing in to lingvodoc.ispras.ru and apparently getting signed in as another user.

First time, September 30th:
![image](https://user-images.githubusercontent.com/2802467/194705589-01328dea-85b1-4b1c-9ff8-196bc0f25949.png)
![image](https://user-images.githubusercontent.com/2802467/194705620-5f810d13-4ad8-4e80-a759-a9870aa14127.png)

Second time, October 6th:

[2022-10-09 16:53] myrix commented on #888
Implemented SameSite=Lax, let's see if the problem goes away.

NOTE: requires Python dependencies update and full server restart.

[2022-10-09 16:53] #888 closed, assigned to nobody

[2022-10-12 13:10] nataliauvarova opened #890 "New design for the modal window "Create new perspective""
New design for the modal window "Create new perspective":

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=4528%3A10713

[2022-10-12 13:10] nataliauvarova commented on #884
Done

[2022-10-12 13:10] #884 closed, assigned to nataliauvarova

[2022-10-19 06:46] myrix opened #892 "Not completely clear map search results indication"
When search returns lexical entries of dictionaries without metadata location, e.g. when searching for "сабельник" from http://lingvodoc.ispras.ru/dictionary/5645/1/perspective/5645/2/view, the search reports "Found 0 results on map":
![image](https://user-images.githubusercontent.com/2802467/196616113-eb149a85-8ac6-4044-83c3-e063c893eb7a.png)

While this is technically true, it may be misleading,

[2022-10-19 07:07] myrix commented on #892
Implemented, we now indicate both how many results were found in total and how many are displayed in locations on the map:
![image](https://user-images.githubusercontent.com/2802467/196620526-40db6d87-8690-48de-b9b7-c2886f7e7e9f.png)

[2022-10-19 07:07] #892 closed, assigned to nobody

[2022-10-19 16:30] nataliauvarova opened #893 "The text goes to the borders of the block"
The text goes to the borders of the block:

<img width="584" alt="Снимок экрана 2022-10-18 в 13 11 10" src="https://user-images.githubusercontent.com/90451645/196749615-46d0d2f1-be2f-4941-aeef-b76cb5ac1a8c.png">

http://lingvodoc.ru/dictionary/284/4/perspective/284/5/publish

[2022-10-24 11:38] nataliauvarova commented on #893
Done

[2022-10-24 11:38] #893 closed, assigned to nataliauvarova

[2022-10-31 10:15] nataliauvarova opened #897 "New design for buttons in the Perspective table"
New design for buttons in the Perspective table:

![Снимок экрана 2022-10-31 в 14 02 37](https://user-images.githubusercontent.com/90451645/198993721-1083a24e-a01a-477a-86f0-7ad81a91cbec.png)

![Снимок экрана 2022-11-30 в 15 16 14](https://user-images.githubusercontent.com/90451645/204794084-a7993053-4419-4075-846a-35a18408a48d.png)

![Снимок экрана 2022-11-30 в 15 16 23](https://user-images.githu

[2022-10-31 10:15] nataliauvarova commented on #890
Done

[2022-10-31 10:15] #890 closed, assigned to nataliauvarova

[2022-11-11 14:28] myrix opened #899 "Undelete lexical entry GraphQL mutation API"
We need a GraphQL API for undeleting lexical entries, something like `undelete_dictionary` and `undelete_perspective` APIs for undeleting dictionaries and perspectives we already have.

[2022-11-11 14:59] myrix commented on #899
Implemented `bulk_undelete_lexical_entry(ids: [LingvodocID]!)` GraphQL mutation API which can undelete an arbitrary number of deleted lexical entries specified via a list of their ids.

Tested when undeleting a bunch of freshly deleted lexical entries by a user request on the 9th.

[2022-11-11 14:59] #899 closed, assigned to nobody

[2022-11-20 19:52] myrix opened #901 "Parsing of file кэпсээн, 2 угуу.odt failed: An error occured during Apertium parser process running"
Upload [кэпсээн, 2 угуу.odt](https://github.com/ispras/lingvodoc-react/files/10050563/2.odt) file to a corpus, try to parse it with a "Парсер якутского языка Apertium (моноязыковой)" parser, an error:
![image](https://user-images.githubusercontent.com/2802467/202922992-dabe9b03-3538-48d1-82d6-54ea43bd15a2.png)

[2022-11-20 20:06] myrix commented on #901
Fixed.

The problem, as Andrey Klochko helpfully suggested, was because of a quote `"` in the file, which tripped up the parsing process due to the way processed file contents are supplied to the parser, via the `echo "<contents>" | apertium ...` pipe.

Changed it to supply the processed contents via an intermediate file, as `cat "<contents_file_path>" | apertium ...`, and now it works ok.

[2022-11-28 04:46] myrix opened #904 "Update valency data error"
Open valency (/valency), choose 'Uralic › Komi › Komi-Zyryan › Corpus of Standard Komi › Литературный коми' perspective, Update valency data, an error:
![image](https://user-images.githubusercontent.com/2802467/204195972-270ff324-06b6-45bf-bf27-d25333eb2c86.png)

[2022-11-28 05:05] myrix commented on #904
Fixed.

The problem is 4 instances of malformed (somehow shifted in the middle?) markup:
[code]
For now we just skip such cases, through probably the right thing is to report them to the user.

We should also look into overhauling parser markup dialog and related functionality, so that it doesn't just grab the current HTML element tree which has no guarantees of being well-formed and whose unexpec

[2022-11-28 05:05] #904 closed, assigned to nobody

[2022-11-30 11:56] nataliauvarova opened #905 "Showing field names along with their types"
Add display of field types on pages:

![2022-11-30 14 53 45](https://user-images.githubusercontent.com/90451645/204789949-f8c69643-4977-4eda-9eb2-3d05047e1964.jpg)

![2022-11-30 14 53 55](https://user-images.githubusercontent.com/90451645/204789962-9be6a984-15be-4aa8-878f-5a5e5da86ea2.jpg)

![2022-11-30 14 54 01](https://user-images.githubusercontent.com/90451645/204789980-dd5f39dd-8cae-4d4c-90ad-

[2022-11-30 12:17] nataliauvarova commented on #897
Done

[2022-11-30 12:17] #897 closed, assigned to nataliauvarova

[2022-11-30 22:29] myrix opened #907 "Corpus search via Tsakorpus library"
We need to give users ability to search Lingvodoc corpora (including .eaf corpora and document corpora parsed with various parsers) via mechanisms of [Tsakorpus library](https://github.com/timarkh/tsakorpus).

It looks like the search would be set up on a separate server, so each corpus should probably have a link to a corresponding search page on the search server. According to Julia Normanskaya,