[2020-11-02 07:04] nadezhday opened #376 "Distance map: After Uncheck All top level checkbox still has '-' mark that shows that lower levels are checked"
Issue found during testing https://github.com/ispras/lingvodoc-react/issues/362 Disable all dictionaries by default in Map-distance dialog

http://83.149.198.62/distance_map
Find Dictionary of Komi-Yazva language (Р.И.Идрисов),
Select dictionaries.
Expand the appeared tree.
Check the box.
Result:
![image](https://user-images.githubusercontent.com/59951991/97839060-7a08ea00-1cf2-11eb-8ba8-c2fe3b5af

[2020-11-02 07:09] nadezhday commented on #367
Right now we have the following:
![image](https://user-images.githubusercontent.com/59951991/97839539-6e69f300-1cf3-11eb-9314-fd924c15bfa6.png)

Can we move Frontend to the left?
@elmedweb

[2020-11-02 07:12] nadezhday commented on #368
Verified.

[2020-11-02 07:13] #368 closed, assigned to nobody

[2020-11-02 07:13] #362 closed, assigned to nobody

[2020-11-02 07:54] nadezhday commented on #368
covered in selenium test

[2020-11-02 13:03] nadezhday commented on #365
Almost there.
![image](https://user-images.githubusercontent.com/59951991/97870900-b2292080-1d24-11eb-81a3-bea86ca58204.png)

@elmedweb Could we make it center aligned? And we can close this issue. Or should I create a separate defect for this?

[2020-11-03 04:59] nadezhday commented on #228
Verified.
Selenium test - PASS

[2020-11-03 05:14] nadezhday commented on #183
Covered in test_cognate_multi_suggestions.py

[2020-11-03 05:31] nadezhday commented on #327
The scenario was taken from https://github.com/ispras/lingvodoc-react/issues/183 Accept all selected cognate suggestions
Before it took less then 450sec,
Now sometimes it takes more then 600 sec.

Today http://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_frontend/314/ test (test_cognate_multi_suggestions.py) - PASS

[2020-11-03 05:40] myrix commented on #327
Test DB state changed, affecting execution of the test case.

[2020-11-03 05:43] nadezhday commented on #291
Testing: it looks like that this problem is fixed. I cannot reproduce it anymore.
Closing.
@elmedweb FYI

[2020-11-03 05:43] #291 closed

[2020-11-03 05:44] nadezhday commented on #291
Fixed indirectly.

[2020-11-03 05:53] nadezhday commented on #366
It looks like we have the same problem with Version
![image](https://user-images.githubusercontent.com/59951991/97953583-0a5a3400-1db2-11eb-97f6-dcd86b118096.png)

Backend is empty.

[2020-11-03 06:08] nadezhday opened #377 "Backend version becomes empty after switching languages"
Probably similar to https://github.com/ispras/lingvodoc-react/issues/366 Sometimes list of grant is missing on Grants page.

Steps to reproduce (video attached
[2020-11-03 08-56-24_backend_version_empty.zip](https://github.com/ispras/lingvodoc-react/files/5479469/2020-11-03.08-56-24_backend_version_empty.zip)
)
1) Open http://83.149.198.62/, Support, Version
Verify that backend version is not empt

[2020-11-03 06:10] nadezhday commented on #366
Do we have any timeout for getting Backend Version info?
The separate defect for Empty backend version is created (with exact steps to reproduce): https://github.com/ispras/lingvodoc-react/issues/377 - Backend version becomes empty after switching languages

[2020-11-03 06:11] nadezhday commented on #366
Do we have any timeout for getting Grants list info?
There were similar steps for getting empty Grants list.
Reproduced:
![image](https://user-images.githubusercontent.com/59951991/97954596-0845a480-1db5-11eb-9f24-a4c474dc6464.png)

[2020-11-03 06:21] nadezhday commented on #366
[2020-11-03 09-15-15_grants_problem.zip](https://github.com/ispras/lingvodoc-react/files/5479512/2020-11-03.09-15-15_grants_problem.zip)

From the attached video you can see that sometimes the list appears with a delay.
The approx steps to reproduce.
1) open main page (by clicking Lingvodoc.3.0)
2) change to Russian language
3) Open Grants menu
Sometimes we do not see the list of grants

[2020-11-07 22:33] myrix opened #378 "Can't change dictionary name"
Open http://83.149.198.62/dictionary/1393/29131/perspective/1393/29132/view logged in as julianor, open dictionary properties, try to change both english name translation entries to something new, e.g. 'abc', one of the translation updates does not finish properly, 'Update' button remains active.
![image](https://user-images.githubusercontent.com/2802467/98452605-ec9a1f80-2161-11eb-9af5-bd69dd5cc7

[2020-11-07 22:56] myrix commented on #378
Fixed, now can change both translations successfully.

[2020-11-07 22:56] #378 closed, assigned to nobody

[2020-11-09 07:51] nadezhday commented on #378
Well, this functionality works. Dictionary name can be updated. OK.
We can verify this issue.

BUT
One more problem: After closing dialog you have to press F5 to see the changed name:
![image](https://user-images.githubusercontent.com/59951991/98513692-50fbd280-2279-11eb-888b-40f841b5f02f.png)
@myrix  should I create a separate defect for found issue? Will it be fixed?

[2020-11-09 08:12] myrix commented on #378
Yeah, I think it needs separate issue.

[2020-11-09 08:29] nadezhday opened #379 "Updated Dictionary name: Refresh page is required to see the changes"
problem is found during testing https://github.com/ispras/lingvodoc-react/issues/378

Open http://83.149.198.62/dictionary/1393/29131/perspective/1393/29132/view logged in as julianor, open dictionary properties, try to change both english name translation entries to something new, e.g. 'abc',
Click Update
Click Update
![image](https://user-images.githubusercontent.com/59951991/98517112-7a6b2d00-2

[2020-11-11 04:43] nadezhday commented on #299
Backend:2.1.1+1289-b343a731-2020.11.07-22:56+modified-2020.11.10-16:01
Frontend:146af337-405-staging-server
Selenium test fails.
The problem can be reproduced manually.
The problem is not fixed.
This issue cannot be verified

[2020-11-11 04:58] nadezhday commented on #374
Backend:2.1.1+1289-b343a731-2020.11.07-22:56+modified-2020.11.10-16:01
Frontend:146af337-405-staging-server

The problem is reproduced.
![image](https://user-images.githubusercontent.com/59951991/98770627-b673ce80-23f3-11eb-8bc8-8509c8a83adc.png)

[2020-11-28 11:48] myrix opened #381 "Correct import of Excel-exported CSVs in 'Import Starling dictionaries'"
Users need to import dictionaries from Excel-exported CSVs, e.g. [ненецкий 1.csv.zip](https://github.com/ispras/lingvodoc-react/files/5610517/1.csv.zip), just like it is possible to import dictionaries from Starling-exported CSVs.

Right now such CSVs do not parse correctly, and obviously dictionary import from them does not work:
![image](https://user-images.githubusercontent.com/2802467/10051480

[2020-11-28 11:56] myrix commented on #381
Implemented, now such files can be imported as dictionaries through 'Import Starling dictionaries'.

E.g. unzip and import [ненецкий 1.csv.zip](https://github.com/ispras/lingvodoc-react/files/5610517/1.csv.zip) through 'My files' as a 'Starling'-type file, and import dictionary from it through 'Import Starling dictionaries' as follows:
![image](https://user-images.githubusercontent.com/2802467/100

[2020-11-28 11:56] #381 closed, assigned to nobody

[2020-11-29 17:55] myrix opened #382 "Import Dialeqt dictionary: missing audio files"
Unzip and import [test.sqlite.zip](https://github.com/ispras/lingvodoc-react/files/5612548/test.sqlite.zip) in 'My files' as Dialeqt file, then import dictionary from it via Dashboard -> 'Import Dialeqt dictionary'.

In the resulting dictionary some words don't have associated audio files, e.g. perspective 'Lexical Entries', word "слово 19", ![image](https://user-images.githubusercontent.com/28024

[2020-11-29 18:02] myrix commented on #382
Fixed, now each word in the dictionary has its associated file after dictionary import:
![image](https://user-images.githubusercontent.com/2802467/100549787-1983b300-3286-11eb-8d4d-165513f2ef08.png)

[2020-11-29 18:02] #382 closed, assigned to nobody

[2020-12-01 12:47] myrix commented on #382
In fact duplicate audio files _are_ to be removed, the issue is invalid.

[2020-12-03 09:37] nadezhday commented on #382
OK.

[2020-12-08 02:05] myrix opened #383 "Perspective view: sort alphabetically by 'Meaning' by default"
Open http://lingvodoc.ispras.ru/dictionary/3442/9575/perspective/3442/9576/edit, lexical entries are not sorted by default:
![image](https://user-images.githubusercontent.com/2802467/101428944-d1fac800-3912-11eb-9356-21b00d311625.png)

It would be better if they are sorted alphabetically by field 'Meaning', if it's present.

[2020-12-08 02:07] myrix commented on #383
Implemented, opening the same perspective now:
![image](https://user-images.githubusercontent.com/2802467/101429121-37e74f80-3913-11eb-8b54-14c8b325e489.png)

[2020-12-08 02:07] #383 closed, assigned to nobody

[2020-12-08 04:58] nadezhday commented on #383
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39
Frontend:7f885369-408-staging-server
http://lingvodoc.ispras.ru/dictionary/3442/9575/perspective/3442/9576/edit
![image](https://user-images.githubusercontent.com/59951991/101443096-ab965600-392d-11eb-91bb-4b646c1ed6b4.png)

Well done.
Verified.

[2020-12-08 05:11] nadezhday commented on #383
@myrix what should we do with Meaning->Glossing? Should it be sorted alphabetically? If 'Yes' I will create a separate issue.
1)
http://83.149.198.62/dictionary/1024/40/perspective/1024/45/edit
![image](https://user-images.githubusercontent.com/59951991/101442366-44c46d00-392c-11eb-9f18-7cccef00f9eb.png)

2) Should our sorting work in this case?
http://83.149.198.62/dictionary/2654/9320/perspectiv

[2020-12-08 05:18] nadezhday commented on #383
my last comment is not valid.
http://83.149.198.62/version_route
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.08-02:31
Frontend:0db6a820-407-staging-server

[2020-12-08 05:39] nadezhday commented on #381
1)
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.08-02:31
Frontend:0db6a820-407-staging-server

http://83.149.198.62/import

![image](https://user-images.githubusercontent.com/59951991/101444385-6f182980-3930-11eb-9c74-f1382f4357e3.png)

NOK

2) I do not know if I can test this functionality on http://lingvodoc.ispras.ru/files

Waiting for the last version to be uploaded on  http:/

[2020-12-08 13:08] myrix commented on #383
As far as I understand, as Glossing is a subordinate field, it should not influence sorting, entries should only be sorted by Meaning; current implementation should do exactly that, so separate issue is not required.

[2020-12-08 13:27] myrix commented on #381
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.08-07:05
Frontend:7f885369-408-staging-server

Uploads ok, both as a standard user:
![image](https://user-images.githubusercontent.com/2802467/101489111-87f4ff00-3971-11eb-8139-d11fcfdc0ddf.png)
And as admin:
![image](https://user-images.githubusercontent.com/2802467/101489125-8f1c0d00-3971-11eb-849e-b3127c4cdec3.png)

Maybe page should

[2020-12-09 10:09] nadezhday commented on #383
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.09-03:22
Frontend:7f885369-408-staging-server

Verified. All scenario work fine.

[2020-12-10 04:16] nadezhday commented on #383
Selenium tests are updated.

[2020-12-10 05:45] nadezhday commented on #381
Verification:
Both for admin and user - OK

[2020-12-10 06:08] nadezhday opened #384 "Import starling dictionaries: Disable button Submit until user selects important options in Language section"
Problem found during verification https://github.com/ispras/lingvodoc-react/issues/381
Steps can be found in #381.
Login as julianor
Select My files
select file ненецкий 1.csv
Choose from down menu option 'Starling'
Upload
[ненецкий 1.zip](https://github.com/ispras/lingvodoc-react/files/5670573/1.zip)
Dashboard->Import Starling dictionaries
Click 'Base blob'
![image](https://user-images.githubuser

[2020-12-10 06:13] nadezhday opened #385 "Import starling dictionaries: Sometimes Refresh page is needed to see uploaded file"
Problem found during verification #381
Steps can be found in #381.
Login as julianor
Select My files
select file ненецкий 1.csv
Choose from down menu option 'Starling'
Upload
ненецкий 1.zip
Dashboard->Import Starling dictionaries
Click 'Base blob'

Problem: Sometimes you do not see the file that was uploaded
Workaround: you have to press F5

Expected: User should not refresh page. He should find t

[2020-12-10 06:14] nadezhday commented on #381
For found problems separate defects will be created
1) Sometimes Refresh is needed (at least for non-admin user) before you can see csv file
![image](https://user-images.githubusercontent.com/59951991/101725533-e4ffca80-3ac1-11eb-8f1f-3e6a2e551585.png)
https://github.com/ispras/lingvodoc-react/issues/385  Import starling dictionaries: Sometimes Refresh page is needed to see uploaded file

2) https

[2020-12-10 08:49] nadezhday commented on #327
Let's use another dictionary in our test.
Dictionary Upper Pelym dialect of Mansi language, author priest K.Slovcov,  1905
The result of Connect all is:
0 left
25 connected
3 invalidated

At least it does not take to much time.

[2020-12-15 04:41] nadezhday commented on #299
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.14-21:46
Frontend:36e52e00-410-staging-server

Works fine.
Verified.

[2020-12-15 04:50] nadezhday commented on #365
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.14-21:46
Frontend:36e52e00-410-staging-server
The problem is fixed. Fixed indirectly.
![image](https://user-images.githubusercontent.com/59951991/102172586-1f92aa00-3eaa-11eb-91c2-287fa12c7d1e.png)

[2020-12-15 04:51] #365 closed, assigned to nobody

[2020-12-15 05:10] nadezhday commented on #327
Test passed.
Closing.

[2020-12-15 05:10] #327 closed, assigned to nobody

[2020-12-15 05:16] nadezhday commented on #366
The problem is reproduced in
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.14-21:46
Frontend:36e52e00-410-staging-server

[2020-12-15 05:34] nadezhday commented on #287
Reproduced in
Version
Backend:2.1.1+1302-3bf1c138-2020.12.02-02:39+modified-2020.12.14-21:46
Frontend:36e52e00-410-staging-server

[2020-12-15 16:29] myrix opened #387 "'Cognate ...' tools accessible only to the administrator"
As of now, all 'Cognate ...' tools ---
![image](https://user-images.githubusercontent.com/2802467/102242907-a035c280-3f0b-11eb-8648-2b49b0fca379.png)
--- should be accessible only to the administrator.

[2020-12-15 17:12] myrix commented on #387
Implemented, now non-administrator users do not have access to 'Cognate ...' tools:
![image](https://user-images.githubusercontent.com/2802467/102247846-8d25f100-3f11-11eb-82b9-12ba137a3f8a.png)

If non-administrator user tries to use 'Cognate ...' tools API directly, they will receive an error.

Administrator has access to the tools:
![image](https://user-images.githubusercontent.com/2802467/1022

[2020-12-15 17:12] #387 closed, assigned to nobody

[2020-12-16 05:23] nadezhday commented on #387
Covered in selenium test (test_cognate_analysis.py)
Other tests were updated (login as admin)
Remove test for #270 (not needed)

[2020-12-17 05:46] nadezhday opened #388 "Let all users to use Distance map"
https://github.com/ispras/lingvodoc-react/issues/387:

Backend:2.1.1+1304-cd1256e1-2020.12.15-17:07+modified-2020.12.16-05:23
Frontend:6506ba70-411-staging-server

Selenium test detected a regression.
test_tools_distance_map.py - FAIL

Steps to reproduce:
Login as julianor
Tools->Distance map

Find 'Dictionary Upper Pelym dialect of Mansi language, author priest K.Slovcov,  1905' and click Select

[2020-12-20 12:13] myrix opened #389 "Hidden perspectives should not be accessible to unrelated users"
If the perspective is hidden, i.e. if its or its' parent dictionary status is 'Hidden', it should only be accessible to a user if it is present in the Dashboard -> Dictionaries -> Available dictionaries for that user.

E.g. http://83.149.198.62/dictionary/1574/274855/perspective/1574/274858/view should not be accessible to 'julianor' user, but should be accessible to 'modis' user.

[2020-12-20 12:21] myrix commented on #389
Implemented:
![image](https://user-images.githubusercontent.com/2802467/102713118-dcd03800-42d6-11eb-9aca-678893dd1728.png)
![image](https://user-images.githubusercontent.com/2802467/102713137-f96c7000-42d6-11eb-8dfb-8768847e11c5.png)

[2020-12-21 04:09] nadezhday commented on #389
Login as admin:
![image](https://user-images.githubusercontent.com/59951991/102738432-2b271a80-435b-11eb-9107-a20e4b692125.png)

Login as Julia
http://83.149.198.62/dictionary/1574/274855/perspective/1574/274858/view
Result: Perspective is hidden and you don't have permissions to access it. - OK

Questions:
1) Phonemic analysis:
![image](https://user-images.githubusercontent.com/59951991/102737746

[2020-12-21 07:12] myrix commented on #389
Based on discussion with @al-indigo Oleg Borisenko, hidden perspectives should not reveal anything to unauthorized users; reopening.

[2020-12-21 12:00] myrix commented on #389
Implemented:
![image](https://user-images.githubusercontent.com/2802467/102775088-3e5ada00-439d-11eb-9462-1f7d7a9f2496.png)

[2020-12-21 12:00] #389 closed, assigned to nobody

[2020-12-22 03:53] nadezhday commented on #389
Verified.
Tools, statistics etc are not available for user without permission.
![image](https://user-images.githubusercontent.com/59951991/102846878-398c3980-4422-11eb-89c5-399b50f63dff.png)

[2020-12-22 04:18] nadezhday commented on #389
Covered in selenium test_view_lexical.py

[2020-12-22 04:53] nadezhday commented on #388
Created extra test: distance map for admin.
To be sure that this functionality works for admin user.

[2020-12-25 12:24] myrix opened #390 "Perspective view: sorting by column indication & unsetting"
User should be able to see by which fields lexical entries are sorted, and to unset sorting.

[2020-12-25 14:04] myrix commented on #390
Implemented.

Current sort order is indicated by a modified direction icon:
![image](https://user-images.githubusercontent.com/2802467/103136636-1cca5d00-46d3-11eb-883a-8c877b5d9cf9.png)

Clicking on it unsets sorting, making lexical entries appear in initial server-supplied order:
![image](https://user-images.githubusercontent.com/2802467/103136654-39ff2b80-46d3-11eb-9229-1ccd55c64616.png)

[2020-12-28 04:10] nadezhday commented on #390
http://83.149.198.62/dictionary/3066/11/perspective/3066/14/view

1) Initial: Meaning is sorted - anc  - OK
![image](https://user-images.githubusercontent.com/59951991/103188335-0c83cf00-48d9-11eb-9231-2536a00b1aa7.png)

2) Click anc direction icon one more time
Result: Unsorted
![Uploading image.png…]()

3) Click desc direction icon.
Result: Meaning is sorted by desc.

4) Click desc direction ico

[2020-12-28 04:37] nadezhday commented on #390
Or should we reopen this enhancement?

Note: selenium test test_view_lexical.test_order_meaning_01 - FAILed
If we leave this implementation as it is the test should be updated.

[2020-12-28 05:04] nadezhday commented on #390
selenium test updated.

[2020-12-28 06:35] myrix commented on #390
Reopening for enhancement of simple clicking on column's header.

[2020-12-28 13:42] myrix commented on #390
Implemented.

Clicking on column's header results in following:

1. If the entries are not sorted by the column, sorting changes to sort by the column ascending.
2. If the entries are sorted by the column ascending, sorting changes to sort by the column descending.
3. If the entries are sorted by the column descending, sorting unsets and entries are shown in initial server-defined order.

[2020-12-28 13:42] myrix commented on #388
For the time being Distance map functionality would be available only for the administrator.

Tools page, not logged in:
![image](https://user-images.githubusercontent.com/2802467/103214972-07e40880-4923-11eb-9b61-d946293c142f.png)

The same when logged in as a standard user.

Tools page, logged as admin:
![image](https://user-images.githubusercontent.com/2802467/103214985-19c5ab80-4923-11eb-9484-

[2020-12-28 13:42] #388 closed, assigned to nobody

[2020-12-29 05:33] nadezhday commented on #390
Functionality works fine. It is better now.
BUT we still have a problem:
Now the user should know where to click (he has to click on the word in the column header to change the ordering)

It would be better to allow user clicking on the header to initiate reordering.
![image](https://user-images.githubusercontent.com/59951991/103260901-6f946500-49b0-11eb-8e68-5192f7fa87ad.png)

@myrix what do you

[2020-12-29 05:46] myrix commented on #390
Will see if it's possible.

[2020-12-29 06:18] myrix commented on #390
Implemented.

[2020-12-29 06:18] #390 closed, assigned to nobody

[2020-12-29 06:19] nadezhday commented on #388
Verified. Works as described.
Selenium test updated. PASS.

[2020-12-29 08:39] nadezhday commented on #390
Works. - OK
Note: that ordering is saved.
F5 returns us to the initial state (Meaning - asc).

Selenium tests will be updated.

[2021-01-06 03:53] myrix opened #391 "Dictionary / corpus search optimization"
We should try to optimize dictionary & corpus search http://lingvodoc.ispras.ru/map_search, as in particular it is quite slow for searches with a large number of selected languages and dictionaries / corpora.

[2021-01-06 04:12] myrix commented on #391
Optimized search by moving as much as possible of filtering and collation to the DB side, achieved noticeable improvement.

Open http://lingvodoc.ispras.ru/map_search logged in as administrator, wait for all search data to load:
![image](https://user-images.githubusercontent.com/2802467/103727855-742ece00-4fed-11eb-975b-cdcac27bc217.png)

Search settings: field "Word", string "abc", as substring,

[2021-01-06 04:12] #391 closed, assigned to nobody

[2021-01-06 04:38] myrix opened #392 "'Disable marker' is not working properly"
Open search http://lingvodoc.ispras.ru/map_search logged in as administrator, search for string "abc" in field "Word" as substring getting 2 results:
![image](https://user-images.githubusercontent.com/2802467/103729612-e4d7e980-4ff1-11eb-92eb-98a6d1d11f0f.png)

Scroll down to the map, try to disable one of the markers by right-clicking on it and selecting 'Disable marker':
![image](https://user-im

[2021-01-06 17:10] myrix commented on #392
Ok, as far as I understand, fixed, disabled markers no longer re-appear back.

[2021-01-11 04:26] myrix opened #393 "Map search links"
User should be able to get a link to an instance of map search http://lingvodoc.ispras.ru/map_search, such that opening it shows map search page with the same search instance.

[2021-01-11 04:45] nadezhday commented on #392
@myrix I am not sure how it worked before BUT what I can see now:
Problem: Marker does not disappear after invoking Disable marker context command.
In addition we have duplicated commands in our context menu for each marker on the map.

![image](https://user-images.githubusercontent.com/59951991/104147085-02d09000-53de-11eb-91a3-ba0be3568a42.png)

Steps to reproduce:
Follow the instructions from t

[2021-01-11 04:54] myrix commented on #392
Tried just now, disappeared alright:
![image](https://user-images.githubusercontent.com/2802467/104148151-2a295c00-53e2-11eb-95cf-bef1047dcd7b.png)

Maybe video with steps to reproduce?

[2021-01-11 05:09] myrix commented on #393
Implemented.

Go to /map_search, get results of your search by clicking on 'Search' as usual,
![image](https://user-images.githubusercontent.com/2802467/104148515-9ce70700-53e3-11eb-9b32-da64f0866e63.png)
wait for search results to load, now you can click on 'Get link to search results',
![image](https://user-images.githubusercontent.com/2802467/104148564-c869f180-53e3-11eb-9096-5eda6de6cf2f.png)

[2021-01-11 05:09] #393 closed, assigned to nobody

[2021-01-11 05:21] nadezhday commented on #392
http://83.149.198.62/map_search

Backend:2.1.1+1310-1bd4d3e0-2021.01.11-04:34+modified-2021.01.11-04:44
Frontend:98020cae-418-staging-server

Uncaught TypeError: this._map is null
    _hideContextMenu leaflet.contextmenu.js:593
    fire leaflet-src.js:588
    _hide leaflet.contextmenu.js:418
    _createEventHandler leaflet.contextmenu.js:349
    a leaflet-src.js:2231
    d raven.js:393

[2021-01-1

[2021-01-11 05:40] myrix commented on #392
Ok, it appears this bug is intermittent. Sometimes marker disappears as expected, sometimes it does not and we have this error:
![image](https://user-images.githubusercontent.com/2802467/104149645-1bde3e80-53e8-11eb-9c3d-c2fd4a863a6e.png)

Both on http://lingvodoc.ispras.ru/map_search and http://83.149.198.62/map_search, both in Chrome and Firefox.

@nadezhday also encountered another error:

[cod

[2021-01-12 05:59] nadezhday commented on #393
Open  http://83.149.198.62/map_search
Search for: abc
![image](https://user-images.githubusercontent.com/59951991/104270779-5d372280-54aa-11eb-9f84-d610f3e346af.png)

Click Search
Result: Found 2 results - OK
![image](https://user-images.githubusercontent.com/59951991/104270887-9ec7cd80-54aa-11eb-9f9e-b809b812ea0a.png)

Click Get link to search results

Problem: Failed to get search link  - NOK (I

[2021-01-12 06:07] nadezhday commented on #393
@academic-sakharov Andrey? Could you please help to make this functionality work on  http://83.149.198.62/

NOTE: to test this on test stand http://83.149.198.62/ its DB dump should be updated to one after today 08:00 MSK, otherwise there will be discrepancies with DB schema.

[2021-01-12 06:08] myrix commented on #393
Correct, DB dump needs to be configured properly.

Yeah, just a link to send to somebody else or save somewhere to open later, without need to input all search configurations.

Don't think it's necessary to copy link to clipboard, standard browser context menu functionality (right click on the link to open context menu, "Copy link location" or some such) suffices.

Edit:

Correct, 1 link for all s

[2021-01-12 07:02] nadezhday commented on #391
Works fine. Verified.

[2021-01-12 07:04] nadezhday commented on #393
Backend:2.1.1+1310-1bd4d3e0-2021.01.11-04:34+modified-2021.01.12-06:36
Frontend:499f692b-419-staging-server:

(b) Incorrect "adiministrators" -> "administrators"  - Failed to get search link, please contact administrators.  - Fixed - OK

[2021-01-12 08:21] nadezhday commented on #393
For tester: Partly covered in test_tools_search.py test.
TBD: Test link after problem with  http://83.149.198.62/ is fixed

[2021-01-12 13:41] myrix commented on #393
After discussion with @nadezhday and getting reports from users, it appears that indeed it should be possible to get links even to empty search results.

Even if it shows "Found 0 results on map", it should be possible to get link to the search.

[2021-01-12 13:46] myrix commented on #393
Implemented.

[2021-01-12 14:52] myrix opened #394 "Map search colors in fixed order"
Go to http://83.149.198.62/map_search, add some search tabs, each search is labeled with a different color:
![image](https://user-images.githubusercontent.com/2802467/104330075-b335b580-54fe-11eb-95a3-845e2e155e03.png)

Reload the page, do the same, now colors are different:
![image](https://user-images.githubusercontent.com/2802467/104330135-bd57b400-54fe-11eb-8fdd-be0bd195b56a.png)

Current user

[2021-01-12 14:53] myrix commented on #394
Implemented.

[2021-01-12 14:53] #394 closed, assigned to nobody

[2021-01-13 16:55] academic-sakharov commented on #393
Done. DB dump has been replaced with the latest one: lingvodoc-2021-01-13.16-51.sql

[2021-01-18 07:41] nadezhday commented on #393
Covered in selenium test. PASS.

[2021-01-18 08:32] nadezhday opened #395 "Get link to search results: Map should contain markers for all searches"
Left issue from https://github.com/ispras/lingvodoc-react/issues/393
Open Search1, perform search of something (321) - 1 match
![image](https://user-images.githubusercontent.com/59951991/104889419-43508080-597f-11eb-874f-55c0ed8ac512.png)

Open Search2, search something else (123) - 4 matches
![image](https://user-images.githubusercontent.com/59951991/104889306-11d7b500-597f-11eb-9817-d7b17c321a28

[2021-01-18 15:11] myrix commented on #395
Fixed, after search results are fully loaded, map shows markers of all searches.

[2021-01-18 15:11] #395 closed, assigned to nobody

[2021-01-19 04:41] nadezhday commented on #395
Verified.

[2021-01-19 04:48] nadezhday commented on #394
Verified.
The order:
1)
![image](https://user-images.githubusercontent.com/59951991/104988856-3177e780-5a2a-11eb-9481-c5a31f174a2d.png)
2)
![image](https://user-images.githubusercontent.com/59951991/104988903-4fdde300-5a2a-11eb-8c38-1e8cc245e590.png)

[2021-01-19 05:19] nadezhday commented on #392
Video attached:

[2021-01-19 08-14-37.zip](https://github.com/ispras/lingvodoc-react/files/5833778/2021-01-19.08-14-37.zip)

Open http://83.149.198.62/map_search
Search for: 123
Try to disable markers one by one.
Problem: One of the markers can be disabled only after invoking Disable marker twice.
![image](https://user-images.githubusercontent.com/59951991/104991141-1c518780-5a2f-11eb-809a-d02a11d

[2021-02-01 18:01] ankan2013 opened #396 "Corpus parser fixed"
A pull request (ispras/lingvodoc#1287) was made to fix some bugs in corpus parser's work:
1. lowering case in some sentences' first letters
2. missing some words that are starting with a capital letter in the result of a parser's work (the change is that a word frequencies dictionary for a parser is now been built by counting occurencies non-case-sensitively)
3. fixed empty result of parsing in ca

[2021-02-02 06:05] nadezhday commented on #396
Steps to reproduce (from @myrix ):
-Open http://83.149.198.62/dictionary/3235/4/perspective/3235/7/edit as Admin,
-Add lexical entry
![image](https://user-images.githubusercontent.com/59951991/106558605-18485e00-6535-11eb-827f-5ea92e842d01.png)
- In a new entry click + in Markup column
![image](https://user-images.githubusercontent.com/59951991/106558704-3ada7700-6535-11eb-9949-9d24fa850f37.png)
-

[2021-02-02 06:20] nadezhday commented on #396
1) Result - ОК

![image](https://user-images.githubusercontent.com/59951991/106559747-eb954600-6536-11eb-864d-6f00a3ed59f9.png)

2) Result 2:
![image](https://user-images.githubusercontent.com/59951991/106560225-b76e5500-6537-11eb-9378-523a58362282.png)

This issue can be Verified.
@ankan2013 Please close this issue and I will verify it.

[2021-02-02 10:44] #396 closed, assigned to nobody

[2021-02-10 16:57] myrix opened #397 "Import Starling dictionaries: 'Next Step' disabling not working"
Go to http://83.149.198.62/import logged in as admin, select any CSV, e.g. "ненецкий 1.csv". When no Starling columns for CSV are selected, the "Next Step" button is not supposed to be visible, yet it is:
![image](https://user-images.githubusercontent.com/2802467/107525013-74f7e880-6bc7-11eb-8203-bd544ec0d87a.png)

This sometimes leads to user confusion and should be fixed.

[2021-02-10 17:39] myrix commented on #397
Fixed.

Open Import Starling dictionaries as above, select any CSV, when no columns are selected 'Next Step' button is absent, and a corresponding message is displayed instead:
![image](https://user-images.githubusercontent.com/2802467/107548041-3837eb80-6bdf-11eb-82dd-212b84d6a47b.png)

Select one of the columns by clicking on it and selecting 'Keep', message disappears and 'Next Step' button app

[2021-02-10 17:39] #397 closed, assigned to nobody

[2021-02-10 17:45] myrix commented on #384
Implemented.

Go to step 3 of Starling dictionary import e.g. by following steps in #397. Until parent language is selected for each base CSV, 'Submit' button is absent and a corresponding message is displayed instead:
![image](https://user-images.githubusercontent.com/2802467/107549111-7c77bb80-6be0-11eb-9d2d-4ce6270892f9.png)

Select any parent language by clicking on the 'Select Parent Language

[2021-02-10 18:18] myrix commented on #385
Fixed.

Go to Starling dictionary import either through /import suburl or through home page -> Dashboard -> Import Starling dictionaries, note files available for import, e.g.:
![image](https://user-images.githubusercontent.com/2802467/107552475-a03d0080-6be4-11eb-9321-fcbb2339a933.png)

Go to 'My files' through user menu,
![image](https://user-images.githubusercontent.com/2802467/107552525-ad59ef

[2021-02-10 18:18] #385 closed, assigned to nobody

[2021-02-11 15:10] myrix opened #398 "Docx corpus import: not all data is processed"
Transformation of .docx corpus [Маркешта Святой Іôванӷели (2).docx](https://github.com/ispras/lingvodoc-react/files/5966316/o.2.docx) to standard .eaf 5-tier corpus format (command-line `python -m lingvodoc.scripts.docx_import import "Маркешта Святой Іôванӷели (2).docx" --eaf-file "Маркешта Святой Іôванӷели (2).eaf" --check-file "Маркешта Святой Іôванӷели (2).txt"`) does not process all data in th

[2021-02-11 15:37] myrix commented on #398
The problem is in the external python-docx package, rather then trying to fix it, it is more convenient in such cases to use a workaround.

If after conversion resulting .eaf file does not contain all data from the .docx file, user should try conversion with additional option --all-tables (e.g. `python -m lingvodoc.scripts.docx_import import "Маркешта Святой Іôванӷели (2).docx" --eaf-file "Маркешт

[2021-02-11 15:37] #398 closed, assigned to nobody

[2021-02-18 15:26] yesandv commented on #313
Is it possible to test this using the UI?

[2021-02-18 16:47] myrix commented on #313
No, it's not in the interface.

[2021-02-19 01:56] ankan2013 opened #399 "Corpus parser fixed"
А new pull request (https://github.com/ispras/lingvodoc/pull/1290) was made to treat two words written with "-" as a single word due to specific rules in Meadow Mari language.
Steps to reproduce:
-Open http://83.149.198.62/dictionary/3235/4/perspective/3235/7/edit as Admin,
-Add lexical entry
![image](https://user-images.githubusercontent.com/45983282/108445562-a75fb080-726d-11eb-94a9-04d22d1b1038

[2021-02-19 05:30] nadezhday commented on #313
Test: Added curl command in ToDo list.
Closing without verification.

[2021-02-19 09:32] yesandv commented on #384
Verified.

![384-Disable-Submit-Button](https://user-images.githubusercontent.com/73657817/108485815-60de7600-72ae-11eb-95de-0557ddd3e21f.png)

[2021-02-19 09:35] yesandv commented on #385
Verified.

[2021-02-19 09:36] yesandv commented on #397
Verified.

![897-Next-Step-1](https://user-images.githubusercontent.com/73657817/108486411-1c070f00-72af-11eb-99b4-f7511d66b911.png)
![897-Next-Step-2](https://user-images.githubusercontent.com/73657817/108486418-1d383c00-72af-11eb-888a-1533b6731a7d.png)

[2021-02-19 11:21] nadezhday commented on #398
Closing without verification.

[2021-02-23 18:19] myrix opened #400 "INEL corpora EXMARaLDA .exb -> Lingvodoc 5-tier ELAN .eaf converter"
We need to convert as much as possible info from [INEL](https://www.slm.uni-hamburg.de/inel.html) [Dolgan](https://corpora.uni-hamburg.de/hzsk/en/islandora/object/spoken-corpus:dolgan-1.0), [Kamas](https://corpora.uni-hamburg.de/hzsk/en/islandora/object/spoken-corpus:kamas-1.0) and [Selkup ](https://corpora.uni-hamburg.de/hzsk/en/islandora/object/spoken-corpus:selkup-1.0) corpora, stored in EXMARa

[2021-02-23 18:57] myrix commented on #400
Implemented.

Conversion should be performed in the environment with installed backend. To perform the convertion, download corpora files [dolgan-corpus.zip](https://corpora.uni-hamburg.de/hzsk/de/islandora/object/file:dolgan-1.0_INEL_Dolgan_Corpus_1.0_ZIP_Archive/datastream/ZIP/dolgan-corpus.zip), [kamas.zip](https://corpora.uni-hamburg.de:8443/fedora/objects/file:kamas-1.0_zip/datastreams/ZIP/co

[2021-02-23 18:57] #400 closed, assigned to nobody

[2021-02-24 08:26] nadezhday commented on #341
Link to Figma prototype can be found here: https://confluence.ispras.ru/pages/viewpage.action?pageId=31950164

[2021-02-24 12:24] yesandv opened #401 "Language Selection: deselect a parent language"
**Precondition**
Found while verifying #384
Go to http://83.149.198.62/
Login as julianor

**Steps**
Click on the username
Click My files
Select Browse
Select the 'ненецкий 1.csv' file
From a drop-down list choose Starling
Upload
Go to the main page -> Dashboard -> Import Starling dictionaries
From a drop-down list 'Base blob' choose 'ненецкий 1.csv'
Go to Language Selection
Click on a Select Pare

[2021-02-24 12:42] yesandv opened #402 "Language Selection: Base blob drop-down list"
**Precondition**
Found while verifying #384
Go to http://83.149.198.62/
Login as julianor

**Steps**
Click on the username
Click My files
Select Browse
Select the 'ненецкий 1.csv' file
From a drop-down list choose Starling
Upload
Go to the main page -> Dashboard -> Import Starling dictionaries
Click on a drop-down list 'Base blob'

**Expected result**
Text of the drop-down list reflects its functi

[2021-02-25 00:35] myrix opened #403 "Licenses for dictionaries and corpora"
When creating dictionaries, either anew or by importing Dialeqt / Starling / CSV data, user should be able to specify a license for the dictionary being created. The same when creating a corpus.

Also, when dictionary is created from a 5-tier EAF markup in a corpus, it should inherit license of the corpus.

For now the set of possible licenses is fixed, user should be able select one of the follow

[2021-02-25 02:44] myrix commented on #403
Implemented.

Any dictionary / corpus without explicitly specified license, including all already existing ones, is displayed as having a proprietary license.

### New dictionary / corpus

When creating a new dictionary, at the second step "Dictionary names and metadata" user can also specify a license for a new dictionary.

E.g. go to new dictionary creation (home page -> Dashboard -> Create dict

[2021-02-25 02:44] #403 closed, assigned to nobody

[2021-02-25 13:16] yesandv commented on #403
Verified.

[2021-02-25 16:49] nadezhday opened #404 "Create desktop lingvodoc version"
Users asks for simple desktop lingvodoc version.
The idea is:
To be honest, I would generally consider that a normal desktop version is needed. a) Sometimes you need to make a fairly large edit, for which the time delays that occur during online work are completely unnecessary and harmful (well, say, delays when listening, when overloading the page, saving edits, etc.); b) in general, it does not

[2021-02-25 16:54] nadezhday opened #405 "Implement search and replace functionality"
Implement search and replace functionality.
The user understands the risk of statistics mismatch.

[2021-02-25 17:04] nadezhday opened #406 "Create an opportunity to fix the copyright and the inability to copy and paste the results in your articles for non-authors without links"
It is necessary to create an opportunity to fix the copyright and the inability to copy and paste the results in your articles for non-authors without links.

[2021-02-25 17:10] nadezhday opened #407 "Checks the uniformity of notation over parser results."
Checks the uniformity of notation over parser results.
Also check the fullness of all glosses, as in the Toolbox.
(V Lemskya)

[2021-02-25 17:13] nadezhday opened #408 "Implement highlighting mode authorship within the dictionary"
Implement highlighting mode of authorship within the dictionary

[2021-02-25 17:17] nadezhday opened #409 "Implement confirmation before file deletion"
Implement confirmation before file deletion.

[2021-02-25 17:20] nadezhday commented on #409
It is better to ask twice before we delete something instead of wasting time to recover the deleted items.

[2021-02-25 17:24] nadezhday opened #410 "Create Recycle bin for deleted items"
Create Recycle bin for deleted items.
Implement sorting by time of deletion.
Implement the Restore button.

[2021-02-25 17:31] nadezhday opened #411 "Improve Search performance"
We need to fix the performance. Search is taking to much time.

[2021-02-25 17:37] nadezhday opened #412 "Create user manual (instructions from existing video)"
Users asks: It would be nice to create a user manual with all steps from videos and place it in wiki.

We need to teach our users to use github wiki to create their own instructions.

[2021-02-25 17:44] nadezhday opened #413 "Implement a possibility to modify column names"
It should be possible to modify column names (in dictionaries from desktop version)

Add/Remove column functionality also should work.

[2021-02-25 17:50] nadezhday opened #414 "Create validation by the normative symbols of the MFA for the convenience of the markup."
Create validation by the normative symbols of the MFA for the convenience of the markup.
(underline the transcription, where are the invalid characters?)
For example, there is a ready-made i papy library for Python

[2021-02-25 18:00] nadezhday opened #415 "Implement search options "with" and "without" diacritics"
е = ё
Search for: елка
Expected: it would be nice to see "ёлка" within found entries.

An addition from Lena K.: maybe we should make a search mode where diacritics are not taken into account at all?
Option “with "and” without" diacritics?
I support you about the search, regardless of the diacritics! In FLEx, this is really very convenient! (V. Lemskaya)

[2021-02-25 18:02] nadezhday commented on #415
Comment from Oleg:
Unicode characters/look at the fieldworks code lists of diacritics and multicomponent characters.
https://github.com/ispras/lingvodoc-react/blob/4e86fd787e6a512523eace566174e67a05b8b219/src/components/Search/AdditionalFilter/GrammarFilter/grammaticalSigns.json

[2021-02-25 18:11] nadezhday opened #416 "Confirmation for delete operation"
Users ask for confirmation for delete operation in the following cases:

Before deleting any unit(item) in the dictionary (and especially the dictionary itself or its perspective), request confirmation of deletion should appear.

Backups of corpara with the homonymy removed; insurance against accidental deletion (now the "Delete" button is very small, located next to the markup opening button, and

[2021-02-25 18:26] nadezhday opened #417 "Problem with Publish operation: cognate is not set"
http://lingvodoc.ispras.ru/dictionary/3783/1/perspective/3783/2/view
search for: восемь
Problem: cognate field is empty
![image](https://user-images.githubusercontent.com/59951991/109198554-686eb500-77af-11eb-9218-4a07194cda8e.png)

In some cases Publish operation takes more then 20 mins.

http://lingvodoc.ispras.ru/dictionary/3782/1/perspective/3782/2/edit

[2021-02-25 18:27] nadezhday commented on #417
Check Irina Novak role for this dictionary.
Try to reproduce "20 mins" problem.

[2021-02-26 03:35] myrix commented on #415
I believe it can be done with additional gin_trgm_ops index on transformed Entity.content, with transformation consisting of deattaching diacritics via Unicode NFKD normal form transformation and then stripping them off via a regular expression.

Can't do that in our PostgreSQL version natively (I think Unicode normal forms are available from PostgreSQL 13?), so it would have to use a PL/Python fu

[2021-02-26 04:49] nadezhday opened #418 "Possiblilty to edit (add) paradigmatic forms via lexical inputs"
Make possible to edit (add) paradigmatic forms via lexical inputs

[2021-02-26 04:55] nadezhday opened #419 "Possibility to select a word in the Word that is not recognized by the parser"
Make possibility to select a word in the Word that is not recognized by the parser (written in a non-normative way, in historical spelling, with dialect phonetics, etc.), and use its normative literal entry through which the parser would recognize it.

[2021-02-26 04:59] nadezhday commented on #419
Comment from Oleg: Make buffer for authors of the parsers  (for example Archangelskiy) in order to DB parser modification

[2021-02-26 05:06] nadezhday opened #420 "Description of the algorithms of the Lingvodoc tools"
Description of the algorithms of the Lingvodoc tools.

Oleg: Copy formant clouds information from LREV article to wiki.

[2021-02-26 06:05] nadezhday opened #421 "Possibility to create a formant cloud bases on one informant, certain sounds"
Make possibility to create a formant cloud.
-based on the utterances of one informant,
- on certain sounds
Phonology tool.

[2021-02-26 06:06] nadezhday commented on #421
Comment fro Oleg:
После исправлений в типизации, для полины вручную

[2021-02-26 06:08] nadezhday opened #422 "Manual editing of Praat markup"
Manual editing of Praat markup

[2021-02-26 06:11] nadezhday commented on #422
Comments from Oleg: table, slider
@al-indigo if needed you can add more information in this case.

[2021-02-26 06:14] nadezhday opened #423 "Showing words that contain sounds that are represented by dots in the picture Phonology"
Showing words that contain sounds that are represented by dots in the picture Phonology

Filtering in excel with reference to vowels -- what was found
In the distant future -- make an interactive version on conditional d3

[2021-02-26 06:17] nadezhday opened #424 "Possibility to perform complex statistical queries on documents that have passed through the parser."
Make possibility to perform complex statistical queries on documents that have passed through the parser.

Examples:
1) The verb and the neighboring prepositions with nouns
2) Quantitative queries (the correct types of queries are needed)

[2021-02-26 06:43] nadezhday opened #425 "Possibility to edit a document processed in the parser"
Make possibility to edit a document processed in the parser.

Discussion with Archangelskiy is needed.

[2021-02-26 06:51] nadezhday opened #426 "No need to go to the corpus to see the text search results"
Text search results:
We need to have search results as phrases on the search page. We should not go to the corpus.

[2021-02-26 06:54] nadezhday opened #427 "Implement Search for Word format texts and texts passed through the parser"
Implement Search for Word format texts and texts passed through the parser

[2021-02-26 07:02] nadezhday opened #428 "Progress bar with the size of the file to be uploaded (+ Cancel operation)"
Usability issue:
While uploading audio file it would be nice to have progress bar with size of uploaded file.
Also it should be possibility to cancel uploading process.

[2021-02-26 07:26] nadezhday opened #429 "It is not yet clear how to add the video to the file with the analysis (ELAN-markup)"
V.Lemskaya:
It is not yet clear how to add the video to the file with the analysis (ELAN-markup),
But I would like to” finish " the previously uploaded files/projects.

[2021-02-26 07:34] nadezhday opened #430 "Remove the "bread crumbs""
Please remove the "bread crumbs"! They are only half removed.
(V. Lemskaya)

@al-indigo FYI

[2021-02-26 09:07] nadezhday commented on #400
Closing without verification.

[2021-02-26 09:48] nadezhday commented on #430
Solve the navigation problem in the dictionary.

Remove | elements.

[2021-02-27 01:51] myrix opened #431 "Dictionaries & Corpora pages ordering"
Right now there is no guarantee that dictionaries and corpora on Language databases -> Dictionaries and Language databases -> Language corpora would be ordered inside languages in standard order, which is based on creation time, from newest to oldest.

That should be fixed.

Replaces #330.

[2021-02-27 01:57] myrix commented on #431
Now should be alright.

[2021-02-27 01:57] myrix commented on #330
Replaced by #431.

[2021-02-27 01:57] #330 closed, assigned to nobody

[2021-02-27 02:02] myrix opened #432 "INEL corpora upload script"
We need an automated script for uploading processed INEL Dolgan, Kamas and Selkup corpora to a Lingvodoc server.

[2021-02-27 02:07] myrix commented on #432
Implemented, tested locally.

NOTE for testers: for testing the script on test stand http://83.149.198.62/ updated DB dump there to the latest one, from 2021-02-26.16-51, this can possibly lead to unrelated test fails.

[2021-02-27 02:07] #432 closed, assigned to nobody

[2021-02-28 00:54] myrix commented on #432
Script invocations for Dolgan, Kamas and Selkup respectively:
[code]
Source corpus files, including metadata file `selkup.coma`, are available for download from links in #400.

NOTE for testers: not for automatic testing.

[2021-02-28 10:32] myrix opened #433 "Handle dictionary / perspective mismatch in URLs"
Open http://83.149.198.62/dictionary/3781/1/perspective/3782/2/view, note dictionary name in the breadcrumbs:
![image](https://user-images.githubusercontent.com/2802467/109415239-9f6be300-79c8-11eb-93c7-d72a665341f9.png)
Open dictionary menu by clicking on dictionary name, open dictionary properties, note the disparity between initial dictionary name and dictionary name translations in properties:

[2021-02-28 10:35] myrix commented on #433
Implemented, redirects as expected.

[2021-02-28 10:35] #433 closed, assigned to nobody

[2021-02-28 11:34] myrix opened #434 "Connected lexical entries are not displayed as such"
Open http://83.149.198.62/dictionary/3151/33643/perspective/3151/33644/edit logged in as julianor, open 'Cognates' of "ćeĺińä",
![image](https://user-images.githubusercontent.com/2802467/109416813-78fe7580-79d1-11eb-941f-fef137b82e79.png)
'Add connection' tab, search for "ćeĺińä", open the first result,
![image](https://user-images.githubusercontent.com/2802467/109416820-887dbe80-79d1-11eb

[2021-02-28 11:42] myrix commented on #434
Fixed, now created connection is displayed in the 'View' tab as it should be:
![image](https://user-images.githubusercontent.com/2802467/109417080-28881780-79d3-11eb-8123-dd63229dfcf4.png)

[2021-02-28 11:42] #434 closed, assigned to nobody

[2021-03-01 00:02] myrix opened #435 "Transcription, translation in phonology formant tables"
Open http://83.149.198.62/dictionary/657/3/perspective/657/4/view, Tools -> Phonology, click 'Create' button, wait for the task to finish, look at formant tables at sheets "F-table", "F-table (3d)" in the resulting .xlsx file [Dictionary of Yukonda dialect of Mansi - Lexical Entries - 2021.02.28.xlsx](https://github.com/ispras/lingvodoc-react/files/6058354/Dictionary.of.Yukonda.dialect.of.Mansi.-.

[2021-03-01 00:05] myrix commented on #435
Implemented:
[Dictionary of Yukonda dialect of Mansi - Lexical Entries - 2021.02.28.xlsx](https://github.com/ispras/lingvodoc-react/files/6058443/Dictionary.of.Yukonda.dialect.of.Mansi.-.Lexical.Entries.-.2021.02.28.xlsx)
![image](https://user-images.githubusercontent.com/2802467/109438413-f5796e80-7a3a-11eb-92aa-2fd68a6c879e.png)
![image](https://user-images.githubusercontent.com/2802467/10943841

[2021-03-01 00:05] #435 closed, assigned to nobody

[2021-03-01 09:59] yesandv commented on #433
Verified.

[2021-03-01 11:02] yesandv commented on #434
Verified.

[2021-03-01 11:28] yesandv commented on #435
Verified.

[2021-03-01 14:07] yesandv opened #436 "Date of adding a dictionary and a corpus to the database isn't displayed"
**Precondition**
Found while verifying #431
Go to http://83.149.198.62/
Login as modis

**Steps**
Go to Dashboard -> Dictionaries -> Available dictionaries
Click on 'Dictionary of Livvik dialect of Karelian language (vil. Ust'e Vidlicy)'
Click on Properties...
Then go to to the main page -> Dashboard -> Corpora -> Available corpora
Click on 'Glossed corpus of the book "Святое Евангелие от Матфея,

[2021-03-02 00:40] myrix opened #437 "Cognate disconnect permission bug"
Open http://83.149.198.62/dictionary/657/3/perspective/657/4/edit logged in as 'julianor', open cognates of "werpə-", click 'Disconnect' button, result is permission error:
![image](https://user-images.githubusercontent.com/2802467/109578729-c5000600-7b08-11eb-9c0b-d6ec78e55523.png)
![image](https://user-images.githubusercontent.com/2802467/109578767-d2b58b80-7b08-11eb-808d-071e4a14c129.png)

Clos

[2021-03-02 00:51] myrix commented on #437
Fixed, works:
![image](https://user-images.githubusercontent.com/2802467/109579762-93883a00-7b0a-11eb-88ac-59e9122d229d.png)

[2021-03-02 00:51] #437 closed, assigned to nobody

[2021-03-02 09:09] yesandv commented on #437
Verified.

[2021-03-02 11:35] nadezhday opened #438 "Sometimes Language is not loaded. Exception."
Our automatic tests started to Fail.
The reason is Language cannot be loaded.
Login as Julia
Open Lingvodoc creator
Click Language
Problem: Sometimes we can get in a such state that Language is never loaded.
![image](https://user-images.githubusercontent.com/59951991/109641998-7fbcf200-7b63-11eb-9d74-89167fc36d44.png)

Here is an exception.
@myrix is it helpful? Can we fix this problem?

uncaught

[2021-03-02 16:52] myrix commented on #438
@nadezhday
Can't reproduce, neither at http://83.149.198.62, neither locally, exception log also does not bring anything particular to mind.

I guess 'Languages' not loading means `all_locales` request fails for some reason?
![image](https://user-images.githubusercontent.com/2802467/109683579-89108380-7b90-11eb-9eac-4041063d335e.png)
If we could get info on its state, perhaps it will be useful.

M

[2021-03-03 08:56] myrix opened #439 "Create organization permission bug"
Newly registered users have permission to create organizations, but they shouldn't.

Open http://83.149.198.62/, sign out, sign up:
![image](https://user-images.githubusercontent.com/2802467/109779032-94a68d80-7c16-11eb-89a8-cea627910c70.png)
![image](https://user-images.githubusercontent.com/2802467/109779039-9708e780-7c16-11eb-9fc3-040571498cdb.png)

Go to 'Organizations' page, create new organi

[2021-03-03 09:04] myrix commented on #439
Fixed, newly registered users are not able to create organizations:
![image](https://user-images.githubusercontent.com/2802467/109780423-0f23dd00-7c18-11eb-8eec-bf477785ac89.png)

'Create organization...' button is not shown for non-administrator users:
![image](https://user-images.githubusercontent.com/2802467/109780521-26fb6100-7c18-11eb-8397-af56aae4a946.png)

We will need to manually remove cr

[2021-03-03 09:04] #439 closed, assigned to nobody

[2021-03-03 10:44] nadezhday opened #440 "Failed to compute cognate analysis: GraphQL error"
test case test_cognate_suggestions.py: test_lex_cognate_sugg_unselect_match - FAIL

steps to reproduce:
login as admin
search for Dictionary of Livvik dialect in Finland
Open Lexial view
Toos->Cognate_suggestions
deselect Match transtlations checkbox
Click Cognate

Expected: Analysis results
Actual: Failed to compute cognate analysis
![image](https://user-images.githubusercontent.com/59951991/1097

[2021-03-03 10:44] nadezhday commented on #440
@yesandv FYI

[2021-03-03 10:54] nadezhday commented on #438
@yesandv FYI

[2021-03-03 11:11] myrix commented on #440
@nadezhday

Checked locally, computes ok:
![image](https://user-images.githubusercontent.com/2802467/109796745-97f74480-7c29-11eb-897c-52b94add08a7.png)

It seems the problem is that due to a large number of source data the size of buffers requested by the liboslon.so library, which performs the computation, is too big, about 14 GB of virtual memory, and, more importantly, server memory consumptio

[2021-03-03 11:40] yesandv commented on #439
Verified.

[2021-03-03 12:00] nadezhday commented on #440
Reise SkipTest.
As soon as we increase test stand's RAM etc we will make our test available again.

[2021-03-04 14:42] julianor555 opened #441 "Sort by Organizations"
It is necessary to be able to sort by organizations, as well as by grants.

[2021-03-04 14:43] julianor555 commented on #441
In the list of organizations, you should also add the ability to delete organizations that were entered incorrectly.

[2021-03-06 12:13] myrix commented on #415
Implemented.

Open /map_search (Tools -> Search), search for "cek" in field 'Word' as 'Sub string', 0 results found:
![image](https://user-images.githubusercontent.com/2802467/110206368-400d4780-7e8e-11eb-8bda-5bd72b47ba7d.png)

Enable option 'Ignore diacritics', search again, 17 results found:
![image](https://user-images.githubusercontent.com/2802467/110206376-4a2f4600-7e8e-11eb-8418-770184439bf

[2021-03-06 12:13] #415 closed, assigned to nobody

[2021-03-06 14:33] myrix opened #442 "Deleting organizations"
User logged in as administrator should be able to delete organizations.

Non-administrators should not be able to do that.

Rel. https://github.com/ispras/lingvodoc-react/issues/441#issuecomment-790668201.

[2021-03-06 14:44] myrix commented on #442
Implemented.

To delete an organization, log in as administrator, go to /organizations page,
![image](https://user-images.githubusercontent.com/2802467/110210501-0135bc80-7ea3-11eb-8064-d92ddd98f19a.png)
click 'Delete' button of the organization that should be deleted,
![image](https://user-images.githubusercontent.com/2802467/110210515-0c88e800-7ea3-11eb-9b64-f01364fbb613.png)
confirm deletion,
!

[2021-03-06 14:44] #442 closed, assigned to nobody

[2021-03-06 18:36] myrix commented on #441
Implemented.

Go to /dashboard/dictionaries_all (Language databases -> Dictionaries), select 'Display mode' as "By Organizations":
![image](https://user-images.githubusercontent.com/2802467/110217204-df98fd00-7ec3-11eb-81fb-553b3bdbf3d6.png)

[2021-03-06 18:36] #441 closed, assigned to nobody

[2021-03-10 07:12] myrix opened #443 "Sorting by field bug"
Open http://lingvodoc.ispras.ru/dictionary/3648/23692/perspective/3648/23696/edit, sort by 'Paradigms and Contexts', page fails with error:
![image](https://user-images.githubusercontent.com/2802467/110590360-bceb3a80-8188-11eb-9ede-3444b2b9e057.png)
![image](https://user-images.githubusercontent.com/2802467/110590378-c1175800-8188-11eb-9741-618f3704a42e.png)
Edit: the same e.g. at http://83.149.1

[2021-03-10 07:21] myrix commented on #443
Fixed, now sorts ok.

[2021-03-10 07:21] #443 closed, assigned to nobody

[2021-03-10 10:56] yesandv commented on #415
Verified.

[2021-03-10 11:04] yesandv commented on #441
Verified.

[2021-03-10 11:07] yesandv commented on #442
Verified.

[2021-03-10 11:11] yesandv commented on #443
Verified.

[2021-03-10 18:41] myrix opened #444 "Etymological distance plot malfunction pt. 2"
Open http://83.149.198.62/dictionary/3688/1/perspective/3688/2/view logged in as admin, Tools -> Cognate analysis, 'Compute' button, wait for computation to finish and for results to render, 2d and 3d embedding plots are mostly empty and the legends obscure the data.

Just a part of the 2d plot:
![image](https://user-images.githubusercontent.com/2802467/110680142-4b8fa400-81e9-11eb-8807-c65d5c2ab2

[2021-03-10 18:51] myrix commented on #444
Failed to fix it directly, it seems this is due to inherent limitations of Plotly.js when working with such a large legend, I don't have enough JavaScript qualifications to investigate further and maybe fix it. Maybe somebody more JS-qualified can do it?

In the meantime, a workaround, when the number of dictionaries is sufficiently high, we'll render a separate legend below:
![image](https://user

[2021-03-10 18:51] #444 closed, assigned to nobody

[2021-03-11 08:53] yesandv commented on #444
Verified.

[2021-03-11 11:20] myrix opened #445 "'Cognate ...' tools accessible to perspective authors"
Rel. #387 'Cognate ...' tools accessible only to the administrator.

Now we need to allow access to 'Cognate...' tools to perspective authors also.

E.g. if you go to http://83.149.198.62/dictionary/657/3/perspective/657/4/view logged in as 'julianor', you should be able to open 'Cognate...' tools from the 'Tools' menu, whereas now you can't:
![image](https://user-images.githubusercontent.com/2802

[2021-03-11 11:38] myrix commented on #445
Implemented.

Open http://83.149.198.62/dictionary/657/3/perspective/657/4/view logged in as 'julianor', 'Cognate...' tools are accessible:
![image](https://user-images.githubusercontent.com/2802467/110781489-01550400-8277-11eb-9ea2-099312d8357b.png)

Select 'Cognate analysis', scroll all the way down, click 'Compute' button, computes ok:
![image](https://user-images.githubusercontent.com/2802467/

[2021-03-11 11:38] #445 closed, assigned to nobody

[2021-03-12 20:41] myrix opened #446 "Perspective editing: adding new text entity bug"
Open http://83.149.198.62/dictionary/3619/96801/perspective/3619/96802/edit logged in as admin, try adding a new entity in the 'Word' column, new entity does not appear:
![image](https://user-images.githubusercontent.com/2802467/110996007-559dd800-838c-11eb-8b8d-053a80bfd6a7.png)
![image](https://user-images.githubusercontent.com/2802467/110996016-57679b80-838c-11eb-9d9f-bd5b8d988083.png)
![image]

[2021-03-12 20:49] myrix commented on #446
Fixed, now works as expected:
![image](https://user-images.githubusercontent.com/2802467/110996806-892d3200-838d-11eb-863d-e2b834a6e3a4.png)

[2021-03-12 20:49] #446 closed, assigned to nobody

[2021-03-13 23:40] myrix opened #447 "PostgreSQL 13, Ubuntu 20.04 backend environment"
Some recently implemented features need PostgreSQL 13 to work, and PostgreSQL 13, it appears, won't work in the current Ubuntu 14.04 production environment.

So, we need to upgrade backend environment to the one based on latest long-term support Ubuntu release 20.04.

[2021-03-14 01:02] myrix commented on #447
Ok, got a working setup for Ubuntu 20.04 backend environment, tested it, most automatic tests completed ok, and tests that failed seem to fail not because of errors, but due to timeouts and inability to find interface components; maybe caused by the DB state update?

Looks good enough to use in production.

[2021-03-14 01:02] #447 closed, assigned to nobody

[2021-03-15 08:23] yesandv commented on #445
Verified.

[2021-03-15 08:32] yesandv commented on #446
Verified.

[2021-03-16 05:46] nadezhday opened #448 "Distance map: Error message"
Our test test_tools_distance_map.test_select_1_dictionary_map_admin  FAILed
![image](https://user-images.githubusercontent.com/59951991/111261278-48eedd80-8633-11eb-8ca2-90f42a123f9a.png)

Steps to reproduce:
Login as admin
Tools->distance map
Find 'Dictionary Upper Pelym dialect of Mansi language, author priest K.Slovcov,  1905'
Select dictionary
Uncheck all
Expand Uralic, Mansi, Western dialect

[2021-03-17 16:37] yesandv commented on #445
Selenium test's written.

[2021-03-18 05:46] nadezhday opened #449 "Merge frontend/backend error: GraphQL error"
Test test_view_lexical_merge_suggestions.py:test_merge_on_several_pages - FAIL
![image](https://user-images.githubusercontent.com/59951991/111579112-761fc500-87c6-11eb-8426-4d0a66727468.png)

Steps to reproduce the problem can be found in https://github.com/ispras/lingvodoc-react/issues/229
Merge frontend/backend error

This is a regression.

[2021-03-18 09:09] myrix commented on #449
Should be fixed.
![image](https://user-images.githubusercontent.com/2802467/111600721-be4ce080-87e2-11eb-8bcd-0285b27540f8.png)

[2021-03-18 09:09] #449 closed, assigned to nobody

[2021-03-18 11:19] nadezhday commented on #431
@myrix could you please help us to verify this case.
What exactly should we see on the page in order to say 'yes' ordering is working.
Probably several screenshot will be enough. )

[2021-03-18 13:22] nadezhday commented on #449
Test - Pass

[2021-03-18 18:07] myrix commented on #436
Open dictionary/perspective properties dialog, now creation and modification data is displayed, e.g. for Yukonda Mansi http://83.149.198.62/dictionary/657/3/perspective/657/4/view:
![image](https://user-images.githubusercontent.com/2802467/111675213-ee6da100-882d-11eb-9275-4197fdabe9d4.png)
![image](https://user-images.githubusercontent.com/2802467/111675231-f299be80-882d-11eb-9565-73dbe8bfa92e.pn

[2021-03-18 18:07] #436 closed, assigned to nobody

[2021-03-18 18:47] myrix commented on #431
@nadezhday
Probably enough to verify a subset of the corpora, on Language databases -> Language corpora go to Dolgan,
![image](https://user-images.githubusercontent.com/2802467/111680228-0f84c080-8833-11eb-92e1-7cdd0ec07511.png)
highlighted corpora should go in the current order:
![image](https://user-images.githubusercontent.com/2802467/111680374-3642f700-8833-11eb-84c9-f5904c62425a.png)

If in d

[2021-03-18 18:48] myrix commented on #445
Now user that created the perspective can be seen in the perspective properties as specified in #436.

[2021-03-18 20:22] myrix commented on #448
Fixed, now works as expected.

[2021-03-18 20:22] #448 closed, assigned to nobody

[2021-03-18 20:25] myrix commented on #440
Works ok in latest tests.

[2021-03-18 20:25] #440 closed, assigned to nobody

[2021-03-19 07:52] nadezhday commented on #448
Works fine. Thank you, @myrix

[2021-03-19 08:38] yesandv commented on #440
Verified.

[2021-03-19 08:51] yesandv commented on #436
Verified.

![dictionary-properties](https://user-images.githubusercontent.com/73657817/111754629-4695b900-88a9-11eb-8d38-d55b9574be41.png)
![corpora-properties](https://user-images.githubusercontent.com/73657817/111754638-4990a980-88a9-11eb-8083-f7f52bc99073.png)

[2021-03-19 09:12] yesandv commented on #431
Verified.

[2021-03-23 08:35] yesandv commented on #441
Selenium test's written.

[2021-04-01 13:25] yesandv commented on #398
Verified.

[2021-04-08 00:21] myrix opened #450 "'Save dictionary' with markup"
User should be able to save dictionary info with attached markup files, just as it is possible to save dictionary with attached sound files (#282); saving with both attached sound and markup should also be possible.

[2021-04-08 00:56] myrix commented on #450
Implemented.

Open e.g. "Dictionary of Yukonda dialect of Mansi", http://83.149.198.62/dictionary/657/3/perspective/657/4/view, 'Dictionary of Yukonda dialect of Mansi' drop-down menu, 'Save Dictionary 'Dictionary of Yukonda dialect of Mansi'', 'Save markup' check can be enabled / disabled independent of 'Save sound recordings' check:
![image](https://user-images.githubusercontent.com/2802467/1139

[2021-04-08 00:56] #450 closed, assigned to nobody

[2021-04-08 13:26] myrix opened #451 "Phonology: no results"
Open http://83.149.198.62/dictionary/2088/4/perspective/2088/7/view logged in as admin, 'Tools' menu, 'Phonology', 'Create' button, wait for task to complete, completed task shows "no results produced":
![image](https://user-images.githubusercontent.com/2802467/114034548-f34ecf00-9886-11eb-9004-a4ac0f0d673c.png)

Expected: a link to .xlsx file with phonology results.

[2021-04-08 13:39] myrix commented on #451
Fixed, now computes ok with results.

Requires phonology cache flushing on the server, with `redis-cli --scan --pattern "phonology:*" | xargs redis-cli DEL` if using redis.

[2021-04-08 13:39] #451 closed, assigned to nobody

[2021-04-11 04:28] myrix opened #452 "Corpus converter bug"
For some corpora conversion gives some words invalid paradigm links.

E.g. open http://83.149.198.62/dictionary/3596/37747/perspective/3596/37750/view logged in as admin, start conversion to dictionary of the markup 'PKZ_196X_Branch_flk.eaf' (the 10th one):
![image](https://user-images.githubusercontent.com/2802467/114292135-0fc05680-9a95-11eb-95b1-e8a5a827ae92.png)
![image](https://user-images.gi

[2021-04-11 04:34] myrix commented on #452
Fixed, the problem was that the converter was not suited to converting corpora with empty phrase-level paradigm text and translation layers.

Now there are no extra paradigm links:
![image](https://user-images.githubusercontent.com/2802467/114292601-49df2780-9a98-11eb-91d9-3d58063d8f4d.png)

[2021-04-11 04:34] #452 closed, assigned to nobody

[2021-04-14 10:44] nadezhday commented on #452
Verified.
Thank you for verification steps.

[2021-04-14 10:52] nadezhday commented on #451
Verified
![image](https://user-images.githubusercontent.com/59951991/114699184-a35d8580-9d28-11eb-9ae3-0a01d2537450.png)

[2021-04-14 11:14] nadezhday commented on #450
Verified.
zip file was generated

[2021-04-14 11:16] nadezhday commented on #447
we can close it.

[2021-04-25 08:53] myrix opened #453 "Showing parser versions"
At the version page /version_route, home page -> 'Support' -> 'Version', user should be able to see versions of some of the uniparser-* Python packages used by the Lingvodoc backend.

[2021-04-25 12:06] myrix commented on #453
Implemented:
![image](https://user-images.githubusercontent.com/2802467/115992707-b9e0c800-a5d7-11eb-8e6b-9b1784f1ac1f.png)

[2021-04-25 12:06] #453 closed, assigned to nobody

[2021-04-26 04:59] nadezhday commented on #453
Verified on http://lingvodoc.ispras.ru/version_route

[2021-04-26 05:01] nadezhday commented on #453
Not verified on http://83.149.198.62/version_route
![image](https://user-images.githubusercontent.com/59951991/116030987-7a60bd00-a665-11eb-8842-8e3e8810d6c4.png)

[2021-04-26 05:03] nadezhday commented on #453
I have started tests again and let us see how it will go.

[2021-04-26 08:50] nadezhday commented on #453
The problem is that we cannot see any plugin info  http://83.149.198.62/version_route
@myrix should we do extra steps in order to see new plugin functionality?

[2021-04-26 09:03] myrix commented on #453
Due to an inaccuracy wasn't working properly in Docker container, pushed fix just now that should make it work ok on http://83.149.198.62/version_route also.

[2021-04-26 10:36] nadezhday commented on #453
Thank you @myrix
Verified:
![image](https://user-images.githubusercontent.com/59951991/116069716-61bbcb80-a694-11eb-878c-08d29d082ee8.png)

[2021-05-17 02:25] ankan2013 opened #455 "Moving markup elements"
A pull request https://github.com/ispras/lingvodoc-react/pull/454 was made to provide a user with the ability to select an element in the parser's result and to change its position in the text. Also, modified code allows a user to remove not only user's markup elements, but any element in the markup.
Steps to reproduce:
1. All steps from here https://github.com/ispras/lingvodoc-react/issues/399
2.

[2021-05-20 22:47] myrix opened #456 "Adding new perspectives to existing dictionaries"
Users should be able to add new perspectives to existing dictionaries, specifying perspectives' names and fields.

[2021-05-20 23:12] myrix commented on #456
Implemented.

Open e.g. http://83.149.198.62/dictionary/1574/274855/perspective/1574/274858/view logged in as admin, choose 'Create new perspective' from dictionary menu:
![image](https://user-images.githubusercontent.com/2802467/119059786-aad41680-b9d9-11eb-949b-976d711e8d1c.png)

In the perspective creation dialog add perspective's names and fields, click 'Save' button:
![image](https://user-ima

[2021-05-20 23:12] #456 closed, assigned to nobody

[2021-05-21 00:09] #455 closed, assigned to nobody

[2021-05-21 05:23] nadezhday commented on #456
Verified.
![image](https://user-images.githubusercontent.com/59951991/119086191-cb1dc880-ba0d-11eb-8520-e4f31743c94d.png)

Problems found (this is design related problems, defects will not be created):
1) buttons move down is available if you select the last item and there is not place to move it down. Minor issue.
![image](https://user-images.githubusercontent.com/59951991/119085826-1edbe200-ba0d

[2021-05-21 05:28] nadezhday commented on #456
For testers: should be covered in selenium tests

[2021-05-21 06:37] nadezhday commented on #455
Tested with 'тань'
Works fine.
![image](https://user-images.githubusercontent.com/59951991/119093294-37052e80-ba18-11eb-9166-19a39d291428.png)

[2021-07-16 03:36] myrix opened #457 "Confirmation for deletion of sound, markup and parser results"
Subset of #416, maybe subset of #409?

When user initiates deletion of sound / markup files and parser results, there should be a confirmation dialog asking the user if the item in question should really be deleted.

[2021-07-16 03:57] myrix commented on #457
Implemented.

Testing:

Log in as admin, open e.g. /dictionary/334/3/perspective/334/4/edit dictionary in editing mode, click delete button of a sound file:
![image](https://user-images.githubusercontent.com/2802467/125889191-9e92eccd-6dc7-4235-934d-62d18c4d378a.png)
Confirmation dialog appears:
![image](https://user-images.githubusercontent.com/2802467/125889207-ef00dbf7-e17d-4e6d-8d24-a3ac4de69b

[2021-07-16 03:57] #457 closed, assigned to nobody

[2021-07-16 06:02] myrix opened #458 "Parser results: update, delete permissions"
Only administrator and users with 'Can edit perspective' permission should be able to update work on parser results.

Only administrator and users with 'Can delete lexical entries and entities' permission should be able to delete parser results.

[2021-07-16 07:21] myrix commented on #458
Implemented.

Testing:

Open dictionary /dictionary/3648/5/perspective/3648/8/edit logged in as administrator, changes are saved ok:
![image](https://user-images.githubusercontent.com/2802467/125907491-db2805b7-1ea8-45f3-b08a-1ed3ab8a02de.png)
![image](https://user-images.githubusercontent.com/2802467/125907504-9ddf2cea-1c57-4f3f-b3a7-3507a294991a.png)
![image](https://user-images.githubuserconten

[2021-07-16 07:21] #458 closed, assigned to nobody

[2021-07-19 04:30] nadezhday commented on #457
http://83.149.198.62/version_route
Backend:2.1.1+1372-b3bff583-2021.07.16-07:21+modified-2021.07.18-21:46
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.5
uniparser-meadow-mari:1.1.5
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:e96abfeb-445-staging-server

Problem: Delete confirmation dialog does not appear.
@myrix,  do we have all changes in http://83.149.198.62/ ?

[2021-07-19 04:41] myrix commented on #457
It seems the frontend is not up-to-date, and the problem is absense of automatic frontend builds after Travis CI at travis-ci.org no longer works.

@al-indigo Maybe it's possible to do something about it?

[2021-08-13 10:06] myrix opened #459 "Phonology: 'Fast Track' formant computation"
User should be able to select computation of formant data according to https://github.com/santiagobarreda/FastTrack algorithm.

[2021-08-13 10:40] myrix commented on #459
Implemented.

User can select 'Fast Track' formant computation in phonology dialog:
![image](https://user-images.githubusercontent.com/2802467/129345161-241c018a-c203-42a5-b699-277dc22b86d2.png)

NOTE: Can take a really long time.

[2021-08-13 10:40] #459 closed, assigned to nobody

[2021-08-26 10:28] myrix opened #460 "Perspective properties: fields do not unlink"
Open http://lingvodoc.ispras.ru/dictionary/4003/17/perspective/4003/21/edit, Lexical Entries dropdown menu, 'Lexical Entries' properties..., try to unlink 'Sound' field from the 'Word' field by clearing checkbox:
![image](https://user-images.githubusercontent.com/2802467/130947174-08c464c4-eb9d-428b-8218-c65c043b565b.png)

Close the dialog, open it again, the field is still linked.

[2021-08-26 10:48] myrix commented on #460
Fixed, now fields unlink properly.

[2021-08-26 10:48] #460 closed, assigned to nobody

[2021-09-09 11:00] nadezhday commented on #457
Works fine. Verified.

[2021-09-09 11:27] nadezhday commented on #458
Verified. Everything works fine. Instead of 'test' user 'julia' was used.

[2021-09-09 11:40] nadezhday commented on #460
Verified.

[2021-09-09 11:45] nadezhday commented on #459
Login as admin.
Open /dictionary/4003/17/perspective/4003/21/edit
![image](https://user-images.githubusercontent.com/59951991/132679755-46fb9a8d-f8d7-42b2-b390-bd84a9da740a.png)
Tools->Phonology
checkbox Fast track formant extraction - ON
Create
Result: OK

Verified.

[2021-09-09 11:51] nadezhday commented on #432
Closing without verification/

[2021-09-17 14:20] SegFaulti4 opened #461 ""Collapse" fields with same type and semantics"
There are a lot of fields in lingvodoc that are pretty much the same (for example six "Звук" fields), the issue is to replace them with older (or more suitable) instances with the same type.

Execution of same_field_types.py script is added to docker-compose.yml configuration file.
The script itself has only one argument, configuration file uri for ld container (/api/docker/docker.ini).
To execute

[2021-09-18 00:23] Winking-maniac opened #462 "Adding cache-through system"
Remaking cache for only Redis. Also adding some new caching features based on Redis specifity, such as bulk set/get, implementing simple intarface for saving/loading database objects and replacing database queries with cache queries in order to perfomance

[2021-09-21 04:20] myrix opened #463 "'Cognate ...' tools accessible to users with perspective editing permissions"
Rel. #445 'Cognate ...' tools accessible to perspective authors.

Now we need to allow access to 'Cognate...' tools to all users with editing permissions for the perspective.

[2021-09-21 05:28] myrix commented on #463
Implemented.

Testing:

Open /dictionary/714/5/perspective/714/6/view logged in as 'test', no 'Cognate...' tools in the menu:
![image](https://user-images.githubusercontent.com/2802467/134114155-f7339a73-613f-409c-9279-ab3d5356fd45.png)

Now log in as admin, go to the same dictionary, open perspective roles dialog ('Lexical Entries' dropdown menu, ''Lexical Entries' roles...' menu entry), add 'tes

[2021-09-21 05:28] #463 closed, assigned to nobody

[2021-09-21 06:19] nadezhday commented on #463
Verified. Works as expected.

[2021-10-01 19:40] SegFaulti4 commented on #461
The enhancement is yet to be tested.

[2021-10-04 06:20] nadezhday opened #464 "Cognate Suggestions: Connect ->GraphQL error: No such entry in the system"
Test failed tests\test_cognate_suggestions.py

Steps to reproduce:

Login as admin
open http://83.149.198.62/dictionary/657/3/perspective/657/4/view
Tools->Cognate Suggestions
Compute
Uncheck option  'один (первый) вариант 1ʼ (Dictionary of Yukonda dialect of Mansi - Lexical Entries)'
Click Connect

Problem:
![image](https://user-images.githubusercontent.com/59951991/135802356-50b6150d-affc-466d-9

[2021-10-04 06:21] nadezhday commented on #464
Version
Backend:2.1.1+1400-b36002a3-2021.10.01-18:35+modified-2021.10.04-04:45
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.6
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:da5e9c5f-448-staging-server

[2021-10-04 07:16] nadezhday opened #465 "Organization: Accept Request -> Exception"
Test tests\test_organizations.py  - Failed

Steps to reproduce:
login as admin

http://83.149.198.62/dashboard/dictionaries
search for: Dictionaryof Sary-Yughur language (Draft)
From drop down menu select  Organizations... command
![image](https://user-images.githubusercontent.com/59951991/135808720-c6f43bcf-c72d-4903-bddd-446f54671671.png)

Click Request Link
![image](https://user-images.githubus

[2021-10-06 05:16] nadezhday opened #467 "Remove Tomsk State University from copyright"
Remove Tomsk State University from copyright message
![image](https://user-images.githubusercontent.com/59951991/136144486-6e29a190-3ecd-4ebe-88fe-d045f3073606.png)

[2021-10-06 05:34] nadezhday opened #468 "Mobile version: some elements are not available"
Mobile version
Open Lingvodoc on mobile

![image](https://user-images.githubusercontent.com/59951991/136145524-c25326fa-d7d4-48b4-91f5-8fce070a2bbe.png)
1) Lingvodoc 3.0 is not present in the top menu
2) open Dictionaries-> any view (e.g starling_source)
Problem: Tabs (View contributions ...) cannot be reached

[2021-10-06 05:44] nadezhday opened #469 "Scroll to the top by default if a new menu is selected"
Login as admin
Admin->Organization
scroll down the page
![image](https://user-images.githubusercontent.com/59951991/136146600-24709018-4d2a-47c3-ac30-16b64b376edb.png)
Select Admin -> my Files
Select Admin ->Organizations
Expected: We should be on the top
Actual: We are on the bottom of the page

[2021-10-06 05:54] nadezhday opened #470 "Update authors page"
http://lingvodoc.ispras.ru/authors_route
Delete Rezanova
![image](https://user-images.githubusercontent.com/59951991/136147790-7ed47250-8467-435f-83de-b3365a3ec105.png)

[2021-10-06 05:58] nadezhday opened #471 "Scrollbar is hidden under the top menu"
Open http://83.149.198.62/dashboard/dictionaries_all (the same problem with other pages)
Start scrolling.
Problem: Scrollbar is not visible. It appears afterwards.
![image](https://user-images.githubusercontent.com/59951991/136148115-7449e4db-318f-40c4-8d9b-f7fd1af44933.png)
![image](https://user-images.githubusercontent.com/59951991/136148260-fa30fb92-ff7f-4d87-923f-d3c4b5118457.png)

[2021-10-06 06:04] nadezhday commented on #470
Should we remove
ООО Элекард-Мед
Рожков Артём Владимирович
фронтенд
Наумова Александра Владимировна
фронтенд
And add new names on this page?
![image](https://user-images.githubusercontent.com/59951991/136149074-aabbfe06-37ea-4ac8-8dbc-f776b7f78f17.png)

[2021-10-06 06:13] nadezhday opened #472 "Menu Localization"
Probably this is a duplicate.
This issue is found by users.
![image](https://user-images.githubusercontent.com/59951991/136149734-e09b6bc6-dda7-4a2c-94f8-d241eff76a2e.png)

![image](https://user-images.githubusercontent.com/59951991/136149802-8a67f67b-9aa5-4446-b752-d787e0f928ca.png)

![image](https://user-images.githubusercontent.com/59951991/136149855-5b1f0978-56aa-4bf7-9776-4b77b82e7176.png)

!

[2021-10-06 06:43] nadezhday opened #473 "Update edit_translation page"
http://83.149.198.62/edit_translations

![image](https://user-images.githubusercontent.com/59951991/136153126-547929b7-e876-4b6a-87c3-e3613617a6dc.png)

[2021-10-06 12:11] nadezhday commented on #472
Test tests\test_language.py failed. This is a regression/

[2021-10-07 07:12] nadezhday opened #474 "Add connection -> GraphQL error: Bad string"
Test failed tests\test_view_lexical.py : test_cognates_add_connection_default_search_01
Test covers functionality from https://github.com/ispras/lingvodoc-react/issues/248
During test execution we can see the error reported. I cannot reproduce it manually.
Steps:
Login as Julia
Open lexical view for Dictionary of the Written Record “God’s Law: Picture Book for Young Children. In the Votyak Languag

[2021-10-07 09:59] nadezhday commented on #474
Closing as Works As Designed.
Test should be updated.

[2021-10-07 10:00] #474 closed, assigned to nobody

[2021-10-08 06:37] nadezhday opened #476 "Remove Duplicated login dialog"
Test failed
Reason:
Look at the screenshot.We have duplicated dialog:
![image](https://user-images.githubusercontent.com/59951991/136509204-0a87af64-a5b4-451d-ae1f-5dc82be0039e.png)

[2021-10-08 10:22] nataliauvarova commented on #467
Fixed

[2021-10-08 10:22] #467 closed, assigned to nataliauvarova

[2021-10-08 10:27] nataliauvarova commented on #473
Fixed

[2021-10-08 10:27] #473 closed, assigned to nataliauvarova

[2021-10-08 10:31] nataliauvarova commented on #471
Fixed

[2021-10-08 10:31] #471 closed, assigned to nataliauvarova

[2021-10-08 13:32] nataliauvarova commented on #470
@al-indigo

[2021-10-08 16:04] nataliauvarova commented on #476
Fixed

[2021-10-08 16:04] #476 closed, assigned to nataliauvarova

[2021-10-08 19:38] al-indigo commented on #472
fixed everything except search (search options won't be fixed in near future)

[2021-10-11 05:15] nadezhday commented on #467
Verified

[2021-10-11 05:17] nadezhday commented on #471
Verified

[2021-10-11 05:27] nadezhday commented on #476
@ianlethic  FYI
I still can see duplicated dialog.
@nataliauvarova could you please check that your changes are in the build?
The first dialog is for mobile, The second is for computer. Please clearify How this issue was fixed?

[2021-10-11 05:35] nadezhday commented on #473
Looks fine. Verified.

[2021-10-11 08:24] nataliauvarova commented on #476
https://github.com/ispras/lingvodoc-react/pull/477/files

[2021-10-11 09:04] nadezhday commented on #470
Comment from Oleg:
1) we should leave Элекард-Мед members.
2) We should add more people on this page (designer, etc)
@al-indigo we need information from you.

[2021-10-12 07:27] nadezhday opened #478 "Organization users(admins): Exception Uncaught TypeError: d is undefined"
Login as admin
![изображение](https://user-images.githubusercontent.com/59951991/136908035-b158eecd-c811-44b5-8a94-16d08ffeb1a6.png)
Administrator menu-> Request
Organization users

Problem: Empty screen. Exception

TypeError: d is undefined
    q Requests.js:77
    React 6
    unstable_runWithPriority scheduler.production.min.js:19
    React 5
    d raven.js:393
raven.js:55:31

Uncaught TypeError

[2021-10-12 11:13] nadezhday opened #479 "Non-localized sub menus"
Login as admin
Non-localized sub menus
1) Organizations
![image](https://user-images.githubusercontent.com/59951991/136945363-b1c6ddec-8faf-4cc3-8abc-aa2f7ad85c25.png)

[2021-10-12 11:16] nadezhday opened #480 "Non-localized table header strings for Organizatons"
Login as Admin
Open Organizations
Problem: Header table is not translated into Russian
![image](https://user-images.githubusercontent.com/59951991/136945958-5faab11a-5c74-4de6-9c94-f1e1df1edc92.png)

[2021-10-12 11:17] nadezhday commented on #472
This particular case can be verified.

Separate defects will be created for non-localized strings in Lingvodoc.

https://github.com/ispras/lingvodoc-react/issues/479 Non-localized sub menus
https://github.com/ispras/lingvodoc-react/issues/480 Non-localized table header strings for Organizations
https://github.com/ispras/lingvodoc-react/issues/481 Localization problem with "By Organizations" string

[2021-10-12 11:33] nadezhday opened #481 "Localization problem with "By Organizations" string on 83.149.198.62"
We still have localization problem with "By Organizations" string on http://83.149.198.62/dashboard/dictionaries_all
Do we need to update DB?
![image](https://user-images.githubusercontent.com/59951991/136948414-b1e6e490-bbba-474a-a428-481f2a2c43d6.png)

[2021-10-12 11:41] nadezhday opened #482 "Localize "The work is supported by the following grants""
Open http://83.149.198.62/dashboard/dictionaries_all
Problem: "The work is supported by the following grants" is not translated into Russian

[2021-10-12 11:42] nadezhday commented on #482
Can we also translate in this case "Project funded by grants"?
http://83.149.198.62/grantsRoute
Project funded by grants

[2021-10-12 11:46] nadezhday opened #483 "Add one more grand in the list /dashboard/dictionaries_all"
Open http://83.149.198.62/grantsRoute
Result: there are 9 grands in the list.
![image](https://user-images.githubusercontent.com/59951991/136950101-d060c680-5501-47d2-af11-01e53ef48ed9.png)

Open http://83.149.198.62/dashboard/dictionaries_all
Problem: there are 8 grands in the list.
![image](https://user-images.githubusercontent.com/59951991/136950174-d5a3bdab-9786-470b-bab1-1c00a5e554ae.png)

[2021-10-12 12:03] nadezhday opened #484 "Localization in create/import dictionary pages"
Localization problem:
http://83.149.198.62/dashboard/create_dictionary
Dictionary names and metadata Set dictionary name, translations and metadata
![image](https://user-images.githubusercontent.com/59951991/136951952-0a439de6-1021-4538-b546-4a38d52dff23.png)

http://83.149.198.62/dashboard/create_corpus
Corpus names and metadata Set corpus name, translations and metadata
![image](https://user-ima

[2021-10-12 12:40] nadezhday commented on #476
Only one dialog exists. OK
![image](https://user-images.githubusercontent.com/59951991/136957331-9a7effb6-dd9d-4b56-aff5-ec3e21c96822.png)
Verified

[2021-10-12 12:43] nadezhday commented on #472
I would close this issue @al-indigo. As soon as this issue is Closed I will add the Verified label.

[2021-10-12 15:18] nataliauvarova opened #485 "New design for Tasks bar"

[2021-10-12 18:24] nataliauvarova commented on #478
Fixed

[2021-10-12 18:24] #478 closed, assigned to nataliauvarova

[2021-10-12 18:25] nataliauvarova commented on #485
Fixed

[2021-10-12 18:25] #485 closed, assigned to nataliauvarova

[2021-10-13 05:06] nadezhday opened #487 "Chrome: some columns are not visible in the Grant table"
Chrome specific issue.
This problem was detected by automatic test
screenshot from the test execution shows the following:
![image](https://user-images.githubusercontent.com/59951991/137070315-efa8ffed-127b-4bda-a71d-0c8ab18743d8.png)
Also can be reproduced manually.
Open http://83.149.198.62/grants
![image](https://user-images.githubusercontent.com/59951991/137070603-6fbdbd62-03b0-490e-b616-21757

[2021-10-13 06:08] nadezhday commented on #478
Verified.
Version
Backend:2.1.1+1408-f037bf0e-2021.10.06-12:39+modified-2021.10.13-05:35
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.7
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:473f7b9c-459-staging-server

[2021-10-13 06:18] nadezhday opened #488 "Make the top menu narrower"
![image](https://user-images.githubusercontent.com/59951991/137077322-6e5361e3-7ad5-461c-967c-461280db5034.png)

Customer asks to make the top menu a little bit narrower.
Can we do this?

[2021-10-13 06:28] nadezhday commented on #485
Verified.

[2021-10-13 07:58] Dina936 commented on #488
Heder reduced

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=728%3A4842

[2021-10-13 07:58] nadezhday commented on #478
Covered in selenium tests tests\test_organization_users.py
tests\test_organization_admins.py

[2021-10-13 08:12] nadezhday commented on #485
Selenium test were updated

[2021-10-13 08:53] nadezhday opened #489 "Request->Organization admins(users): Organization data is not available"
http://83.149.198.62/requests
![image](https://user-images.githubusercontent.com/59951991/137099926-f98fd5cd-e523-4ef4-a2de-a72faff62484.png)

Problem: There is no data in the Subject column.
Organization was deleted. What should we do with such requests?
@myrix FYI

[2021-10-13 10:53] Dina936 opened #490 "Add illustration"
Add illustration for Distance map

<img width="353" alt="Снимок экрана 2021-10-13 в 13 49 02" src="https://user-images.githubusercontent.com/56397844/137119501-d2f9d35c-d187-4dad-bd89-8ee3efd46bd7.png">

[2021-10-13 11:28] nadezhday commented on #451
Covered in selenium test tests\test_phonology.py

[2021-10-13 12:20] nadezhday commented on #226
It was implemented in a new design. W can close this issue.
![image](https://user-images.githubusercontent.com/59951991/137131042-1e52fe4a-113d-4fd6-adbf-0e44fa80d449.png)

Leave the following as it is:
![image](https://user-images.githubusercontent.com/59951991/137131108-3b1e3901-a9ee-4627-ab0a-68b4efd3fe03.png)

[2021-10-13 12:27] nadezhday commented on #137
I cannot reproduce it any more. Closing.
Covered in selenium tests.

[2021-10-13 12:27] #137 closed

[2021-10-13 12:30] nadezhday commented on #156
This issue was fixed by @Dina936 and @nataliauvarova.
Closing.

[2021-10-13 12:30] #156 closed

[2021-10-13 12:50] nadezhday commented on #366
I have not seen this problem resently. Closing as fixed indirectly.

[2021-10-13 12:50] #366 closed, assigned to nobody

[2021-10-13 12:53] nadezhday commented on #341
This issue can be closed. @Dina936 and @nataliauvarova are working with a new design implementation.

[2021-10-13 12:53] #341 closed, assigned to 7kingdom

[2021-10-13 12:54] nadezhday commented on #320
Closing.

[2021-10-13 12:54] #320 closed, assigned to nobody

[2021-10-13 12:56] nadezhday commented on #299
Closing

[2021-10-13 12:57] nadezhday commented on #377
The problem is not reproduced anymore. Closing.

[2021-10-13 12:57] #377 closed, assigned to nobody

[2021-10-13 15:02] Winking-maniac commented on #465
Fixed and need verification on custom repository https://github.com/Winking-maniac/lingvodoc/tree/caching

[2021-10-13 15:03] Winking-maniac commented on #464
Fixed and need verification on custom repository https://github.com/Winking-maniac/lingvodoc/tree/caching

[2021-10-13 15:03] #464 closed, assigned to nadezhday, Winking-maniac

[2021-10-13 15:25] nataliauvarova commented on #490
Fixed

[2021-10-13 15:25] #490 closed, assigned to nataliauvarova

[2021-10-13 15:25] nataliauvarova commented on #487
Fixed

[2021-10-13 15:25] #487 closed, assigned to nataliauvarova

[2021-10-13 15:26] nataliauvarova commented on #468
Fixed

[2021-10-13 15:26] #468 closed, assigned to nataliauvarova

[2021-10-14 07:47] nadezhday commented on #490
verified.
![image](https://user-images.githubusercontent.com/59951991/137274075-cec3eca7-c72d-49a3-8281-34aeae574983.png)

[2021-10-14 07:52] nadezhday commented on #487
Looks fine.
Verified.

[2021-10-14 07:57] nadezhday commented on #468
We can close with issue. There are other places that can be fixed. But we will create separate defects for found issues.

[2021-10-14 13:05] nadezhday commented on #460
Covered in tests\test_perspective_properties.py

[2021-10-14 17:13] nataliauvarova commented on #488
Fixed

[2021-10-14 17:13] #488 closed, assigned to Dina936, nataliauvarova

[2021-10-15 05:45] nadezhday commented on #488
Looks fine.

[2021-10-18 14:29] nataliauvarova opened #495 "Mobile version: some elements are not available (Part 2)"
Pages:
http://lingvodoc.ru/map_search
http://lingvodoc.ru/authors_route
![Снимок экрана 2021-10-18 в 17 26 15](https://user-images.githubusercontent.com/90451645/137751533-1b1a2932-6963-4dd3-b387-52c046a8430b.png)

![Снимок экрана 2021-10-18 в 17 26 40](https://user-images.githubusercontent.com/90451645/137751550-1c2ba164-2588-4561-beaf-882b47fd5681.png)

[2021-10-18 14:44] jandrew44 commented on #484
I have added missing strings on the frontend.
Now translations gists should be added/updated.

[2021-10-18 15:17] jandrew44 commented on #482
1) "The work is supported by the following grants" - added on the frontend
Gist/translation should be added now.

2) "Project funded by grants" - no changes are required on the frontend
Gist/translation should be created/updated.

[2021-10-18 17:11] jandrew44 commented on #479
Fixed.

[2021-10-18 17:11] #479 closed, assigned to nobody

[2021-10-18 17:13] jandrew44 commented on #472
Closing.

[2021-10-18 17:13] #472 closed, assigned to nadezhday

[2021-10-18 18:51] nataliauvarova commented on #495
Fixed

[2021-10-18 18:51] #495 closed, assigned to nataliauvarova

[2021-10-19 08:02] nadezhday commented on #495
Tested in Chrome with Window resizer plugin.
Both pages look fine. OK

[2021-10-19 08:09] nadezhday commented on #479
Organization sub menu is localized - OK

[2021-10-19 08:13] nadezhday opened #496 "User account activation/deactivation submenu needs localization"
The problem found during https://github.com/ispras/lingvodoc-react/issues/479 verification
User account activation/deactivation submenu needs localization.
![image](https://user-images.githubusercontent.com/59951991/137869967-e8742650-a939-4130-ae1f-161d2382a4e3.png)

[2021-10-19 08:15] nadezhday commented on #479
A separate defect will be created for User account activation/deactivation submenu.
![image](https://user-images.githubusercontent.com/59951991/137869640-57020b0f-700d-4986-bf85-331b70cc99ac.png)
https://github.com/ispras/lingvodoc-react/issues/496  User account activation/deactivation submenu needs localization

[2021-10-19 10:30] Dina936 opened #497 "Version"
Change font and alignment in version
<img width="646" alt="Снимок экрана 2021-10-19 в 13 28 43" src="https://user-images.githubusercontent.com/56397844/137892459-a0bcaede-1484-45a9-bfe4-7e2276197201.png">
<img width="574" alt="Снимок экрана 2021-10-19 в 13 28 35" src="https://user-images.githubusercontent.com/56397844/137892462-f87a3e17-c8a1-4fcd-8e87-7a0fac6bcffa.png">
.

[2021-10-19 10:40] Dina936 opened #498 "Replace the word "filter" with "search""
<img width="587" alt="Frame 1" src="https://user-images.githubusercontent.com/56397844/137893798-060dbd7b-03dd-4e61-bee9-cf18dc84be3a.png">

[2021-10-19 11:18] nadezhday commented on #465
Follow the steps from discription
![image](https://user-images.githubusercontent.com/59951991/137899050-fd55b477-065f-4524-91f8-f165676d9fb9.png)

Exception:
 GraphQL error: get() got an unexpected keyword argument 'objects'
@Winking-maniac, can you reproduce this problem in your env?

BTW: We have 21 failed selenium tests.

Version
Backend:2.1.1+1409-d34842f8-2021.10.13-14:46+modified-2021.10.19-

[2021-10-19 12:34] jandrew44 commented on #496
Translation gist should be created or updated.

[2021-10-19 13:24] Dina936 opened #499 "Change the style of buttons"
1) Change the style of buttons: Cancel and Save
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=310%3A818
<img width="514" alt="Снимок экрана 2021-10-19 в 16 21 30" src="https://user-images.githubusercontent.com/56397844/137918380-e601d9d6-c497-4205-ba0f-1901a6f3bb23.png">

2) Remove dashes in a button
<img width="178" alt="Снимок экрана 2021-10-19 в 13 50 48" src="https://user

[2021-10-19 15:28] jandrew44 commented on #480
Frontend changes has been completed.
Gists should be created/updated.

[2021-10-19 15:54] jandrew44 commented on #351
Fixed.

[2021-10-19 15:54] #351 closed, assigned to nobody

[2021-10-19 15:59] jandrew44 commented on #350
Could not reproduce.

[2021-10-19 16:59] jandrew44 commented on #305
Fixed.

[2021-10-19 16:59] #305 closed, assigned to nobody

[2021-10-19 18:52] jandrew44 commented on #277
Reduced dialog size so it looks not so ugly now.

[2021-10-20 11:50] jandrew44 commented on #483
Could not reproduce.
I have 8 grants in both lists.

[2021-10-20 12:26] jandrew44 commented on #392
Well, in this case you have 4 markers actually(because of 4 search results).
The problem is two of them are placed on each other, that's why it makes illusion of failure.

[2021-10-20 14:32] Winking-maniac commented on #465
Fixed and need verification on custom repository https://github.com/Winking-maniac/lingvodoc/tree/caching

[2021-10-20 14:32] #465 closed, assigned to Winking-maniac

[2021-10-20 14:38] nataliauvarova commented on #498
Fixed

[2021-10-20 14:38] #498 closed, assigned to nataliauvarova

[2021-10-20 14:38] nataliauvarova commented on #497
Fixed

[2021-10-20 14:38] #497 closed, assigned to nataliauvarova

[2021-10-20 14:41] nataliauvarova opened #501 "New design for Tasks bar"
![Снимок экрана 2021-10-20 в 17 40 29](https://user-images.githubusercontent.com/90451645/138115290-373d69fc-919a-4627-a0a5-00c6b03c9ae6.png

![Снимок экрана 2021-10-20 в 17 41 28](https://user-images.githubusercontent.com/90451645/138115299-83bacb02-c049-4e5e-8b2d-2f08c8a3a649.png)
)

[2021-10-20 14:43] nataliauvarova commented on #501
Fixed

[2021-10-21 08:45] nadezhday commented on #501
Backend:2.1.1+1408-f037bf0e-2021.10.06-12:39+modified-2021.10.21-07:08
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.7
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:49370ee8-475-staging-server

We are missing Close button.
![image](https://user-images.githubusercontent.com/59951991/138243284-24b2a4e6-f07d-4e42-a3e7-de2d6de06b0e.png)

[2021-10-21 09:27] nataliauvarova commented on #501
The Сlose button should not be on large screens:
https://user-images.githubusercontent.com/90451645/138115290-373d69fc-919a-4627-a0a5-00c6b03c9ae6.png

[2021-10-21 09:27] #501 closed, assigned to nataliauvarova

[2021-10-21 09:39] nadezhday opened #502 "Editing transcription and its publishing functionality is not obvious"
Users have a problem to understand the logic of editing transcription.
Here is the user's comment:
Правка транскрипций, с другой стороны, вроде, удалась, но при нажатии на кнопку «опубликовать» галочки появились только у не редактированных входов, и у отредактированных пришлось проставлять вручную (или этого можно было не делать?). Количество изменений машина определила сильно меньше, чем было, но

[2021-10-21 12:52] nadezhday commented on #498
Verified.
Tests were updated.

[2021-10-22 05:58] nadezhday opened #503 "Corpus Conversion failed: 'NoneType' object has no attribute 'get'"
Backend:2.1.1+1411-4b4107d1-2021.10.21-11:24+modified-2021.10.22-05:25
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.7
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:49370ee8-475-staging-server

Specific_backend https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_specific_backend/50/

Selenium test failed tests\test_view_lexical_view_published.py (it cover

[2021-10-22 06:40] nadezhday opened #504 "Undo dictionary does not work"
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_specific_backend/50/

Selenium test tests\test_dictionaries.py - FAILed

Steps to reproduce can be found here:  https://github.com/ispras/lingvodoc-react/issues/240

The problem: after using curl command for undoing dictionary deletion and refreshing web page dictionary does not appear.

[2021-10-22 06:46] nadezhday commented on #464
The problem is fixed.
![image](https://user-images.githubusercontent.com/59951991/138406076-8cbb0c00-2aec-4ba7-bf2d-aff53a7102c3.png)

Test - PASSed

[2021-10-22 06:49] nadezhday commented on #465
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_specific_backend/50/
Test tests\test_organizations.py - PASSed

[2021-10-22 07:01] nadezhday commented on #501
Verified
![image](https://user-images.githubusercontent.com/59951991/138408259-3c6f674e-9c73-4a83-8336-6c72ea5b4400.png)

[2021-10-22 07:06] nadezhday commented on #277
Looks much better.
![image](https://user-images.githubusercontent.com/59951991/138408869-5e8d4ff1-7d15-4f2b-9c71-b898e880f662.png)

[2021-10-22 07:33] nadezhday commented on #305
Verified.

[2021-10-22 07:41] nadezhday commented on #287
Version
Backend:2.1.1+1411-4b4107d1-2021.10.21-11:24+modified-2021.10.22-05:25
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.7
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:49370ee8-475-staging-server

The problem is reproduced when switching languages
![image](https://user-images.githubusercontent.com/59951991/138413468-6370d579-47b7-4fd6-988b-8a51f7662e09.p

[2021-10-22 07:50] nadezhday commented on #351
Create Corpus dialog - OK
Verified.

[2021-10-25 04:43] nadezhday commented on #392
Closing.

[2021-10-25 04:58] nadezhday commented on #483
Expected: We should have 9 grants.  The 9th grand was added not long ago.
Actual: 8 grants on http://83.149.198.62/dashboard/dictionaries_all  - NOK
(RFBR 14-06-00271) Development of a virtual computational laboratory for management and processing data for endangered languages 2014-2016  is missing

On this page http://83.149.198.62/grantsRoute the grand was added: OK  (9 grands)

[2021-10-25 06:13] nadezhday commented on #350
"Nothing here, sorry"  can be seen during a few seconds.

Just before the table is loaded on the page.
![image](https://user-images.githubusercontent.com/59951991/138643382-b6af4ed2-fc94-44b7-ae2c-3742c848461a.png)

[2021-10-25 06:15] nadezhday commented on #350
Video
[nothing.zip](https://github.com/ispras/lingvodoc-react/files/7407604/nothing.zip)

[2021-10-25 16:41] nataliauvarova commented on #499
Fixed. Changed the styles of buttons: Cancel, Close and Save

[2021-10-25 16:41] #499 closed, assigned to nataliauvarova

[2021-10-25 16:41] ankan2013 opened #506 "Kazakh and Tatar parsers added"
Parsers for Kazakh and Tatar languages developed by Apertium team were added to the Lingvodoc back-end. The pull-request is https://github.com/ispras/lingvodoc/pull/1322.
Steps for testing are below:
1. Go to http://83.149.198.62/ and authorize as Administrator
2. Open http://83.149.198.62/dictionary/4113/4/perspective/4113/11/edit
3. Create a new lexical entry and add two files available by the l

[2021-10-25 16:43] ankan2013 opened #507 "Parser markup keyboard navigation added"
Some improvements to the Lingvodoc front-end were provided with the pull-request https://github.com/ispras/lingvodoc-react/pull/527. The idea is to provide a user with the ability to make some trivial actions to speed up the process of a markup.
The features are below with the steps of reproducing. A short guide about parsers' launching and files uploading was provided in https://github.com/ispras

[2021-10-26 04:47] nadezhday opened #508 "Save buttons have different size."
The problem found during verification https://github.com/ispras/lingvodoc-react/issues/499

Open http://83.149.198.62/dashboard/dictionaries

Can we do anything with Save buttons? They have different size. And it looks very ugly.

![image](https://user-images.githubusercontent.com/59951991/138810022-d0f77307-e09e-4f2e-8fbf-96a6a152b7f1.png)

[2021-10-26 05:13] nadezhday opened #509 "Change the buttons style - PART 2"
The problem found during verification #499

Probably we should change the buttons style in all dialogs. What about style for Create? Compute buttons?
For example:
1)
![image](https://user-images.githubusercontent.com/59951991/138810865-4b892c81-6326-4888-a7a2-fed2e96ec144.png)
2)
![image](https://user-images.githubusercontent.com/59951991/138811026-24aed773-07ef-415c-b44a-104a61fe6423.png)

Steps

[2021-10-26 05:20] nadezhday opened #510 "Improvements to version dialog (closing dialog)"
Open Version dialog.

Problem: There is no possibility to close it.
It should have atleast [x].
Should it have Close button?

After pressing Close button or [x] we should find ourselves on this page
![image](https://user-images.githubusercontent.com/59951991/138813643-39b1344e-f85e-4c2e-9259-87b588791cc9.png)

[2021-10-26 05:30] nadezhday commented on #509
What about changing style for all other buttons?
Add, Update etc

![image](https://user-images.githubusercontent.com/59951991/138814605-37a87df9-7a57-4644-b256-deeef7adf307.png)

[2021-10-26 05:36] Dina936 commented on #510
@nadezhday The version does not open in a modal window. Therefore, there is no close button. We go back in the same way as on all pages.

@nataliauvarova Can I make a "close" or "go back" button?

[2021-10-26 05:38] nadezhday commented on #499
Separate cases were created for further improvements.

This case can be closed.

[2021-10-26 05:48] nadezhday commented on #507
This case still has status 'Open'.
@ankan2013 Is this task completed? Can we start verification? If so please close it and then we will start testing.

[2021-10-26 06:33] nadezhday commented on #509
More places where we should change button style (steps to reproduce can be taken from https://github.com/ispras/lingvodoc-react/issues/506 )
![image](https://user-images.githubusercontent.com/59951991/138821282-bf0b76bc-aa90-4dcf-ba56-a97f1b10acf3.png)

[2021-10-26 06:34] nadezhday commented on #509
![image](https://user-images.githubusercontent.com/59951991/138821463-6f0dfefb-e02c-43aa-b2d9-e158420176ac.png)

[2021-10-26 06:36] nadezhday commented on #509
![image](https://user-images.githubusercontent.com/59951991/138821719-2a01a5ba-c5b3-417e-b844-06ee4c505cfc.png)

[2021-10-26 06:41] nadezhday opened #511 "Dublicated [x] [x] buttons in Text markup dialog"
Step to reproduce can be taken from https://github.com/ispras/lingvodoc-react/issues/506
1)
![image](https://user-images.githubusercontent.com/59951991/138822079-8ab47989-65b4-4585-9424-ef0ecadf3862.png)

2) xpath to the second close icon:
(//i[@class='close icon'])[2]
![image](https://user-images.githubusercontent.com/59951991/138822357-eab29ab4-4cd2-462b-9c99-7833d89e3be8.png)

[2021-10-26 06:46] nadezhday commented on #506
Version
Backend:2.1.1+1408-f037bf0e-2021.10.06-12:39+modified-2021.10.26-01:00
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.7
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:e641a841-477-staging-server

1)
![image](https://user-images.githubusercontent.com/59951991/138822731-35aa0848-1f9d-493b-a08f-74257952990f.png)

2)
![image](https://user-images.githubuserc

[2021-10-26 07:50] nadezhday commented on #507
Testing:
1) Please watch video. It shows that -> and <- work strange.
[Right_Left_inMarkup.zip](https://github.com/ispras/lingvodoc-react/files/7416090/Right_Left_inMarkup.zip)

2) Clicking 1 or 2 is not obvious.

[Pressing_1_and_2.zip](https://github.com/ispras/lingvodoc-react/files/7416127/Pressing_1_and_2.zip)

3) Here is video when Enter does not work as expected (only one variant exists)

[En

[2021-10-26 08:09] nadezhday commented on #507
One more video:
[1and2.zip](https://github.com/ispras/lingvodoc-react/files/7416267/1and2.zip)
Very interesting that sometimes buttons Remove from markup not available.

[2021-10-26 09:31] #506 closed, assigned to nobody

[2021-10-26 09:38] nadezhday commented on #509
![image](https://user-images.githubusercontent.com/59951991/138852446-2b1a9763-bdd2-416c-817f-10ef5a8da8bd.png)

[2021-10-26 09:43] nadezhday opened #512 "Improvements in Text markup dialog"
The features are below with the steps of reproducing. A short guide about parsers' launching and files uploading was provided in #506.
Login as admin
Create a new perspective with markup.
Open it.
Import [kaz.odt](https://github.com/ispras/lingvodoc-react/files/7416864/kaz.odt)
select
![image](https://user-images.githubusercontent.com/59951991/138851886-73f80fa8-d634-493c-963f-d7b1be4cc6d7.png)

S

[2021-10-26 09:46] nadezhday commented on #506
Verified.

[2021-10-26 09:58] nadezhday commented on #507
Instead of creating separate defects we agreed to reopen this one and try to fix found problems.

[2021-10-26 10:14] nadezhday commented on #367
It looks like that we have fixed this problem. Should we close it?
![image](https://user-images.githubusercontent.com/59951991/138858416-b45c23f5-e45f-4c75-ad66-14580ac3fe7d.png)

[2021-10-26 10:20] nadezhday opened #513 "Make links on Lingvodoc creators page more visible"
http://83.149.198.62/authors_route

There are two links on this page.
Can we make these links more visible to our users? So people can see them immediately.
![image](https://user-images.githubusercontent.com/59951991/138859176-842dc121-c818-43e5-8686-4f6c8bc2637d.png)

[2021-10-26 10:21] nadezhday commented on #360
Can we close this defect? Or are we going to do anything else?

[2021-10-26 10:28] Dina936 commented on #367
@nadezhday yes, we close

[2021-10-26 10:37] nadezhday commented on #349
Can we do anything here? Or is it ok?
![image](https://user-images.githubusercontent.com/59951991/138861554-abdd942a-497c-48e6-bef6-9f70b24a4f55.png)

[2021-10-26 10:39] nadezhday commented on #349
![image](https://user-images.githubusercontent.com/59951991/138861818-2555b1c0-64a6-4023-b7c2-a43fc01c8769.png)

[2021-10-26 10:41] nadezhday commented on #348
Any idea what can we do to make our users happier?

[2021-10-26 10:43] nadezhday commented on #301
I guess that we can close this issue as fixed. What do you think?

[2021-10-26 10:46] nadezhday commented on #273
Fixed indirectly. There are no Cognate commands available in Tools menu for unauthorized users.
![image](https://user-images.githubusercontent.com/59951991/138862777-47d028c1-3654-48b5-93e3-fed95e8e8502.png)

[2021-10-26 10:55] nadezhday commented on #235
@Dina936 Probably you can help in this case. Can we make Add perspective button more invisible.
The problem is that Create button is located somewhere on the bottom and Users do not see it.
So instead of pressing Create users always are pressing Add perspective.

[2021-10-26 11:00] nadezhday commented on #174
@jandrew44 Can we add them?

[2021-10-26 11:07] nadezhday commented on #150
No Users:
![image](https://user-images.githubusercontent.com/59951991/138865513-e3722d59-30ab-4218-afb8-ec3bd8ad5c89.png)
Admin: can see the data in the table.
Closing as fixed.

[2021-10-26 11:13] nadezhday commented on #146
Closing.
![image](https://user-images.githubusercontent.com/59951991/138866800-60a5cf9b-ee27-4593-a19c-c7c6ce5ec150.png)

[2021-10-26 11:17] #367 closed, assigned to Dina936

[2021-10-26 11:20] nadezhday commented on #118
Message in not available. Closing.

[2021-10-26 11:23] nadezhday commented on #117
The problem is fixed.

[2021-10-26 11:31] nadezhday commented on #116
We have a separate defect for User account activation/deactivation localization.
https://github.com/ispras/lingvodoc-react/issues/496
The rest menus are translated.
Closing.

[2021-10-26 11:31] #116 closed, assigned to al-indigo

[2021-10-26 11:52] #392 closed, assigned to nobody

[2021-10-26 12:04] nadezhday opened #515 "New desing of Roles dialog"
http://83.149.198.62/dictionary/3987/4568/perspective/3987/4569/merge
![image](https://user-images.githubusercontent.com/59951991/138873666-51279eb2-793c-4ba9-a540-45f0be0c52cf.png)
Improve Roles dialog:
![image](https://user-images.githubusercontent.com/59951991/138873489-76b1bb7a-47b3-483f-af5c-59246fbe43b6.png)

[2021-10-26 12:06] nadezhday opened #516 "Improve Statistics dialog"
http://83.149.198.62/dictionary/3987/4568/perspective/3987/4569/merge

![image](https://user-images.githubusercontent.com/59951991/138873889-e896eb28-0946-40e8-9f5f-e313d6f1aa24.png)
Show statistics.
Improve Statistics dialog:

[2021-10-26 13:31] nataliauvarova commented on #511
Fixed

[2021-10-26 13:31] #511 closed, assigned to nataliauvarova

[2021-10-27 04:54] nadezhday commented on #511
Verified.

[2021-10-27 09:50] Dina936 opened #517 "Add button "Clear completed""
<img width="269" alt="Снимок экрана 2021-10-27 в 12 48 14" src="https://user-images.githubusercontent.com/56397844/139042602-52cc7939-0a7f-4e44-90ef-d2a7521bacf7.png">

[2021-10-27 14:43] Winking-maniac commented on #503
Fixed in remote repo https://github.com/Winking-maniac/lingvodoc/tree/caching. Needed verifiication

[2021-10-27 14:43] #503 closed, assigned to nadezhday, Winking-maniac

[2021-10-27 16:52] Winking-maniac commented on #504
Fixed in remote repo, need verification @nadezhday

[2021-10-27 16:52] #504 closed, assigned to Winking-maniac

[2021-10-28 04:42] nadezhday commented on #503
Verified in
Backend:2.1.1+1416-523dc13f-2021.10.27-15:54+modified-2021.10.28-04:17
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.7
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.6
Frontend:78cfd82f-479-staging-server

![image](https://user-images.githubusercontent.com/59951991/139188229-8241e6c1-78d4-427a-be70-632c7c09e22a.png)

[2021-10-28 05:25] nadezhday commented on #504
Selenium test tests\test_dictionaries.py - PASS
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_specific_backend/52/
Verified

[2021-10-28 11:27] #462 closed, assigned to nobody

[2021-10-29 04:50] nadezhday commented on #462
master (634):
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_frontend/test_results_analyzer/
specific backend (52): https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_specific_backend/test_results_analyzer/
[Tests_execution_time_634-52_Jenkins.xlsx](https://github.com/ispras/lingvodoc-react/files/7438933/Tests_execution_time_634-52_Jenkins.xlsx)

Verified.

[2021-10-29 11:46] nadezhday opened #518 "Impossible to work with Cognates functionality"
Customer reports the following problem:
Open http://lingvodoc.ispras.ru/dictionary/2639/4200/perspective/2639/4204/edit
Search for: два

Cognates

Problem: It takes too long.  Impossible to work with this functionality.

The same problem with
http://lingvodoc.ispras.ru/dictionary/1393/37604/perspective/1393/37605/edit
search for: два

[2021-10-29 18:29] myrix commented on #518
Now works better, should also be faster.

[2021-10-29 18:29] #518 closed, assigned to nobody

[2021-11-01 05:49] nadezhday commented on #518
Excellent. Works fine.

[2021-11-01 08:01] nadezhday commented on #518
Covered in selenium test tests\test_cognate_performance_01.py

[2021-11-01 09:59] myrix opened #519 "Search is slow, hangs up"
User report:

Open http://lingvodoc.ispras.ru/map_search, wait for additional filter data to load, search field "Word" for "два" as "Substring", search takes quite a lot of time, transfers a lot of data.

Looks like most of this data is actually not used, just as was with #518.

[2021-11-01 11:13] myrix commented on #519
Removed unnecessary data requests, search takes less time, transfers less data.

[2021-11-01 11:13] #519 closed, assigned to nobody

[2021-11-01 11:34] nadezhday commented on #459
@myrix could you please help.

Result: (4/4) Finished, no result produced
Should we get any generated files?
![image](https://user-images.githubusercontent.com/59951991/139664936-5bf61868-fae8-4fa2-ad03-de29382266f7.png)

[2021-11-01 11:39] nadezhday commented on #459
We will not cover this functionality is selenium test. DB has been changed.

[2021-11-02 08:41] nadezhday commented on #519
Search works rather fast now. Excellent.
![image](https://user-images.githubusercontent.com/59951991/139813366-7ef8848b-2f5c-4288-a4c5-d70aef21d924.png)

[2021-11-02 08:45] nadezhday commented on #519
![image](https://user-images.githubusercontent.com/59951991/139814158-dc7a34f3-e01e-49f6-b7ab-afb415812bff.png)
No problem with the following search request.

[2021-11-04 20:58] al-indigo opened #520 "Add support for M1 CPU based computers"
For now there is a bunch of libraries and one container that do not support M1/arm arch. Need to add such support since I'm working with lingvodoc on M1 mac :)

[2021-11-04 21:08] #520 closed, assigned to al-indigo

[2021-11-08 04:27] nadezhday commented on #519
JN:
The following scenario FAILed.
Do not set the first parameter.
![изображение](https://user-images.githubusercontent.com/59951991/140684127-78240318-e2c2-481d-b22f-ad9315f8e9f9.png)

@myrix we have a separate case for this scenario
https://github.com/ispras/lingvodoc-react/issues/521

[2021-11-08 04:40] nadezhday opened #521 "Optimization of search result loading"
The scenario is taken from https://github.com/ispras/lingvodoc-react/issues/519

Customer case:
Open http://lingvodoc.ispras.ru/map_search, wait for additional filter data to load,
search field for "два" as "Substring",
search field for "темн" as "Substring"
search field for "солн" as "Substring"
search field for "свет" as "Substring"
Do not set the first parameter.
![изображение](https://user-ima

[2021-11-08 04:42] myrix commented on #519
Works ok for me, would check with JN about her experience separately, in this new issue then.

![image](https://user-images.githubusercontent.com/2802467/140685373-3d94923d-fb21-4176-8d5a-0b5e25c332d8.png)

[2021-11-08 04:45] myrix commented on #521
Tested right now at http://lingvodoc.ispras.ru/map_search, works as intended, taking a bit of time is expected due to generality of the search query. Will be checking with the customer on their experience, if it is mostly optimization issue or not.
![image](https://user-images.githubusercontent.com/2802467/140685591-3e35e597-588c-4b6d-9d18-a267425ce8a5.png)

[2021-11-08 04:55] nadezhday opened #522 "Design of search results page"
Customer case:
Open http://lingvodoc.ispras.ru/map_search, wait for additional filter data to load,
search field for "два" as "Substring",
search field for "темн" as "Substring"
search field for "солн" as "Substring"
search field for "свет" as "Substring"
Do not set the first parameter.
![изображение](https://user-images.githubusercontent.com/59951991/140686072-0cdf1f05-e61f-4839-821e-c7f5e50bd9d6

[2021-11-08 04:56] nadezhday commented on #521
We have a separate case for search page design https://github.com/ispras/lingvodoc-react/issues/522

[2021-11-08 05:17] nadezhday commented on #520
@al-indigo How we can verify this case? Do you have any steps for verification?

[2021-11-08 07:25] nadezhday opened #523 "Phonology: .png file is not generated"
tests\test_phonology.py - FAILed
Steps (covers https://github.com/ispras/lingvodoc-react/issues/451):
Login as admin
Open http://83.149.198.62/dictionary/2088/4/perspective/2088/7/view
Tools->Phonology
Generate.

Expected result: generated .xlsx and .png files
Actual: .png file is not genarated

![image](https://user-images.githubusercontent.com/59951991/140700154-6ec65aa5-4988-415f-a223-6e6bbb494

[2021-11-08 15:19] myrix commented on #523
Works as intended, no .png file due to insufficient data.

Reduce threshold, .png is generated:
![image](https://user-images.githubusercontent.com/2802467/140767951-53b80e5d-2dd6-4b98-85cc-61502f43f02d.png)
![image](https://user-images.githubusercontent.com/2802467/140768341-4bfdc704-e110-4ef3-8719-94c7257a8f40.png)

[2021-11-08 15:19] #523 closed, assigned to nobody

[2021-11-09 04:34] nadezhday commented on #523
@myrix I did not have to change any option (formant chart threshold) before.
Why should I do it now?

By default it (formant chart threshold) is 8 now.
If I change it to 1 then .png is generated.

[2021-11-09 05:19] myrix commented on #523
I assume because dictionary data was slightly altered, probably while there are only 7 instances of 'a' phoneme now, there were 8 before.

[2021-11-09 05:31] nadezhday commented on #523
Ок, I will modify test.

[2021-11-09 09:31] nataliauvarova opened #525 "New Design for Dictionaries"
Make pages
http://lingvodoc.ru/dashboard/dictionaries
http://lingvodoc.ru/dashboard/corpora
with a new design:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782

[2021-11-09 10:16] nataliauvarova opened #526 "New Design for tasks"
New design:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=715%3A6934

[2021-11-09 10:17] nataliauvarova commented on #525
Done

[2021-11-09 10:17] #525 closed, assigned to nataliauvarova

[2021-11-09 10:19] nataliauvarova commented on #509
Fixed

[2021-11-09 10:19] #509 closed, assigned to nataliauvarova

[2021-11-09 10:21] nataliauvarova commented on #526
Fixed the tasks list (without the button "Clear completed")

[2021-11-09 10:21] #526 closed, assigned to nataliauvarova

[2021-11-09 11:22] nadezhday commented on #526
Updated tests.

[2021-11-09 11:26] nadezhday commented on #523
Created one more test where png is generated.
another dictionary is used (/dictionary/3548/1/perspective/3548/2/view)
tests\test_phonology_png.py

[2021-11-09 11:28] nadezhday commented on #526
Clear completed will be implemented in https://github.com/ispras/lingvodoc-react/issues/517

[2021-11-10 14:12] nadezhday commented on #525
Verified.
Test were updated. PASSed.

[2021-11-11 08:52] nadezhday opened #528 "Kazakh and Tatar parsers do not work: Parsing of file kaz.odt failed"
Please take steps to reproduce from this case: https://github.com/ispras/lingvodoc-react/issues/506 Kazakh and Tatar parsers added.

Problem:
Error: (1/2) Parsing of file kaz.odt failed: apertium_kaz_rus() missing 1 required positional argument: 'apertium_path'
![image](https://user-images.githubusercontent.com/59951991/141267566-fc4abaeb-80dc-4872-a3e4-e9427a49220d.png)

This is a regression.

[2021-11-11 11:41] nadezhday commented on #528
Covered in tests\test_kaz_parser.py

[2021-11-11 22:03] #507 closed, assigned to ankan2013

[2021-11-13 14:43] #528 closed, assigned to nobody

[2021-11-15 04:26] nadezhday commented on #528
Verified.
tests\test_kaz_parser.py  PASSed   ('(2/2) Parsing of file kaz.odt finished' verification)

[2021-11-15 09:05] nadezhday commented on #509
Verified
![image](https://user-images.githubusercontent.com/59951991/141753003-3b1662c3-b587-4d37-9ada-1ac9468b6918.png)

![image](https://user-images.githubusercontent.com/59951991/141753054-5b1cbebb-4233-4e3f-bf4d-abe166283557.png)

We can close this issue.

[2021-11-15 09:20] nadezhday commented on #507
1) Problem with -> and <- navigation is fixed.
2) Pressing Num (1,2 etc) - works fine
3) Enter - works

Separate defects will be created for found issues.

[2021-11-15 09:35] nadezhday opened #529 "Highlighted element shoud have a focus during navigation"
This  problem is found during verification of https://github.com/ispras/lingvodoc-react/issues/507 Parser markup keyboard navigation added.

Steps how to create a dictionary, a perspective with markup can be found in #507.

Click icon to open Text markup dialog.
![image](https://user-images.githubusercontent.com/59951991/141756414-397798a1-9ba4-4be3-a9ae-5897e469941a.png)

Click the last word that

[2021-11-15 09:54] nadezhday opened #530 "Disable keyboard navigation if the User defined variant dialog is opened"
This problem is found during verification of #507 Parser markup keyboard navigation added.

Steps how to create a dictionary, a perspective with markup can be found in #507.

Click icon to open Text markup dialog.
![image](https://user-images.githubusercontent.com/59951991/141758183-b2cb51e8-f41c-4b7c-b826-3831f6294007.png)

Click Язучы.
![image](https://user-images.githubusercontent.com/59951991/

[2021-11-15 10:16] nadezhday opened #531 "Buttons move on the bottom of the page and become unavailable in the Text markup dialog"
This problem is found during verification of #507 Parser markup keyboard navigation added.

Steps how to create a dictionary, a perspective with markup can be found in #507.

[kaz.odt](https://github.com/ispras/lingvodoc-react/files/7537671/kaz.odt)

Click icon to open Text markup dialog.

![image](https://user-images.githubusercontent.com/59951991/141762077-f2e8699a-891e-45e2-a018-d773b0d6227d.pn

[2021-11-15 12:49] nadezhday commented on #507
Covered in tests\test_kaz_parser.py

[2021-11-15 18:08] nataliauvarova opened #533 "New Design for Main page"
New Design:

Desktop:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=481%3A3704

Mobile:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=1249%3A5101

[2021-11-16 08:03] nataliauvarova commented on #533
Done

[2021-11-16 08:04] nataliauvarova commented on #469
Fixed

[2021-11-16 08:04] #469 closed, assigned to nataliauvarova

[2021-11-16 08:22] Dina936 commented on #513
<img width="608" alt="Снимок экрана 2021-11-16 в 11 19 20" src="https://user-images.githubusercontent.com/56397844/141947742-7e582d25-4cdc-4f66-83af-4aec18c944eb.png">

[2021-11-16 12:00] nadezhday commented on #533
Переделать
![image](https://user-images.githubusercontent.com/59951991/141981537-55247b15-f74d-4e6b-b4d5-757c0e9e9115.png)

Добавить
![image](https://user-images.githubusercontent.com/59951991/141981651-9d8bf23a-b2a0-41a9-87b6-273ee08cce4c.png)

@Dina936 FYI

[2021-11-16 12:02] Dina936 commented on #533
<img width="823" alt="Снимок экрана 2021-11-16 в 15 01 15" src="https://user-images.githubusercontent.com/56397844/141981947-1bb1f762-d076-4b68-89d5-ab9644965ba5.png">

[2021-11-17 08:53] nataliauvarova commented on #533
text fixed

[2021-11-17 08:53] #533 closed, assigned to nataliauvarova

[2021-11-18 06:33] nadezhday commented on #533
verified

[2021-11-18 06:40] nadezhday commented on #469
Verified

[2021-11-18 10:32] nadezhday commented on #520
Closing without verification.

[2021-11-23 12:22] nataliauvarova commented on #127
Fixed

[2021-11-23 12:22] nataliauvarova commented on #513
Fixed

[2021-11-23 12:22] #513 closed, assigned to Dina936, nataliauvarova

[2021-11-23 13:26] Dina936 opened #536 "Admin page design"
1. Creating a new TranslationGist inside each category.
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=1326%3A4887

[2021-11-23 14:22] Dina936 opened #537 "Admin page design"
mobile version
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=1340%3A5984

[2021-11-23 14:39] Dina936 opened #538 "Add button to Tools"
Add button to Tools
<img width="612" alt="Снимок экрана 2021-11-23 в 17 37 07" src="https://user-images.githubusercontent.com/56397844/143044442-9db65fbb-0bb6-45de-b046-ec5678711d23.png">

[2021-11-24 05:56] nadezhday commented on #513
verified

[2021-11-24 06:46] nadezhday commented on #127
Header is not visible after scrolling. NOK

Reopening.

![image](https://user-images.githubusercontent.com/59951991/143188555-e0235f3b-87d6-48a9-aae0-a7f8b8b602e3.png)

[2021-12-01 21:17] myrix opened #540 "Cognate suggestions: no results without initial groups"
Open http://lingvodoc.ispras.ru/dictionary/4196/1/perspective/4196/2/view as admin, Tools -> Cognate suggestions, deselect the last dictionary "Dictionary Russian-Chud' which was complied P.K.Uspenski in 1913", click 'Compute', no results:
![image](https://user-images.githubusercontent.com/2802467/144315211-9ec44bd5-be30-43d6-b68a-1898a30b006f.png)

The problem is that selected dictionaries has no

[2021-12-01 21:27] myrix commented on #540
Changed, now we have results:
![image](https://user-images.githubusercontent.com/2802467/144316579-3a58318c-25da-4505-9a89-31855a721f39.png)

[2021-12-01 21:27] #540 closed, assigned to nobody

[2021-12-01 21:28] myrix commented on #540
Note to testers: probably impossible to reproduce without this specific DB state or without specially prepared data in a separate non-production DB state.

[2021-12-07 15:35] nataliauvarova opened #541 "New Year Design"
New Year Design:
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=1398%3A5082

[2021-12-07 16:33] nataliauvarova commented on #538
Only for Admin.

[2021-12-08 05:50] nataliauvarova commented on #541
Done

[2021-12-08 05:50] #541 closed, assigned to nataliauvarova

[2021-12-08 05:51] nataliauvarova commented on #538
Done.

[2021-12-08 05:51] #538 closed, assigned to nataliauvarova

[2021-12-08 05:58] nadezhday commented on #541
Very nice

![image](https://user-images.githubusercontent.com/59951991/145156293-86d0e2ed-ed48-41d0-94a0-f7841ea2bbdc.png)

[2021-12-08 06:53] nadezhday opened #543 "Edit interface translations - localization is needed"
http://83.149.198.62/toolsRoute

![image](https://user-images.githubusercontent.com/59951991/145162309-15f7b40f-b048-49e0-8522-4665091aeab9.png)

Localization is missing for Edit interface translations.

[2021-12-08 07:01] nadezhday commented on #538
Edit interface translations is added (only for admin) - OK

![image](https://user-images.githubusercontent.com/59951991/145163188-7fdbea54-d0f8-4e2f-95d0-9dd48be7e910.png)

Waiting with testing of Edit interface translations functionality.
![image](https://user-images.githubusercontent.com/59951991/145163104-49d8055a-e4e1-4907-99d3-8f03eba8cd3a.png)

Separate defects:
https://github.com/ispras/lin

[2021-12-08 07:24] nadezhday commented on #538
Covered in tests\test_tools_translations.py

[2021-12-09 12:03] nadezhday commented on #540
Closing without verification. Screenshots from @myrix show that functionality works.

[2021-12-10 12:37] myrix opened #544 "Cognate suggestions: faster selection/deselection"
Users report that selection and deselection of words suggested to be grouped as cognates takes significant time, such that the interface does not feel sufficiently responsive.

E.g. open http://lingvodoc.ispras.ru/dictionary/4201/1/perspective/4201/2/view as admin, Tools -> Cognate suggestions, click 'Compute' button, wait for suggestions to appear, try toggling first suggestion checkbox back and

[2021-12-10 12:41] myrix commented on #544
Done something about it.

Local testing, before, min. 1.55 fps, about 600 ms pause:
![image](https://user-images.githubusercontent.com/2802467/145575484-07bae3be-13ab-45aa-b74b-316d3567bab3.png)

Local testing, after, min. 23.71fps, about 100 ms pause:
![image](https://user-images.githubusercontent.com/2802467/145575546-072a6ddc-4dde-462f-92a1-9c553268e5eb.png)

[2021-12-10 12:41] #544 closed, assigned to nobody

[2021-12-12 16:41] myrix opened #545 "Docx -> Eaf corpus conversion"
Users should be able to convert suitably formatted .docx files to Lingvodoc 5-tier .eaf corpora.

[2021-12-12 17:00] myrix commented on #545
Implemented.

To use, open /docx2eaf url. Only signed in users can use the converter.

For files in the standard format, like [Чертыкова_Беседы_14.09.2019.docx](https://github.com/ispras/lingvodoc-react/files/7699137/_._14.09.2019.docx), just select the file via 'Browse...' button, wait for conversion to finish, and you can download the result:
![image](https://user-images.githubusercontent.com/28

[2021-12-14 09:04] nadezhday commented on #508
логин как админ

dashboard > Dictionaries

Кликаем на любой словарь > Properties

![image](https://user-images.githubusercontent.com/59951991/145966936-f97cc5c0-d6f5-429d-9c8b-acfd39da8f7e.png)

![image](https://user-images.githubusercontent.com/59951991/145967054-112cb0b5-33c5-4885-9367-938d6f03adb1.png)

[2021-12-14 12:49] nadezhday opened #546 "Saving dictionary - Failed"
Test FAILed

chrome.test_save_dictionary.test_saving_task_zip

Steps to reproduce:
Login as Julia
Open http://83.149.198.62/dictionary/1106/7053/perspective/1106/7054/view
Save dictionary
click Save sound recordings
Click Save only published
Close
Verify Tasks

Expected:
(4/4) Finished
.xlsx
.zip

Actual: Saving dictionary has never finished
![image](https://user-images.githubusercontent.com/59951

[2021-12-14 13:16] nadezhday commented on #546
For testers: find another dictionary for this test

[2021-12-15 11:14] myrix opened #547 "Cognate tools: select/deselect all dictionaries"
Users should be able to select and deselect all dictionaries in Cognate analysis, reconstruction and suggestions tools with a single click. The same with all dictionaries of a particular language in Cognate multi-language analysis, reconstruction and suggestions tools.

[2021-12-15 11:20] myrix commented on #547
Implemented.
![image](https://user-images.githubusercontent.com/2802467/146177437-8e71ec7a-2f5d-4459-94b7-42e382b3f266.png)
![image](https://user-images.githubusercontent.com/2802467/146177448-4297d2be-ad93-4281-b636-af204e537582.png)

[2021-12-15 11:20] #547 closed, assigned to nobody

[2021-12-16 09:04] nadezhday opened #548 "Compute should be unavailable (if Multiple languages required)"
Test  tests\test_cognate_multi_reconstr.py - FAILed

Steps to reproduce:

Login as admin

Open lexical view for Dictionary of ABC for Moksha language (1892)

http://83.149.198.62/dictionary/1393/19108/perspective/1393/19109/view

Open Tools - Cognate multi-language reconstruction

Result: Multiple languages required Cognate multi-language reconstruction requires dictionaries from at least 2 langua

[2021-12-16 13:57] nataliauvarova commented on #536
done

[2021-12-16 13:57] #536 closed, assigned to nataliauvarova

[2021-12-16 13:57] nataliauvarova commented on #537
done

[2021-12-16 13:57] #537 closed, assigned to nataliauvarova

[2021-12-16 23:35] myrix commented on #548
Fixed.

[2021-12-16 23:35] #548 closed, assigned to nobody

[2021-12-17 08:06] nadezhday commented on #548
verified.

Test - passed

[2021-12-17 08:20] nadezhday opened #550 "Make Add new translation gist button more visible"
Make Add new translation gist button more visible

![image](https://user-images.githubusercontent.com/59951991/146512616-a9958ff9-ce44-4742-b05e-909f929a00ae.png)

[2021-12-17 08:46] nadezhday opened #551 "Edit interface translations: By default the first tab (Perspective) should be active."
Login as admin
Tools > Edit interface translations

Expected: By default the first tab (Perspective) should be active.

Actual: Nothing is selected. No information.

![image](https://user-images.githubusercontent.com/59951991/146515884-39a2f469-a4b7-447d-b1cc-1439fe61b12f.png)

[2021-12-17 08:52] nadezhday opened #552 "Edit interface translations: Duplicated gists"
Login as admin
Tools > Edit interface translations
Perspective

Problem: why do we have so many duplicated gists?

Will we do anything about it (hide)?

![image](https://user-images.githubusercontent.com/59951991/146516440-390f8e2b-9c23-4d5e-a513-d98273871945.png)

[2021-12-17 08:55] nataliauvarova commented on #552
such data comes from the backend,
it will not be possible to hide them.

[2021-12-17 08:55] nadezhday opened #553 "Possibility to delete a gist"
Login as admin
Tools > Edit interface translations
Perspective

How can I delete a gist?

![image](https://user-images.githubusercontent.com/59951991/146517179-ddc1b632-88c9-4615-ba6f-df868d496271.png)

This functionality should be implemented for all tabs.

[2021-12-17 09:01] nadezhday opened #554 "Edit interface translations: Empty fields"
login as admin

Tools - Edit interface translations

Click Field

Why do we have this empty field?

And it cannot be deleted.

![image](https://user-images.githubusercontent.com/59951991/146517782-99a96d13-9253-429d-bbbb-e0e49805b048.png)

[2021-12-17 09:11] nadezhday opened #555 "Edit interface translations: Missing information in lingvo-gist__header"
login as admin

Tools - Edit interface translations

Click Dictionary

We are missing some information. (Edit interface translations)

![image](https://user-images.githubusercontent.com/59951991/146518427-03169841-a5c6-4da6-9d57-364f5beb2865.png)

Info is present:
![image](https://user-images.githubusercontent.com/59951991/146518961-f5fcfeb6-d1a9-4a3d-9315-73d847a15b54.png)

Info is missing:
![ima

[2021-12-17 09:14] Dina936 commented on #550
Made the button brighter
(поменять в компонентах везде)
<img width="735" alt="Снимок экрана 2021-12-17 в 12 13 09" src="https://user-images.githubusercontent.com/56397844/146519778-ea119465-34c3-46bd-a131-19e0551c22e8.png">
<img width="803" alt="Снимок экрана 2021-12-17 в 12 12 47" src="https://user-images.githubusercontent.com/56397844/146519789-5af6ee9b-b10b-4ad6-8425-e6a224c74769.png">

[2021-12-17 09:16] nadezhday opened #556 "Element cannot be deleted - GraphQL error: Error: no such translationatom in the system"
Login as admin
Tools > Edit interface translations
Grant

Add translation

Save

Delete it.
![image](https://user-images.githubusercontent.com/59951991/146519653-8f298f0c-a3a5-44b4-ac19-dc7bfcd6a6a8.png)

Save.

Problem: the element is not deleted. After refresh it appears again.

Uncaught (in promise) Error: GraphQL error: Error: no such translationatom in the system

Exception can be found in Co

[2021-12-17 09:33] nadezhday opened #557 "Edit interface translations: The order of languages"
Login as admin
Tools > Edit interface translations
Services

Problem: The order of languages is different.

![image](https://user-images.githubusercontent.com/59951991/146521950-920d3564-17c4-4da6-9ee2-97e635a2dbc8.png)

Should we do anything about it?

[2021-12-17 10:19] myrix opened #559 "Import Starling dictionaries: Excel-exported CSV import error"
Error on importing [Хантыйская базисная лексика.csv](https://github.com/ispras/lingvodoc-react/files/7734272/default.csv).

Upload the file by User menu -> My files, Browse... select file, select 'Starling' in dropdown, Upload.

Import the file by Home page -> Dashboard -> Import Starling dictionaries, select the file, clik on field 'берёз.', Keep, Next Step, set field type as 'Word', Next Step, a

[2021-12-17 10:26] nadezhday opened #560 "Edit interface translations: Duplicated entries after deletion"
Login as admin
Tools > Edit interface translations
Services

Initial:

![image](https://user-images.githubusercontent.com/59951991/146524149-cc985a64-b241-439b-944b-8ba7fa41ee0a.png)

Add a new translation (Finnish) and Save

![image](https://user-images.githubusercontent.com/59951991/146529672-c3c7ff48-e668-4fdb-955e-b7acc1c3bc94.png)

Delete Russian version and Save

![image](https://user-images

[2021-12-17 10:26] myrix commented on #559
Fixed, work ok.
![image](https://user-images.githubusercontent.com/2802467/146530286-9d8529ae-73c5-4407-a104-815f2284f88e.png)

[2021-12-17 10:26] #559 closed, assigned to nobody

[2021-12-17 10:26] nadezhday commented on #536
Created separate defects:

https://github.com/ispras/lingvodoc-react/issues/550 - Make Add new translation gist button more visible

https://github.com/ispras/lingvodoc-react/issues/551 - Edit interface translations: By default the first tab (Perspective) should be active.

https://github.com/ispras/lingvodoc-react/issues/552 - Edit interface translations: Duplicated gists

https://github.com/ispr

[2021-12-17 10:31] nataliauvarova commented on #551
Fixed

[2021-12-17 10:31] #551 closed, assigned to nataliauvarova

[2021-12-17 10:42] nataliauvarova commented on #555
In order for the title to appear here, you need to add an atom in English

[2021-12-17 11:00] nadezhday commented on #557
If this is very difficult to implement we can leave it as it is (Works as design)

[2021-12-17 11:36] nadezhday commented on #536
verified

[2021-12-17 12:25] nadezhday commented on #551
Verified

[2021-12-17 12:45] nadezhday opened #561 "Edit interface translations: multiple identical localizations for the same dictionary"
Login as admin
Tools > Edit interface translations
Dictionary

What is this?

Dictioanry of Karagass language (author J. Klaproth, 1823)

![image](https://user-images.githubusercontent.com/59951991/146546436-e7208e02-4d56-45b3-b140-cf900c5dff96.png)

![image](https://user-images.githubusercontent.com/59951991/146546094-0b90b5b6-3232-44c1-83fe-34660248ec98.png)

Should we have only 1 language local

[2021-12-17 12:50] nadezhday opened #562 "Edit interface translations: Implement search"
Login as admin
Tools > Edit interface translations
Dictionary (All)

We have so many entries on the page.
It would be great if we implement Search functionality for this menu

[2021-12-17 12:54] nadezhday commented on #536
https://github.com/ispras/lingvodoc-react/issues/561 - Edit interface translations: multiple identical localizations for the same dictionary

https://github.com/ispras/lingvodoc-react/issues/562 - Edit interface translations: Implement search

https://github.com/ispras/lingvodoc-react/issues/563 - Edit interface translations: Performance problem

[2021-12-17 13:01] nadezhday commented on #559
Verified.

![image](https://user-images.githubusercontent.com/59951991/146548375-33ebabb4-5efd-40ed-97d4-acce0abf18b9.png)

[2021-12-17 13:28] nadezhday opened #563 "Edit interface translations: Performance problem"
Login as admin
Tools > Edit interface translations
Dictionary (All)

We have problem with performance.

It takes about 5 sec to load all information - NOK

[2021-12-17 13:36] nadezhday opened #564 "Edit interface translation (Mobile version): The field is not expanded."
Mobile version
Login as admin
Tools > Edit interface translations
Grant

Click on the field to start editing

Problem:

![image](https://user-images.githubusercontent.com/59951991/146552471-41a5c01e-a4d0-429a-a676-6cf97a67d5ed.png)

 The field is not expanded.  Cursor should be placed in the end of text.

[2021-12-17 13:43] nadezhday commented on #564
1)  In addition we have problem to swipe the text. Should we disable horizontal swipe?

If we fix the problem from the description this problem also will be fixed.

2) Can we remove popover if we start editing.
![image](https://user-images.githubusercontent.com/59951991/146553380-cf2403dc-8eba-4a33-b94c-820d9d66fd2d.png)

[2021-12-17 13:48] nadezhday commented on #537
Separate defects:

https://github.com/ispras/lingvodoc-react/issues/564 Edit interface translation (Mobile version): The field is not expanded.

[2021-12-17 14:13] nadezhday commented on #555
@myrix Ivan, should this field be mandatory during dictionary creation?

It looks strange when some data is missing.

[2021-12-17 14:19] myrix commented on #555
It probably shouldn't be mandatory; as far as I remember, it was always possible to set however many dictionary name translations, including just one, only Russian or only English, and users never raised this as an issue.

I wouldn't say that the data is missing, just that it's not set.

[2021-12-20 04:33] nadezhday commented on #555
Will we do anything in this case? Or should we close it as Works as Designed?

[2021-12-20 06:58] nadezhday commented on #552
@myrix can (should) we do anything about this?

[2021-12-20 09:29] nadezhday commented on #559
Covered in tests\test_import_starling_dict_01.py

[2021-12-20 10:03] nataliauvarova opened #565 "Adding localization to the Main Page"

[2021-12-20 10:10] nataliauvarova commented on #565
Now Localization is added in the Admin Panel (http://lingvodoc.ru/edit_translations).
 As part of this task, only the frontend is being done.

[2021-12-20 10:43] myrix commented on #552
Looks like these gists are just representing the same names of different perspectives or different dictionaries, so I don't think we should do anything about it.

Given that these gists are perspectives' names, should we even edit them in this admin tools? If you want to edit perspective's names, just go to it's properties page and edit it, otherwise you risk editing the wrong name. And the same w

[2021-12-20 10:53] nataliauvarova commented on #550
Fixed

[2021-12-20 10:53] #550 closed, assigned to nataliauvarova

[2021-12-20 10:54] nataliauvarova commented on #565
fixed the main page template

[2021-12-20 12:44] nadezhday commented on #545
The results:

Files are generated - OK

BUT

I am not sure about the correctness of converted information. A lot of data is missing.

Look at the screenshots:

![изображение](https://user-images.githubusercontent.com/59951991/146768305-18c7ccd4-537f-4853-a50f-eb18d7fc0344.png)

Problem: the second and the 3d columns are not present in the generated file.

@myrix could you please explain what we sh

[2021-12-20 12:48] nadezhday commented on #545
covered in test_docx2eaf.py

[2021-12-20 12:59] myrix commented on #545
We should get the .eaf file, all other files are just for quick checking and general info, they do not have to contain all columns, so working as intended.

That is intended, first user sets options, then selects the file. This is reflected in the layout, options first, higher, file selection next, lower. If the convertion was with the wrong options, the user just changes options and converts agai

[2021-12-20 16:19] myrix commented on #555
Maybe if there is no English atom, set the header from a Russian atom? If there is neither English nor Russian atoms, set from the first available. Or we can just leave it as it is.

[2021-12-21 04:48] nadezhday commented on #545
1)
@myrix, I suggest to implement additional button: Convert
![image](https://user-images.githubusercontent.com/59951991/146871853-4b1def6f-10bd-452a-9e20-92980a48f287.png)

2)
Then let us rename (as you suggested) '.docx file for convertion':  Select .docx file for conversion (or Browser for .docx file for conversion)

3) Maybe it would be better to have full file names in Converted successfully

[2021-12-21 05:03] nadezhday commented on #552
Closing as Works As Design.

[2021-12-21 05:03] #552 closed, assigned to nataliauvarova

[2021-12-21 05:26] nadezhday commented on #565
Not verified.

http://83.149.198.62/edit_translations

![image](https://user-images.githubusercontent.com/59951991/146875803-30ebea82-c725-4094-b01e-75431ad4a51e.png)

Missing:
-Add new translation gist
-Add Translation

[2021-12-21 05:27] nadezhday commented on #550
![image](https://user-images.githubusercontent.com/59951991/146876260-9f789e31-b07b-4d81-9a1a-7486a3a30011.png)

Verified

[2021-12-21 05:29] nadezhday commented on #537
For testers: cover this functionality

[2021-12-21 05:36] nadezhday opened #567 "Main page: Russian localization is gone"
Russian localization of the first page has disappeared.

![image](https://user-images.githubusercontent.com/59951991/146876848-56bcdcc0-f57b-43fe-8540-d3e444643baa.png)

For testers: Update test_default_page.test_lingvodoc_01

[2021-12-21 06:41] nadezhday commented on #567
tests\test_default_page.py updated to should Eng text.

[2021-12-21 06:59] nataliauvarova commented on #567
Russian Localization is now added through the Admin Panel. (on the page /edit_translations )

[2021-12-21 06:59] #567 closed, assigned to nataliauvarova

[2021-12-21 07:12] nadezhday commented on #567
![image](https://user-images.githubusercontent.com/59951991/146887086-595e8dc9-80f7-42ea-8c19-c15c3b90dea3.png)

On official site http://lingvodoc.ispras.ru/ Only Russian version is present.

[2021-12-21 07:23] nadezhday commented on #567
I do not know how this functionality (localization) is implemented
BUT we should have the same functionality both on http://lingvodoc.ispras.ru/
and http://83.149.198.62/

And it looks strange for me that we need to perform localization for test stand separately.

Can we automate it? Should we use the latest DB?

What should we do in this case?

 @myrix /  @ianlethic

[2021-12-21 07:49] nadezhday commented on #547
Options work.

Verified

The main problem: it is difficult to notice them.

[2021-12-21 09:12] nadezhday opened #568 "Compute should be disabled if Select/deselect all language's dictionaries option is OFF for the second language"
Login as admin

Tools > Cognate multi-language reconstruction

Result: Compute button is disabled - OK (#272)

Add additional language

Result: Compute button is enabled - OK

Set Select/deselect all language's dictionaries option OFF for the second language

Problem: Compute button is still enabled

![image](https://user-images.githubusercontent.com/59951991/146903181-98dbdb14-158b-4573-9fb6-cbe9

[2021-12-21 09:14] nadezhday commented on #547
Covered in tests\test_cognate_analysis.py and tests\test_cognate_multi_reconstr.py

Separate defect is created https://github.com/ispras/lingvodoc-react/issues/568 Compute should be disabled if Select/deselect all language's dictionaries option is OFF for the second language

[2021-12-21 09:17] nadezhday commented on #547
We can verify this case.

[2021-12-21 10:26] myrix commented on #567
Localization is in the DB, if the DB differs, localization can differ. So if we update translations on production, we need to update the DB on testing.

[2021-12-21 10:51] myrix commented on #545
@nadezhday
Will do 1 and 2.

Regarding 4, at the moment we do not plan on it.

Regarding 3, the links are not file names, they are file descriptions, and "check .txt" means ".txt file for checking". As we have ".eaf file" which is the main result, we have ".txt file" for checking and sometimes some other files.

Do you think it would be better for uniformity for links to look like this?
<result .e

[2021-12-21 11:21] myrix commented on #568
Fixed.

[2021-12-21 11:21] #568 closed, assigned to nobody

[2021-12-21 12:36] nadezhday commented on #545
@myrix  1 and 2 is enough.

[2021-12-21 15:02] nataliauvarova commented on #567
@nadezhday  Added to the DB on production - you can check.

[2021-12-21 15:03] nataliauvarova commented on #565
@nadezhday Added to the DB on production - you can check.

[2021-12-21 15:03] #565 closed, assigned to nataliauvarova

[2021-12-21 18:34] myrix commented on #545
Implemented.

[2021-12-21 18:34] #545 closed, assigned to nobody

[2021-12-22 05:06] nadezhday commented on #545
Verified.

[2021-12-22 05:08] nadezhday opened #569 "Localization of Docx -> Eaf corpus conversion feature"
https://github.com/ispras/lingvodoc-react/issues/545 Docx -> Eaf corpus conversion

We need localization.

![image](https://user-images.githubusercontent.com/59951991/147038916-f7036b14-4651-4540-8c47-c6c133bb76d7.png)

[2021-12-22 05:09] nadezhday commented on #545
Are we going to translate this functionality into Russian? Separate enh is created https://github.com/ispras/lingvodoc-react/issues/569

[2021-12-22 05:55] nadezhday commented on #546
In order to verify the generated zip we have increased wait In the test.

BUT

 tests\test_save_dictionary.py - FAIL

Steps to reproduce:

http://83.149.198.62/dictionary/1106/7053/perspective/1106/7054/view

open save dictionary dialog

1) Click Save All button

2) Save sound recordings option - ON

3) Click Save only published button

4) Close dialog and verify tasks

![image](https://user-image

[2021-12-22 06:46] nadezhday commented on #568
Works fine.

Covered in tests\test_cognate_multi_reconstr.py -  PASS

[2021-12-22 07:22] nadezhday commented on #567
Production (http://lingvodoc.ispras.ru/version_route)
Backend:2.1.1+1436-92a11fdb-2021.12.17-10:25
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.10
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.9
Frontend:3cb6ceeb-501-staging-server

I cannot verify localization chanпes (screenshot):

![image](https://user-images.githubusercontent.com/59951991/147051981-3af8a9dc-1e45-46

[2021-12-22 07:30] nadezhday commented on #567
![image](https://user-images.githubusercontent.com/59951991/147052996-4dce3603-144e-48c4-bd2f-5ce585ad7f97.png)

[2021-12-22 07:37] nadezhday commented on #567
Waiting with verification.

[2021-12-22 08:58] nadezhday commented on #450
Covered in tests\test_save_dictionary_02.py

[2021-12-22 10:18] myrix commented on #546
@nadezhday
Key info is "socket.gaierror: [Errno -3] Temporary failure in name resolution", so it is a network error, which seems sometimes appears during download of the files from the production (in this particular case --- download of the sound file), as they are not stored on the testing, so it needs to get them from the production over the net. On production they are just read from the file sy

[2021-12-22 10:21] Dina936 opened #570 "Not translated into Russian"
Steps:
1. Dashboard
2. Dictionarie
![IMAGE 2021-12-22 13:17:08](https://user-images.githubusercontent.com/56397844/147077358-c7c4b57c-6716-4e3d-aadf-d53647442d6d.jpg)
s

[2021-12-22 10:54] nadezhday commented on #567
Backend:2.1.1+1437-de6bb3b0-2021.12.20-13:58+modified-2021.12.22-10:09
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.10
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.9
Frontend:16e8e179-505-staging-server
+ Updated DB

http://83.149.198.62/ - Verified
![image](https://user-images.githubusercontent.com/59951991/147081458-5d2c7f42-7991-4533-92ee-3ccc6b29fc38.png)

![image

[2021-12-22 10:55] nadezhday commented on #567
BUT we still have problem with lingvodoc.ispras.ru

![image](https://user-images.githubusercontent.com/59951991/147081872-f6c8dc52-d380-4485-9f81-e241e66d3323.png)

[2021-12-22 11:11] nadezhday commented on #546
@myrix, @ianlethic
1) We can redesign test (2-3 retries). But these actions usually take to much time.
2) We can use a specific user and test it directly on production. It will take less time.
But what user can be used? 'test' does not have permissions.
![image](https://user-images.githubusercontent.com/59951991/147083448-25ab6377-b1f4-4561-8207-c9bde082cdf7.png)

[2021-12-22 11:41] nadezhday commented on #567
Verified on lingvodoc.ispras.ru

[2021-12-22 11:41] myrix commented on #546
I suggest to find a dictionary with a small number, as small as possible, of sound files, and test on it still on testing; smaller number of sound files will lead to smaller test times.

[2021-12-22 11:51] nadezhday commented on #565
![image](https://user-images.githubusercontent.com/59951991/147087837-eb1358b3-fb8a-40cb-ac03-bc4e13c37538.png)

[2021-12-22 11:52] nadezhday commented on #565
Separate defect https://github.com/ispras/lingvodoc-react/issues/543 - Edit interface translations - localization is needed

[2021-12-22 11:56] nadezhday commented on #563
It is almost impossible to work with this feature.

[2021-12-22 12:30] nadezhday opened #571 "Cognate suggestions: Failed to compute analisys"
We have a new DB

Test tests\test_cognate_suggestions.py (test_lex_cognate_sugg_unselect_match) - Failed
Steps to reproduce:

Login as admin
Open http://83.149.198.62/dictionary/1106/7053/perspective/1106/7054/view
Tools > Cognate_suggestions

Deselect Match translations

Compute

Expected: Analysis results

Actual: Exception

![image](https://user-images.githubusercontent.com/59951991/147092270-2

[2021-12-22 18:08] myrix commented on #571
That was an error in an external library https://github.com/ispras/lingvodoc-ext-oslon due to a too large data size. I sidestepped the error for now, but for real solution we would need to look to the library's author, Mikhail Oslon, who right now does not work with Lingvodoc, so here's hoping this error won't appear any time soon.

@nadezhday
Even if it works, it still requires really large amoun

[2021-12-22 18:08] #571 closed, assigned to nobody

[2021-12-23 06:01] nadezhday commented on #546
Done.
Test is using Dictionary of Alexandrowo dialect of Khanty language (village Novonikol'skoe)
http://83.149.198.62/dictionary/866/5/perspective/866/6/view

But it would be nice to use the large dictionary to detect the problems our users can face with.

[2021-12-23 06:17] #546 closed, assigned to nobody

[2021-12-23 08:05] nadezhday commented on #571
Verified.

[2021-12-23 09:19] nadezhday commented on #544
I was not able to perform this particular scenario.
Free testing:
Testing with  http://83.149.198.62/dictionary/4201/1/perspective/4201/2/view

![image](https://user-images.githubusercontent.com/59951991/147217135-98112f66-8785-4296-aeba-6347fbc1bd54.png)

[2021-12-24 16:13] myrix opened #572 "Phonological statistical distance & phonology error"
User reports failure to compute Phonological statistical distance with two dictionaries
http://lingvodoc.ispras.ru/dictionary/1230/570/perspective/1230/571/view,
http://lingvodoc.ispras.ru/dictionary/657/3/perspective/657/4/view:
<img width="640" alt="image" src="https://user-images.githubusercontent.com/2802467/147363782-c2b41088-0fbd-4c2e-94a7-17aeb7236b8d.png">

Additionally, there is no Phonol

[2021-12-24 17:18] myrix commented on #572
Fixed, now statistical distance & phonology computes ok.

For statistical distance, open http://lingvodoc.ispras.ru/dictionary/1230/570/perspective/1230/571/view, Tools -> Phonological statistical distance, add "Uralic › Mansi › Eastern dialect › Dictionary of Yukonda dialect of Mansi (Published) › Lexical Entries (Published)" perspective, Create, wait for the task to complete:
![image](https://us

[2021-12-24 17:18] #572 closed, assigned to nobody

[2021-12-25 21:43] myrix opened #573 "Cognate acoustic analysis error"
Open http://lingvodoc.ispras.ru/dictionary/657/3/perspective/657/4/view, Tools -> Cognate acoustic analysis, click 'Compute' button, task finishes with error:
![image](https://user-images.githubusercontent.com/2802467/147394034-3548e1b8-21f0-4756-a01b-430a2c114335.png)

[2021-12-25 22:04] myrix commented on #573
Fixed, computes ok.
![image](https://user-images.githubusercontent.com/2802467/147394251-6b94f452-40da-4320-907c-e258d40f6f48.png)

[2021-12-25 22:04] #573 closed, assigned to nobody

[2021-12-26 13:52] myrix opened #574 "Language databases -> Dictionaries page error"
Open http://lingvodoc.ispras.ru/dashboard/dictionaries_all, empty page:
![image](https://user-images.githubusercontent.com/2802467/147410129-0ee6e1e3-2252-4c60-a898-bdb6a0183176.png)

Relevant Sentry issue: https://sentry.at.ispras.ru/ispras/lingvodoc-frontend/issues/972/

[2021-12-26 13:57] myrix commented on #574
Fixed, page works ok:
![image](https://user-images.githubusercontent.com/2802467/147410334-9c860b3e-6770-4920-9fa9-3e9db1e2558e.png)

[2021-12-26 13:57] #574 closed, assigned to nobody

[2021-12-27 05:51] nadezhday commented on #574
@myrix What was the problem?
Should we do anything to avoid this problem in future?

[2021-12-27 10:52] myrix commented on #574
The problem was some old code which was actually not doing anything; the fix removes the code, so there should be no re-occurrence of this problem in the future.

[2021-12-27 12:34] myrix opened #575 "Valency data computation"
Preliminary implementation of valency data computation based on Pavel Grashchenkov's algorithms and code.

[2021-12-27 13:14] myrix commented on #575
Implemented.

Open /dictionary/3648/5/perspective/3648/8/view logged is as any user, Tools -> Valency, wait for the task to complete, it has the links to the data files:
![image](https://user-images.githubusercontent.com/2802467/147475184-af9ced30-4f6c-48fd-adfc-5720b07fefff.png)
![image](https://user-images.githubusercontent.com/2802467/147475190-4911e5f8-9ce0-4d53-8ccf-185b289950f9.png)

[2021-12-27 13:14] #575 closed, assigned to nobody

[2021-12-28 06:01] nadezhday commented on #574
Verified (without auto test coverage).

[2021-12-28 08:05] nataliauvarova commented on #517
design here: https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=715%3A6934

[2021-12-28 08:24] nataliauvarova commented on #517
Done

[2021-12-28 08:24] #517 closed, assigned to nataliauvarova

[2021-12-30 14:22] nataliauvarova commented on #553
Oleg said that he thinks that it is not necessary to delete a gist,
because it can break a lot of other things.
(if I want to delete something from service translations, I just change the contents of some unnecessary gist to the right one)

[2021-12-30 14:22] #553 closed, assigned to nataliauvarova

[2021-12-30 14:44] nataliauvarova commented on #554
You can simply change the contents of an unnecessary gist (in this case, this empty gist) to the right one.

[2021-12-30 14:44] #554 closed, assigned to nataliauvarova

[2022-01-10 05:15] nadezhday commented on #553
I am closing this case as Works as Designed.
BUT
@al-indigo I am not sure that this is a correct decision.
If you can add a gist It should be possible to delete it (unused).
We need a check if it is used somewhere then we cannot delete it.

[2022-01-10 05:28] nadezhday commented on #554
We are always trying to find a workaround for a problem instead of fixing it.
@al-indigo what is the goal? Are we going to make LingvoDoc good?

[2022-01-10 05:29] nadezhday commented on #554
The problem is not fixed.

Won't fix and verified without verification.

[2022-01-10 10:34] myrix opened #577 "Docker container server startup error"
API server inside the docker container does not start, fails with following error:
[code]

[2022-01-10 12:02] myrix commented on #577
Fixed.

[2022-01-10 12:02] #577 closed, assigned to nobody

[2022-01-10 13:01] nadezhday opened #578 "Cognate multi-language reconstruction - Failed to compute cognate analysis (exception)"
tests\test_cognate_multi_reconstr.py  - FAIL  (scenario from https://github.com/ispras/lingvodoc-react/issues/272 and https://github.com/ispras/lingvodoc-react/issues/568)

Login as admin

Open http://83.149.198.62/dictionary/1393/19108/perspective/1393/19109/view

Tools -> 'Cognate multi-language reconstruction'

Verify that Compute is disabled - OK

Select the second language (Udmurt)

Verify: C

[2022-01-11 04:47] nadezhday commented on #578
Works fine.

Version
Backend:2.1.1+1448-c427eae6-2022.01.10-10:36+modified-2022.01.11-01:00
uniparser-erzya:1.1.2
uniparser-komi-zyrian:1.1.10
uniparser-meadow-mari:1.1.7
uniparser-moksha:1.1.0
uniparser-udmurt:2.1.9
Frontend:7b7bc0e5-515-staging-server

Closing.

[2022-01-11 04:48] #578 closed, assigned to nadezhday

[2022-01-11 04:49] nadezhday commented on #577
Verified

[2022-01-11 12:13] nadezhday commented on #575
Verified.

Covered in tests\test_valency.py

[2022-01-11 12:14] nadezhday commented on #517
Covered in tests\test_valency.py

[2022-01-11 12:25] nadezhday opened #579 "Valency dialog"
from https://github.com/ispras/lingvodoc-react/issues/575
1) The main problem that we start generating valency files as soon as we invoke Tools->Valency command.
That is not right.
We need to implement additional dialog the same as for other commands.
Separate case will be created.

[2022-01-11 12:26] nadezhday opened #580 "Valency and Statistical distance localization"
Tools - Valency command should be localized

![image](https://user-images.githubusercontent.com/59951991/148942147-438ecf64-056c-4d1d-97cc-e0286fa00f0e.png)

[2022-01-11 12:27] nadezhday commented on #580
from https://github.com/ispras/lingvodoc-react/issues/575

[2022-01-11 12:27] nadezhday commented on #575
1) The main problem that we start generating valency files as soon as we invoke Tools->Valency command.
That is not right.
We need to implement additional dialog the same as for other commands.
Separate case will be created (https://github.com/ispras/lingvodoc-react/issues/579).

2) We need add translation for Valency

![image](https://user-images.githubusercontent.com/59951991/148941927-a64a3e3c-

[2022-01-12 04:51] myrix commented on #580
Localized, at lingvodoc.ispras.ru:
![image](https://user-images.githubusercontent.com/2802467/149065870-db73dead-6cc3-4fa3-a590-4da7f2477785.png)

[2022-01-12 04:51] #580 closed, assigned to nobody

[2022-01-12 08:03] nadezhday commented on #572
Covered in tests\test_phonological_statistic_distance_02.py
and in tests\test_phonology_02.py

[2022-01-12 08:03] nadezhday commented on #572
Verified

[2022-01-12 08:08] nadezhday commented on #517
verified

[2022-01-12 08:38] nadezhday commented on #573
Verified.
Covered in tests\test_cognate_acoustic_analysis.py

[2022-01-13 15:03] Dina936 opened #581 "Improve UI"
steps: Dashboard - Dictionaries - Role

![2022-01-13_14-54-56](https://user-images.githubusercontent.com/56397844/149354660-757a6522-58f5-42de-8682-b4c8b932e145.png)
<img width="1440" alt="Roles" src="https://user-images.githubusercontent.com/56397844/149354668-4b978719-ae30-4f23-a3a6-718675161916.png">
s

[2022-01-13 15:09] Dina936 opened #582 "Improve UI - organizations"
Steps: Dashboard - Dictionaries - Organizations

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782
![2](https://user-images.githubusercontent.com/56397844/149355743-e633ad81-3ac2-4fe6-9c57-5c88a67e4507.png)
<img width="1440" alt="Organizations" src="https://user-images.githubusercontent.com/56397844/149355747-c03d7da9-4215-4e61-9335-c2e9d8bf1014.png">

[2022-01-13 15:11] Dina936 opened #583 "Improve UI - statistics"
Steps: Dashboard - Dictionaries - Statistics

https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782
![3](https://user-images.githubusercontent.com/56397844/149356046-7e65c9a4-6482-405c-bf65-fe4052406196.png)
<img width="1440" alt="Statistics" src="https://user-images.githubusercontent.com/56397844/149356055-0bfc83f8-6739-4944-9b2c-e546d723429f.png">

[2022-01-17 14:59] Dina936 opened #584 "Improve UI - save dictionary"
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782
![2022-01-13_15-41-04 1](https://user-images.githubusercontent.com/56397844/149792477-48e66336-87d1-4263-8d64-5862670dd860.png)

<img width="808" alt="Снимок экрана 2022-01-17 в 17 59 40" src="https://user-images.githubusercontent.com/56397844/149792851-fccc6905-3a58-4a76-8c89-d0a17c52b224.png">

[2022-01-17 15:45] nataliauvarova commented on #127
Fixed

[2022-01-17 15:45] #127 closed

[2022-01-18 06:40] nadezhday commented on #127
Verified

[2022-01-20 05:05] nadezhday opened #586 "Kazakh Parser failed - regression"
Test test_kaz_parser - FAILed

![image](https://user-images.githubusercontent.com/59951991/150276154-346d3a3f-3e6e-4315-93b0-3b73d6888f75.png)

Follow steps from #528 (#506)
Expected: (2/2) Parsing of file kaz.odt finished
Actual:
(1/2) Parsing of file kaz.odt failed: module 'lingvodoc.utils.doc_parser' has no attribute 'apertium_kaz_rus'

2) In addition we cannot remove unfinished task.

@myrix s

[2022-01-20 06:21] ankan2013 opened #587 "Composite words parsing fixed"
A pull requests https://github.com/ispras/lingvodoc/pull/1338 and fix (https://github.com/ispras/lingvodoc/pull/1339) were made to allow the analysis of composite words like aaa-bbb by morphological analyzers. The idea is that both cases should work: 1) a morphological analyzer has a result for aaa-bbb 2) a morphological analyzer has not result for aaa-bbb, but it has a result for aaa or(and) bbb.

[2022-01-20 06:21] #587 closed, assigned to nobody

[2022-01-20 10:44] Dina936 opened #588 "Can't see notification"
When we change the settings, a message appears that we cannot see. Is there any way to bring it to the fore?
<img width="674" alt="Снимок экрана 2022-01-20 в 13 38 48" src="https://user-images.githubusercontent.com/56397844/150323720-6f59c42b-fe6f-4224-978e-3606ad1c136c.png">

[2022-01-20 11:35] nadezhday commented on #586
The regression was fixed
(https://github.com/ispras/lingvodoc-react/issues/587)

Test  - PASSed

[2022-01-20 11:36] #586 closed, assigned to ankan2013

[2022-01-20 11:37] nadezhday commented on #587
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_frontend/824/
Tests PASSed

[2022-01-20 12:44] nadezhday commented on #587
Covered in tests\test_parser_pochelamut.py

[2022-01-20 12:44] nadezhday commented on #587
Verified

[2022-01-21 14:47] nataliauvarova commented on #581
Done

[2022-01-21 14:48] nataliauvarova commented on #588
Fixed

[2022-01-21 14:48] #588 closed, assigned to nataliauvarova

[2022-01-21 14:48] nataliauvarova commented on #584
Done

[2022-01-24 04:43] nadezhday commented on #581
Reopened.
[x] is not implemented according to design.
![image](https://user-images.githubusercontent.com/59951991/150723257-cef7636b-7f18-418a-b822-8fce8c016d9a.png)

[2022-01-24 04:51] nadezhday opened #591 "Localization of Roles dialog"
https://github.com/ispras/lingvodoc-react/issues/581 Improve UI

We still do not have localization for Roles dialog.

@al-indigo FYI

[2022-01-24 04:51] nadezhday commented on #584
Separate defect is created: https://github.com/ispras/lingvodoc-react/issues/591 Localization of Roles dialog

[2022-01-24 04:53] nadezhday commented on #581
Separate defect is created: #591 Localization of Roles dialog

[2022-01-24 04:58] nadezhday opened #592 "Localization is missing for Save dictionary dialog"
https://github.com/ispras/lingvodoc-react/issues/584 - Improve UI - save dictionary

Localization is missing

![image](https://user-images.githubusercontent.com/59951991/150724480-168f056e-6960-42e7-aaae-91e0ffe18a0c.png)

[2022-01-24 05:26] nadezhday opened #593 "Implement [x] in all dialogs"
The left issue from https://github.com/ispras/lingvodoc-react/issues/584
The left issue from https://github.com/ispras/lingvodoc-react/issues/581

![image](https://user-images.githubusercontent.com/59951991/150726618-8a8184e2-8ef2-4daa-85a6-e8849af7c853.png)

![image](https://user-images.githubusercontent.com/59951991/150726681-3c4ccd45-8841-4b10-8f26-63abfaa88eeb.png)

We need to implement [x] as

[2022-01-24 05:27] nadezhday commented on #581
Closing this issue.

Separate enhancement is created https://github.com/ispras/lingvodoc-react/issues/593 Implement [x] in all dialogs

[2022-01-24 05:27] #581 closed, assigned to nataliauvarova

[2022-01-24 05:27] nadezhday commented on #584
1) We have problem with [x]
![image](https://user-images.githubusercontent.com/59951991/150724238-fd9f378f-7717-40e7-97bc-5a1c22d0d22c.png)

Separate enhancement is created #593 Implement [x] in all dialogs
2) Localization is missing
![image](https://user-images.githubusercontent.com/59951991/150724383-21d08a4b-55af-476a-a1b0-965d914f8d26.png)
Separate defect is created: https://github.com/ispras/

[2022-01-24 05:50] nadezhday commented on #584
@nataliauvarova  What was implemented in this case?
I cannot see your changes.

[2022-01-24 06:40] nadezhday commented on #584
Reloaded new DB. Nothing.
![image](https://user-images.githubusercontent.com/59951991/150734181-76db79bb-1282-41da-884f-bee0f68f7f99.png)

[2022-01-24 06:43] nadezhday commented on #591
In addition it would be nice to add localization for the following context commands
![image](https://user-images.githubusercontent.com/59951991/150734558-1436d8c1-ab62-401e-9e39-30c083b6ae72.png)

[2022-01-24 06:49] nadezhday commented on #591
+Localize button title Remove user
![image](https://user-images.githubusercontent.com/59951991/150735110-6e484941-25d9-47ea-9367-9637059bb5a0.png)

[2022-01-24 11:14] ankan2013 opened #595 "Apertium Sah parser language"
A pull request https://github.com/ispras/lingvodoc/pull/1341 was made to add a new parser to the system.
Steps to reproduce a common use case:
Steps 1-11 from https://github.com/ispras/lingvodoc-react/issues/587, on step 8 another file should be uploaded:
[sah.odt](https://github.com/ispras/lingvodoc-react/files/7925062/sah.odt)
and on step 9 the new parser "Парсер якутского языка Apertium (монояз

[2022-01-24 11:24] ankan2013 opened #596 "Parser variants edition allowed"
A pull request https://github.com/ispras/lingvodoc-react/pull/589 was made to allow a user edit not only user's variants, but also variants made by a parser.
Steps for testing:
1) make everything described at https://github.com/ispras/lingvodoc-react/issues/595
2) select a word highlighted with red color (e.g. 'саха') and press the violet button ('edit') at one of its variants at the 'Proposed var

[2022-01-24 11:26] #596 closed, assigned to nobody

[2022-01-24 14:05] nataliauvarova commented on #593
Fixed

[2022-01-24 14:05] #593 closed, assigned to nataliauvarova

[2022-01-24 14:07] nataliauvarova commented on #584
Edits have been made to the styles of various elements of this modal window

[2022-01-24 14:09] nataliauvarova commented on #584
Fixed a problem with [x]

[2022-01-24 14:09] #584 closed, assigned to nataliauvarova

[2022-01-25 05:24] nadezhday commented on #593
Verified

![изображение](https://user-images.githubusercontent.com/59951991/150915818-3a5ae4a9-7dad-40e1-b8ff-509bc568d5c4.png)

![изображение](https://user-images.githubusercontent.com/59951991/150915884-206ddb03-67c5-47f9-a09a-504363ec6a69.png)

[2022-01-25 05:35] nadezhday commented on #580
![изображение](https://user-images.githubusercontent.com/59951991/150917072-3752a0ab-b612-47cc-94ab-b2834b8eb89e.png)

![изображение](https://user-images.githubusercontent.com/59951991/150917230-9f626606-1ed4-4e22-8232-d5669cbaf645.png)

@myrix.  Cognate multi-language analysis.  Is it a special one? Why it is not translated?

[2022-01-25 05:37] nadezhday commented on #584
Verified.

[2022-01-25 05:38] nadezhday commented on #588
Verified.
Error message is visible now/

[2022-01-25 06:53] nadezhday commented on #595
Not verified

Error occurred during parser process.
![изображение](https://user-images.githubusercontent.com/59951991/150926205-f89a2d9d-ff87-4ef1-9075-a4ba3214f06a.png)

(1/2) Parsing of file sah.odt failed: An error occured during Apertium parser process running

[2022-01-25 11:28] nadezhday commented on #595
Parser has been installed on test env.

Works.
![изображение](https://user-images.githubusercontent.com/59951991/150968792-e69bfdbd-17d5-41bb-a157-595e1696fe48.png)

[2022-01-25 11:28] #595 closed, assigned to ankan2013

[2022-01-25 11:28] nadezhday commented on #595
Covered in  tests\test_parser_sah.py

[2022-01-25 17:28] myrix opened #599 "Translation cache bug"
Open /edit_translations logged in as admin, change a Russian version of some translation gist, e.g. of "Cognate analysis" to e.g. "Анализ когнатов ИЗМЕНЕНО", save changes, check (e.g. by opening 'Инструменты' in /dictionary/657/3/perspective/657/4/view) that Russian translation in the interface has not changed.

[2022-01-25 17:32] myrix commented on #599
Fixed, now translations in the interface change as expected.

[2022-01-25 17:32] #599 closed, assigned to nobody

[2022-01-26 04:56] nadezhday opened #600 "Menu modification and its localization"
Menu modification and its localization:

YNormanskaya:
1. Карта языков и диалектов
Map of the languages and dialects

2. Поиск и построение карт
Search and map’s creating

3. Библиотека лингвистических карт
Library of linguistic maps

4. Карта близости языков и диалектов
Language genetic proximity map

5. Редактировать классификацию диалектов
Edit of the dialects classification

6. Редактировать п

[2022-01-26 05:15] nadezhday commented on #599
![image](https://user-images.githubusercontent.com/59951991/151107795-f8ef6c27-2989-4965-aa9b-c3892cd8b913.png)

[2022-01-26 05:17] nadezhday commented on #580
https://github.com/ispras/lingvodoc-react/issues/599 - separate defect for Cognate multi-language analysis

This case is verified

[2022-01-26 05:19] nadezhday commented on #599
This is the left problem from https://github.com/ispras/lingvodoc-react/issues/580
Now the problem is fixed

![image](https://user-images.githubusercontent.com/59951991/151108001-4af4126a-a21e-40f3-8821-b778a948bf34.png)

Verified here: http://lingvodoc.ispras.ru/dictionary/657/3/perspective/657/4/view

[2022-01-26 05:34] nadezhday opened #601 "Wrong localization for 'Search'"
![image](https://user-images.githubusercontent.com/59951991/151109144-d6f40a69-fdc1-4513-8755-3146c8559db1.png)

'Search'

Select Rus localization

![image](https://user-images.githubusercontent.com/59951991/151109219-cf135be9-221b-4b90-9774-8e3ae6602dda.png)

Поиск и построение карт

This is incorrect translation.

[2022-01-26 05:41] nadezhday commented on #601
![image](https://user-images.githubusercontent.com/59951991/151109828-270411cd-1f72-4216-9cc5-5bd66d70dba9.png)

[2022-01-26 08:26] Dina936 commented on #600
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=481%3A3704

1) Change text
2) Move arrows down

[2022-01-26 09:27] nadezhday opened #602 "Impossible to use digits, ARROW RIGHT and ARROW LEFT in User defined variant dialog"
Problem is found during verification of https://github.com/ispras/lingvodoc-react/issues/596 Parser variants edition allowed

Follow the steps from #596 to open User defined variant dialog

1) Initial
![image](https://user-images.githubusercontent.com/59951991/151136279-d31f0a79-935e-4cc3-8e83-986e490214c5.png)

2) in the dialog click on 'c' of caxa and use ARROW_right
![image](https://user-images

[2022-01-26 09:28] nadezhday commented on #596
Buttons Edit, Delete have been implemented OK
Confirmation for deletion - OK
![image](https://user-images.githubusercontent.com/59951991/151133586-80e9502e-edce-4edd-a311-2ca6daaf4437.png)

Dialog User defined variant opens. - OK
Data is saved - OK

![image](https://user-images.githubusercontent.com/59951991/151133884-232344b9-8264-4470-9366-ab72bc6fdebd.png)

Note: Because ALL fields are required

[2022-01-26 09:48] nadezhday commented on #596
This case can be verified
Covered in tests\test_parser_sah.py

[2022-01-26 09:52] nadezhday commented on #595
verified

[2022-01-26 10:53] nadezhday commented on #599
http://83.149.198.62/dictionary/4467/4/perspective/4467/7/edit

![image](https://user-images.githubusercontent.com/59951991/151150151-9a3991e7-fb46-4490-ae0c-5c2ff7b9be36.png)

Separate case
Cognate suggestions (disabled, perspective is not published)
Cognate multi-language suggestions (disabled, perspective is not published)

https://github.com/ispras/lingvodoc-react/issues/605  Localization Cogn

[2022-01-26 10:56] nadezhday commented on #601
This is a regression.

![image](https://user-images.githubusercontent.com/59951991/151151082-a49ffef5-b02a-443a-877d-056868f72907.png)

[2022-01-26 11:24] nadezhday opened #604 "Improve localization"
https://github.com/ispras/lingvodoc-react/issues/601 Wrong localization for 'Search'
clearly shows that a user can destroy our tool.

YNormanskaya asks if it is possible to give rights to people (some of them) to add localization with /edit_translations

@al-indigo, @myrix  Should we do anything about this?
1) a new role
2) improve usability
3)Delete duplicates
4)Delete empty entries
5)Add search

[2022-01-26 11:34] nataliauvarova commented on #601
Fixed (fixed in the admin panel on production)

[2022-01-26 11:34] #601 closed, assigned to nataliauvarova

[2022-01-26 14:08] nataliauvarova commented on #600
Done

[2022-01-26 14:08] #600 closed, assigned to nataliauvarova

[2022-01-27 04:28] nadezhday opened #605 "Localization Cognate commands (disabled, perspective is not published)"
http://83.149.198.62/dictionary/4467/4/perspective/4467/7/edit
![image](https://user-images.githubusercontent.com/59951991/151291891-e5588486-d63c-4140-9d0c-f8e79272aa3a.png)

Cognate suggestions (disabled, perspective is not published)
Cognate multi-language suggestions (disabled, perspective is not published)

[2022-01-27 05:44] ankan2013 commented on #602
Fix: https://github.com/ispras/lingvodoc-react/pull/606

[2022-01-27 14:26] nataliauvarova commented on #592
Fixed

[2022-01-27 14:26] #592 closed, assigned to nataliauvarova

[2022-01-28 19:16] ankan2013 commented on #602
An error detected in previous fix, new fix: https://github.com/ispras/lingvodoc-react/pull/608

[2022-01-28 19:16] #602 closed, assigned to ankan2013

[2022-01-31 03:40] ankan2013 opened #609 "Apertium Bashkir language parsers"
A pull request [ispras/lingvodoc#1341](https://github.com/ispras/lingvodoc/pull/1343) was made to add two parsers for Bashkir language to the system.
Steps to reproduce a common use case:
Steps 1-11 from #587, on step 8 another file should be uploaded:
[bak.odt](https://github.com/ispras/lingvodoc-react/files/7967874/bak.odt)

and on step 9 the new parser "Парсер башкирского языка Apertium (монояз

[2022-01-31 15:53] nataliauvarova commented on #591
Fixed

[2022-01-31 15:53] #591 closed, assigned to nataliauvarova

[2022-02-01 08:14] nataliauvarova commented on #570
Fixed (changes in the repository)

[2022-02-01 08:14] #570 closed, assigned to nataliauvarova

[2022-02-02 03:26] nadezhday commented on #601
Verified

[2022-02-02 03:28] nadezhday commented on #592
Verified
![image](https://user-images.githubusercontent.com/59951991/152088702-eabd8914-72a9-43d0-aebf-d44cd04a871f.png)

[2022-02-02 03:30] nadezhday commented on #591
Verified.

[2022-02-02 03:36] nadezhday commented on #600
Verified

[2022-02-02 03:37] nadezhday commented on #570
Verified
![image](https://user-images.githubusercontent.com/59951991/152089463-e80eb471-cdce-4e05-b4bc-2e6c4df2be3f.png)

[2022-02-02 04:30] nadezhday commented on #602
Verified

[2022-02-02 04:40] nadezhday opened #611 "Save markup dilaog: "GraphQL error: local variable 'perspective_id' referenced before assignment""
Follow the steps from https://github.com/ispras/lingvodoc-react/issues/595

In the opened Text markup dialog  select Саха
Edit values
Click Save in User defined dialog
Click Save in Text markup dialog
![image](https://user-images.githubusercontent.com/59951991/152094038-3a06d9e9-0ace-4538-a4a4-75d1e43980eb.png)

Error: GraphQL error: local variable 'perspective_id' referenced before assignment

![

[2022-02-02 05:29] nadezhday commented on #611
Covered in tests\test_parser_sah.py
For testers: Remove SkipTest as soon as this case is fixed.

[2022-02-02 11:27] ankan2013 commented on #611
Fixed

[2022-02-02 11:27] #611 closed, assigned to ankan2013

[2022-02-03 06:11] nadezhday commented on #611
Verified.
Covered intests\test_parser_sah.py - PASS

[2022-02-03 06:32] nadezhday commented on #609
It does not work.

![image](https://user-images.githubusercontent.com/59951991/152292867-1e28c074-9ec5-4d02-95e9-778b81419859.png)

Reopen.

[2022-02-03 06:38] nadezhday commented on #609
For tester: cover tests\test_parser_bashkir.py

[2022-02-03 08:29] nadezhday commented on #609
@myrix thanks for installing missing files on our test env.
@ankan2013 FYI
It would be nice to perform such steps every time we implement any functionality for parsers.

[2022-02-03 08:29] #609 closed, assigned to ankan2013

[2022-02-03 08:29] nadezhday commented on #609
Verified

[2022-02-03 09:16] nadezhday commented on #537
verified

[2022-02-08 05:24] nadezhday opened #612 "Compute operation: Crash"
Feb  7 06:23:44 bogomolov-lingvodoc kernel: gunicorn[22088]: segfault at 7ffe68c93ff8 ip 00007f2fd6ffaa5f sp 00007ffe68c94000 error 6 in liboslon.so[7f2fd6fef000+18000]
сегодня:
Feb  8 06:25:18 bogomolov-lingvodoc kernel: gunicorn[15412]: segfault at 7ffc82e2dff8 ip 00007fdd43738a5f sp 00007ffc82e2e000 error 6 in liboslon.so[7fdd4372d000+18000]

The approx steps (I cannot find the exact steps to r

[2022-02-10 03:56] nadezhday commented on #481
The problem is fixed.

[2022-02-10 03:56] #481 closed, assigned to nobody

[2022-02-10 03:59] nadezhday commented on #350
Should we close it  as Works as designed?

[2022-02-10 04:03] nadezhday commented on #196
![image](https://user-images.githubusercontent.com/59951991/153334888-29740f97-1b0d-4666-9931-b67871ec780f.png)
The left Localization problem.

[2022-02-10 04:05] nadezhday commented on #174
Almost all commands have been translated. Separate defect were created for the left ones.
Closing.

[2022-02-10 04:05] #174 closed

[2022-02-10 04:05] nadezhday commented on #174
Fixed indirectly

[2022-02-10 08:10] nataliauvarova commented on #583
@Dina936 we also need a new design of the statistics table

[2022-02-10 11:19] myrix commented on #612
Won't reproduce.

I suggest trying increasing RAM of the testing machine to 32 GB, this might be the problem.

[2022-02-10 12:12] Dina936 opened #613 "Remove Christmas decor"

[2022-02-10 14:28] nataliauvarova commented on #482
Fixed (in the admin panel on production)

[2022-02-10 14:28] #482 closed, assigned to nataliauvarova

[2022-02-10 16:03] nataliauvarova commented on #613
Done

[2022-02-10 16:03] #613 closed, assigned to nataliauvarova

[2022-02-10 16:58] nataliauvarova commented on #582
If there are no organizations in the list, put a dash (agreed with the designer)
![Снимок экрана 2022-02-10 в 13 51 23](https://user-images.githubusercontent.com/90451645/153457289-90dff5a5-b8ce-4bcd-ba91-1e89bc9f0c65.png)

[2022-02-10 16:59] nataliauvarova commented on #582
Done (https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=988%3A4782)

[2022-02-10 16:59] #582 closed, assigned to nataliauvarova

[2022-02-11 04:38] nadezhday commented on #482
![изображение](https://user-images.githubusercontent.com/59951991/153538291-02195151-b39a-4a1f-8ee8-a64dbc2b466b.png)
Verified

[2022-02-11 04:39] nadezhday commented on #613
Verifed

[2022-02-11 04:55] nadezhday commented on #582
http://83.149.198.62/dashboard/dictionaries

![изображение](https://user-images.githubusercontent.com/59951991/153539097-931aea45-b041-4c8d-b172-50f35e3e9a93.png)

![изображение](https://user-images.githubusercontent.com/59951991/153538987-b944e506-3560-4854-853d-aea76d0dca5b.png)

Localization is not complete for this dialog
![изображение](https://user-images.githubusercontent.com/59951991/153539

[2022-02-11 05:27] nadezhday commented on #582
Updated tests\test_organizations.py test

[2022-02-11 14:29] academic-sakharov commented on #612
VM has been resized to 32 GB of RAM, @nadezhday please check tests

[2022-02-14 06:09] nadezhday commented on #612
Sometimes the problems can be reproduced.
https://jenkins.zeus.intra.ispras.ru/job/test_lingvodoc_frontend/ws/frontend/Screenshots/2022_02_12_05_03_02.432497_test_lex_cognate_sugg_unselect_match.png

Steps were moved to a separate test (tests\test_cognate_suggest_match_off.py)

steps:
Login as admin
Open http://83.149.198.62/dictionary/1106/7053/perspective/1106/7054/view
Tools->  Cognate suggesti

[2022-02-14 16:05] nataliauvarova commented on #289
«Lexical entries not found» and «No coordinate data» were deleted in
https://github.com/ispras/lingvodoc-react/issues/322

other is fixed

[2022-02-14 16:05] #289 closed

[2022-02-15 05:20] nadezhday commented on #289
![image](https://user-images.githubusercontent.com/59951991/153997351-5355dfac-9359-4923-b9ed-dc26c6310251.png)

![image](https://user-images.githubusercontent.com/59951991/153997384-fe5c233c-32bc-444c-aaed-33fb22ebb238.png)

[2022-02-15 05:26] nadezhday opened #616 "Distance map: localization"
Select Russian

Open http://lingvodoc.ispras.ru/distance_map/selected_languages

Localization is needed for buttons

No data found for analysis, please select another dictionary

![image](https://user-images.githubusercontent.com/59951991/153997700-f0491157-cf6b-4315-8cfb-53ea1a03e241.png)

Click Next

![image](https://user-images.githubusercontent.com/59951991/153997774-549a55be-5528-4296-b191-08

[2022-02-15 05:31] nadezhday commented on #289
Separate defect is created https://github.com/ispras/lingvodoc-react/issues/616 Distance map: localization

[2022-02-15 05:33] nadezhday commented on #582
Looks fine

![image](https://user-images.githubusercontent.com/59951991/153998842-c1eb628f-db7a-455a-9e1d-c08966ba669d.png)

[2022-02-15 05:41] nadezhday opened #617 "Localization for Organizations page"
Login as admin

![image](https://user-images.githubusercontent.com/59951991/153999490-c3d12690-7fb6-4199-ad94-7e2931ad0d32.png)

![image](https://user-images.githubusercontent.com/59951991/153999524-cf195c50-6ba2-457d-9f9c-f8717a3c3787.png)

We need to complete localize

![image](https://user-images.githubusercontent.com/59951991/153999452-60e92823-1327-416b-8a65-ba2986e76fc5.png)

[2022-02-15 05:45] nadezhday opened #618 "'Create organization' dialog and its localization"
Login as admin

![image](https://user-images.githubusercontent.com/59951991/153999920-1b4ab17c-1f37-495c-b7cb-791e1208d9b4.png)

We need localization for Create organization dialog

@Dina do we need to do anything for this dialog or just localization
Click Create organization...

![image](https://user-images.githubusercontent.com/59951991/153999681-8bf54c16-e1bd-47da-a9a9-bc7fd4de0e9d.png)

[2022-02-15 05:45] nadezhday commented on #582
Separate defect is created for Organization page

https://github.com/ispras/lingvodoc-react/issues/618 We need localization for Create organization dialog

[2022-02-15 06:48] Dina936 commented on #618
ok

[2022-02-15 14:33] nataliauvarova commented on #616
Fixed

[2022-02-15 14:33] #616 closed, assigned to nataliauvarova

[2022-02-15 17:23] nataliauvarova commented on #196
Done

[2022-02-15 17:23] #196 closed

[2022-02-16 05:10] nadezhday commented on #196
Verified

![image](https://user-images.githubusercontent.com/59951991/154200200-93817ef8-2e26-4e50-b01c-3275215b2efa.png)

[2022-02-16 05:13] nadezhday commented on #196
I am not sure if we need to translate values in the table. Let us wait for users response.
![image](https://user-images.githubusercontent.com/59951991/154200478-9ea730c4-eead-4ad0-97f2-dfe33d3a896e.png)

[2022-02-16 05:27] nadezhday commented on #616
![image](https://user-images.githubusercontent.com/59951991/154201769-5b482011-1d57-4853-b3fc-2cbe71120379.png)

![image](https://user-images.githubusercontent.com/59951991/154201832-eb3b8e21-60ab-462a-a18a-22370876a1ff.png)

Verified

[2022-02-16 09:07] nataliauvarova commented on #173
Done (all 3 points)

[2022-02-16 09:07] #173 closed

[2022-02-16 10:07] nataliauvarova commented on #605
Done.

Added:

1) Cognate suggestions (disabled, perspective is not published)
Поиск когнатов в разных диалектах (отключено, нет прав)

2) Cognate multi-language suggestions (disabled, perspective is not published)
Поиск когнатов в разных языках (отключено, нет прав)

[2022-02-16 10:07] #605 closed, assigned to nataliauvarova

[2022-02-16 23:23] ankan2013 opened #620 "Reparsing feature fixed"
https://github.com/ispras/lingvodoc/pull/1345 -
A bug about re-parsing of a parser's markup was fixed when some of 'green' words had become broken.
Steps to reproduce a re-parsing:

1) Open http://83.149.198.62/dictionary/4351/15/perspective/4351/18/edit
2) Press 'Table' icon to open markup
![Screenshot from 2022-02-17 01-55-55](https://user-images.githubusercontent.com/45983282/154371555-8c5e311b

[2022-02-16 23:23] #620 closed, assigned to nobody

[2022-02-17 06:13] nadezhday opened #621 "Markup: problem with buttons layout"
Login as admin
Open

http://83.149.198.62/dictionary/3428/6/perspective/3428/9/edit

We have problem with buttons layout. If needed resize window.

![image](https://user-images.githubusercontent.com/59951991/154416171-a875b481-29ca-4e2d-839d-3fd23a60010a.png)

[2022-02-17 06:36] nadezhday commented on #620
Screenshot that show the problem from the user^
![image](https://user-images.githubusercontent.com/59951991/154419127-97cc7b78-7ccf-4148-83e5-637a6b92579b.png)

Open http://83.149.198.62/dictionary/3428/6/perspective/3428/9/edit
Click table icon for
 Торопов Олӧм...
![image](https://user-images.githubusercontent.com/59951991/154417722-6ce2e7e6-4945-4f37-ad3b-f6f75c1009a9.png)

The problem:
![image

[2022-02-17 06:41] nadezhday commented on #620
Here is the initial text :
![image](https://user-images.githubusercontent.com/59951991/154419923-aff0fb68-1e00-4381-ab53-11b40eaad76a.png)

[2022-02-17 07:33] nadezhday commented on #173
Scenario 1: OK
![image](https://user-images.githubusercontent.com/59951991/154426351-3c33854b-bdfc-4537-814b-be6280aa38bb.png)

Scenario 2: OK
![image](https://user-images.githubusercontent.com/59951991/154426661-7667ece7-d02d-47b7-8ea1-3246621fd86c.png)

Scenario 3 (only the first page): OK
![image](https://user-images.githubusercontent.com/59951991/154426910-ef6e09c7-f692-4134-96b7-988e073b6a2b.

[2022-02-18 04:38] nadezhday opened #622 "Reparsing entity: text gets out of the task"
Steps can be taken from https://github.com/ispras/lingvodoc-react/issues/620

![image](https://user-images.githubusercontent.com/59951991/154618464-f37ce236-9251-4425-808a-2d9873203f32.png)

Problem
Reparsing entity: text gets out of the task

Can we fix the message in tasks?

[2022-02-18 04:45] nadezhday commented on #620
The problem with data-type="trSpan" data-value="Ок-ок-ок! "> is fixed by @ankan2013

Verified.

[2022-02-18 06:00] nadezhday commented on #605
Login as admin
http://lingvodoc.ispras.ru/dictionary/3787/16/perspective/3787/19/view
![image](https://user-images.githubusercontent.com/59951991/154626440-2252d55c-f724-45bb-971b-e14820f3a1bb.png)

[2022-02-18 10:55] nadezhday opened #624 "Compute: Failed to compute analysis"
YNormanskaya:
http://lingvodoc.ispras.ru/dictionary/4181/1/perspective/4181/2/edit
Cognate suggestions
Unselect Only for orphans option
Compute

Problem:
![image](https://user-images.githubusercontent.com/59951991/154668800-ba561ecd-8ffd-4e5e-abc9-96052754d87b.png)

![image](https://user-images.githubusercontent.com/59951991/154668878-48ffbf0e-e1cf-4200-bdc5-4bd077caee2c.png)

@myrix, @al-indigo F

[2022-02-18 11:02] nadezhday commented on #624
If we use  http://83.149.198.62/dictionary/4181/1/perspective/4181/2/edit
Computing... process never stops (waiting for 15 mins).

[2022-02-18 14:09] nataliauvarova commented on #120
Localization for  "User account activation/deactivation" will be done in the task: https://github.com/ispras/lingvodoc-react/issues/496
other Fixed.

[2022-02-18 14:09] #120 closed

[2022-02-18 14:20] nataliauvarova commented on #231
1) Previously, ’Объединить предложения' have already been renamed to ‘Объединить лексические входы’
2) done
3) done
4 'Merge selected' and 'Merge all' were previously removed from this page.
Added translations for new buttons: ‘Merge selected on current page’ and ’Merging selected on current page...’
5) done

[2022-02-19 23:01] myrix commented on #624
With /dictionary/4181/1/perspective/4181/2/edit works as intended, after computing for 37 minutes computes successfully and displays computed suggestions.

With /dictionary/418/3/perspective/418/4/edit the error is in the liboslon.so analysis library:
[code]

[2022-02-21 04:46] nadezhday commented on #624
@myrix , @al-indigo What should we do with this?

[2022-02-21 05:17] nadezhday commented on #120
Looks excellent.

[2022-02-21 05:29] myrix commented on #624
If there is no way for Mikhail to get to fix it in his library, I would say label 'wontfix' and close it.

[2022-02-21 05:55] nadezhday commented on #231
Verified
![image](https://user-images.githubusercontent.com/59951991/154896624-111812d9-488d-4c41-a176-b0e55a3f6432.png)

[2022-02-21 07:20] nadezhday commented on #620
Covered in tests\test_parser_reparsing.py

[2022-02-21 08:32] nadezhday commented on #624
Should we report a specific Error message? So we will able to identify that Compute is not completed because of library issue.

[2022-02-21 09:07] myrix commented on #624
I'm not sure we can do that, don't know if at the frontend side in the browser there is a way to distinguish error due to library issue as opposed to some other reason. Will try to look into it.

[2022-02-21 12:13] nadezhday commented on #624
@myrix  are we using this library?
https://github.com/neoakut/lingvodoc-ext-oslon

[2022-02-21 17:04] myrix commented on #624
Yeah, this library, though not exactly it but slightly modified version https://github.com/ispras/lingvodoc-ext-oslon, a single difference being correction sidestepping the error from #571.

[2022-02-22 04:18] myrix opened #625 "Add Mikhail Oslon, Pavel Grashchenkov to authors"
Subj.

[2022-02-22 04:21] myrix commented on #625
Implemented.

[2022-02-22 04:21] #625 closed, assigned to nobody

[2022-02-22 04:23] myrix opened #626 "English version of the 'Lingvodoc creators' page"
We should have an English version of the 'Lingvodoc creators' page http://lingvodoc.ispras.ru/authors_route.

[2022-02-22 15:33] nataliauvarova commented on #496
fixed

[2022-02-22 15:33] #496 closed, assigned to nataliauvarova

[2022-02-22 15:41] nataliauvarova commented on #484
Fixed

[2022-02-22 15:41] #484 closed, assigned to nataliauvarova

[2022-02-22 18:33] myrix commented on #624
Slightly changed error message, closing for now with 'wontfix'.

[2022-02-22 18:33] #624 closed, assigned to al-indigo

[2022-02-24 05:23] nadezhday opened #628 "Lingvodoc creators: page localization"
We need English localization for Lingvodoc creators page

![image](https://user-images.githubusercontent.com/59951991/155463151-53dc8dae-af7c-4ea5-ae95-c51432ba21a0.png)

[2022-02-24 05:23] nadezhday commented on #626
Lingvodoc creators page localization  -
https://github.com/ispras/lingvodoc-react/issues/628

[2022-02-24 05:24] nadezhday commented on #626
![image](https://user-images.githubusercontent.com/59951991/155463282-bcb4c597-20bd-49b6-93a6-11d1ba7fd1f7.png)

[2022-02-24 05:29] nadezhday commented on #628
Closing as duplicate of https://github.com/ispras/lingvodoc-react/issues/626 English version of the 'Lingvodoc creators' page

[2022-02-24 05:30] nadezhday commented on #626
Waiting with verification.
![image](https://user-images.githubusercontent.com/59951991/155463849-0695a160-dc97-4a9d-9400-41cc7df149fc.png)

[2022-02-24 05:49] nadezhday commented on #625
Verified

![image](https://user-images.githubusercontent.com/59951991/155465882-ad81c0b9-06f7-45b7-a707-63132498e740.png)

[2022-02-24 05:50] nadezhday commented on #625
Do not forget: That we have a lot of problems with Mikhail Oslon library.

[2022-02-24 05:54] nadezhday commented on #496
Verified
![image](https://user-images.githubusercontent.com/59951991/155466423-d94c03cb-29bf-4756-a2f5-77126e2938a4.png)

[2022-02-24 11:01] Dina936 opened #629 "Page with organizations"
https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=1927%3A7720

Change the design of the page with organizations

[2022-02-24 12:06] Dina936 commented on #618
Ready https://www.figma.com/file/YEcJISLZlXPqAFfHhS8Q2o/Lingvodoc?node-id=1927%3A7720

[2022-02-25 08:39] nataliauvarova commented on #617
Done

[2022-02-25 08:39] #617 closed, assigned to nataliauvarova

[2022-02-28 08:03] nataliauvarova commented on #626
Done

[2022-02-28 08:03] #626 closed, assigned to nataliauvarova

[2022-02-28 08:03] #628 closed, assigned to nataliauvarova

[2022-03-02 01:26] myrix opened #632 "Docx -> Eaf: no header, no parsing options"
We need a no header, no parsing options for Docx -> Eaf converter to convert files like
[Сказки_Рамстетд Г.Й..docx](https://github.com/ispras/lingvodoc-react/files/8164747/_.docx).

[2022-03-02 01:54] myrix commented on #632
Implemented.

Open http://lingvodoc.ispras.ru/docx2eaf, check 'All tables', 'No header' and 'No parsing' flags, select the file, converts successfully.

[2022-03-02 01:54] #632 closed, assigned to nobody

[2022-03-03 15:24] nataliauvarova commented on #629
Done this page with a new design.

Added the "Organization" tab to the page http://lingvodoc.ru/edit_translations to add translations for the names and descriptions of organizations.

The names of Members and Admins of organizations are currently impossible to localize. Because there is no such functionality on the Lingvodoc project.

Localization for Create organization dialog  will be done here:

[2022-03-03 15:24] #629 closed, assigned to nataliauvarova

[2022-03-04 11:28] jandrew44 commented on #531
Separate scroll bar for variants has been added.
Bottom buttons are visible always now.

[2022-03-04 11:28] #531 closed, assigned to jandrew44

[2022-03-04 12:02] jandrew44 commented on #530
Could not reproduce the problem.
Perhaps it was fixed already.

[2022-03-04 12:02] #530 closed, assigned to ankan2013

[2022-03-04 12:08] nadezhday commented on #530
The problem is not reproduced. Fixed indirectly.

[2022-03-04 12:09] nataliauvarova commented on #543
Fixed

[2022-03-04 12:09] #543 closed, assigned to al-indigo, nataliauvarova

[2022-03-04 12:27] nadezhday commented on #626
Verified.
Tests should be updated.

[2022-03-04 12:36] nadezhday opened #635 "Valency Corpus of Udmurt texts: Failed with Exception"
Test failed
tests\test_valency.py

Steps to reproduce:
Login as Julia
Open http://83.149.198.62/dictionary/3648/5/perspective/3648/8/view
Tools - >valency
Problem:
(1/1) ERROR, exception: Traceback (most recent call last): File "/api/lingvodoc/schema/query.py", line 9505, in async_valency_compute Valency.compute( File "/api/lingvodoc/schema/query.py", line 9761, in compute json.dumps( File "/usr/l